
.arrow-td {
	width: 20px;
}
.green, .grey, .red {
	font-size: 16px;
    top: -2px;
	position: relative;
	@media( min-width: 576px){
		font-size: 19px;
	}
}

.green {
  	color:#28a745;
}

.red {
  	color:#dc3545;
}

.grey {
  	color:#6c757d;
}

@media (max-width: 767.98px) {
	.mobile-bottomcol {
		margin-top: 15px;
	}
	.details-table td:first-child {
		white-space: pre-wrap;
	}
}


.details-table {
	margin-top: 5px;
}

.details-table td {
	padding: 0.75rem;
}

.details-table td:nth-child(2) {
	word-break: break-all;
	white-space: normal;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

.smaller-text {
	font-size: 12px;
	@media (min-width: 576px) {
		font-size: 14px !important;
	}
}

.longer {
	max-width: 100% !important;
    width: 200px;
    display: inline-block;
}

.row{
	flex-direction: column;
	@media (min-width: 992px) {
		flex-direction: row;
	}
}

.extra-info {	
	display: inline-table;
	.fiat {
		font-size: 14px;
		display: block;
		text-align: right;
	}
}

.transaction-fee {
	display: block;
	margin: 0px auto 5px;
	@media (min-width: 576px) {
		display: inline-table;
	}
}


.fiat {
	margin-left: 10px;
	font-size: 13px;
	@media (min-width: 576px) {
		font-size: 14px;
	}
}

.btn-container {
	text-align: right;
	@media (min-width: 576px) {
		display: inline-table;
		float: right;
	}
}