.arrow-td {
	width: 22px;
	display: block;
	padding: 0;
	padding-left: 0px;
	margin: 0;
}

.arrow {
	display: block;
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.arrow:before {
	position: absolute;
	content: '';
	margin: auto;
	border-top: 7px solid transparent;
  	border-bottom: 7px solid transparent;
	margin-left: 5px;
	margin-top: 3px;
}

.arrow:after {
	position: absolute;
	content: '';
	margin: auto;
	width: 10px;
	height: 7px;
	background: rgba(0, 0, 0, 0);	
	margin-left: -1px;
	margin-top: 6px;
}


.arrow.green:before {
  	border-left: 10px solid #28a745;
}
.arrow.green:after {
  	background-color:#28a745;
}

.arrow.red:before {
  	border-left: 10px solid #dc3545;
}
.arrow.red:after {
  	background-color:#dc3545;
}

.arrow.grey:before {
  	border-left: 10px solid #6c757d;
}

.arrow.grey:after {
  	background-color:#6c757d;
}

@media (max-width: 767.98px) {
	.mobile-bottomcol {
		margin-top: 15px;
	}
	.details-table td:first-child {
		white-space: pre-wrap;
	}
}


.details-table {
	margin-top: 5px;
}

.details-table td {
	padding: 0.75rem;
}

.details-table td:nth-child(2) {
	word-break: break-all;
	white-space: normal;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

.smaller-text {
	font-size: 12px;
	@media (min-width: 576px) {
		font-size: 14px !important;
	}
}

.longer {
	max-width: 100% !important;
    width: 200px;
    display: inline-block;
}

.row{
	flex-direction: column;
	@media (min-width: 992px) {
		flex-direction: row;
	}
}

.extra-info {	
	display: inline-table;
	.fiat {
		font-size: 14px;
		display: block;
		text-align: right;
	}
}

.transaction-fee {
	display: block;
	margin: 0px auto 5px;
	@media (min-width: 576px) {
		display: inline-table;
	}
}


.fiat {
	margin-left: 10px;
	font-size: 13px;
	@media (min-width: 576px) {
		font-size: 14px;
	}
}

.btn-container {
	text-align: right;
	@media (min-width: 576px) {
		display: inline-table;
		float: right;
	}
}