.table-col {
  max-width: calc(100% - 470px);
  overflow: hidden;
}

.table {
  font-size: 32px;
  margin-top: 10px;
}

.badges {
  font-size: 28px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-end;

  ::ng-deep .badge {
    margin-left: 0.5em;
  }
}

.row {
  margin-right: 0;
}

.full-width-row {
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: nowrap;
}

.row.nodes {
  background: var(--stat-box-bg);
  margin: 15px 0 0;
}

.nodes {
  font-size: 36px;
  align-items: center;
}

.between-arrow {
  font-size: 24px;
}

.map-col {
  flex-grow: 0;
  flex-shrink: 0;
  width: 470px;
  min-width: 470px;
  padding: 0;
  background: var(--stat-box-bg);
  max-height: 350px;
  overflow: hidden;
}

::ng-deep .symbol {
  font-size: 24px;
}

.dual-cell {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  & > * {
    width: 0;
    flex-grow: 1;

    &:nth-child(2) {
      text-align: center;
      max-width: 1.5em;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
}
