.title-container {
  display: flex;
  flex-direction: row;

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

.tx-link {
  display: flex;
	flex-grow: 1;
	@media (min-width: 768px) {
    top: 1px;
    position: relative;
    align-self: end;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 4px;
	}
	@media (max-width: 768px) {
	  order: 2;
	}
}

.badges {
  font-size: 20px;
}

.badge {
  margin-right: 5px;
}

app-fiat {
  display: block;
  font-size: 13px;
  @media (min-width: 768px) {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
  }
}

.closing-header {
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
}

h3 {
  margin-bottom: 0rem;
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.4rem;
    white-space: nowrap;
  }
  .closing-header {
    flex-wrap: wrap;
  }
  app-closing-type {
    flex-basis: 100%;
    order: 1;
  }
}

.loading-spinner {
  position: absolute;
  top: 400px;
  z-index: 99;
  width: 100%;
  left: 0;
  @media (max-width: 767.98px) {
    top: 450px;
  }
}

.details-button {
  align-self: center;
  margin-inline-start: auto;
}
