.header-bg {
  background-color:#653b9c;
  font-size: 14px;
}
.header-bg a {
  color: #FFF;
  text-decoration: underline;
}

.qr-wrapper {
  background-color: #FFF;
  padding: 10px;
  display: inline-block;
  margin-right: 25px;
}