li.nav-item.active {
  background-color: #653b9c;
}

fa-icon {
  font-size: 1.66em;
}

.navbar {
  z-index: 100;
}

li.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0rem 2rem;
  }
  fa-icon {
    font-size: 1.2em;
  }
  .dropdown-container {
    margin-right: 16px;
  }
  li.nav-item {
    padding: 10px;
  }
}

li.nav-item a {
  color: #ffffff;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

nav {
  box-shadow: 0px 0px 15px 0px #000;
}

.connection-badge {
  margin-left: 10px;
  position: absolute;
  top: 13px;
  left: 70px;
}

.mainnet.active {
  background-color: #653b9c;
}

.liquid.active {
  background-color: #116761;
}

.testnet.active {
  background-color: #1d486f;
}

.dropdown-divider {
  border-top: 1px solid #121420;
}

.dropdown-toggle::after {
  vertical-align: 0.1em;
}

.dropdown-item {
  display: flex;
  align-items:center;
}
