<div
  #tooltip
  *ngIf="rbfInfo"
  class="rbf-tooltip"
  [style.left]="tooltipPosition.x + 'px'"
  [style.top]="tooltipPosition.y + 'px'"
>
  <span class="txid">{{ rbfInfo.tx.txid | shortenString : 24 }}</span>
  <table class="table table-borderless table-striped">
    <tbody>
      <tr>
        <td i18n="transaction.first-seen|Transaction first seen">First seen</td>
        <td><i><app-time kind="since" [time]="rbfInfo.time" [fastRender]="true"></app-time></i></td>
      </tr>
      <tr>
        <td i18n="transaction.fee|Transaction fee">Fee</td>
        <td>{{ rbfInfo.tx.fee | number }} <span class="symbol" i18n="shared.sat|sat">sat</span></td>
      </tr>
      <tr>
        <td i18n="transaction.vsize|Transaction Virtual Size">Virtual size</td>
        <td [innerHTML]="'&lrm;' + (rbfInfo.tx.vsize | vbytes: 2)"></td>
      </tr>
      <tr>
        <span *ngIf="rbfInfo.tx.rbf; else rbfDisabled" class="badge badge-success" i18n="rbfInfo-features.tag.rbf|RBF">RBF</span>
        <ng-template #rbfDisabled><span class="badge badge-danger mr-1"><del i18n="rbfInfo-features.tag.rbf|RBF">RBF</del></span></ng-template>
        <span *ngIf="rbfInfo.tx.mined" class="badge badge-success" i18n="transaction.rbf.mined">Mined</span>        
      </tr>
    </tbody>
  </table>
</div>
