.spinner-border {
  height: 25px;
  width: 25px;
  margin-top: 13px;
}

.container-xl {
  max-width: 1400px;
  padding-bottom: 100px;
}
.container-xl.widget {
  padding-left: 0px;
  padding-bottom: 0px;
}
.container-xl.legacy {
  max-width: 1140px;
}

.container {
  max-width: 100%;
}

tr, td, th {
  border: 0px;
  padding-top: 0.65rem !important;
  padding-bottom: 0.7rem !important;
}

.clear-link {
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.progress {
  background-color: #2d3348;
}

.pool {
  width: 17%;
  @media (max-width: 576px) {
    width: 34%;
  }
}
.pool.widget {
  width: 40%;
  padding-left: 24px;
  @media (max-width: 376px) {
    width: 60%;
  }
}
.pool-name {
  display: inline-block;
  vertical-align: text-top;
  padding-left: 10px;
}

.height {
  width: 10%;
}
.height.widget {
  width: 15%;
  @media (max-width: 576px) {
    width: 10%;
  }
}
.height.legacy {
  width: 15%;
}

.timestamp {
  width: 18%;
  @media (max-width: 900px) {
    display: none;
  }
}
.timestamp.legacy {
  width: 20%;
}

.mined {
  width: 13%;
  @media (max-width: 576px) {
    display: none;
  }
}
.mined.legacy {
  width: 15%;
  @media (max-width: 576px) {
    display: table-cell;
  }
}

.txs {
  padding-right: 40px;
  @media (max-width: 1100px) {
    padding-right: 10px;
  }
  @media (max-width: 875px) {
    display: none;
  }
}
.txs.widget {
  padding-right: 0;
  @media (max-width: 650px) {
    display: none;
  }
}
.txs.legacy {
  padding-right: 80px;
  width: 10%;
}

.fees {
  width: 10%;
  @media (max-width: 650px) {
    display: none;
  }
}
.fees.widget {
  width: 20%;
}

.reward {
  width: 10%;
  @media (max-width: 576px) {
    width: 7%;
    padding-right: 30px;
  }
}
.reward.widget {
  width: 20%;
  @media (max-width: 576px) {
    width: 30%;
    padding-right: 0;
  }
}

.size {
  width: 12%;
  @media (max-width: 1000px) {
    width: 15%;
  }
  @media (max-width: 650px) {
    width: 20%;
  }
  @media (max-width: 450px) {
    display: none;
  }
}
.size.legacy {
  width: 20%;
  @media (max-width: 576px) {
    display: table-cell;
  }
}

/* Tooltip text */
.tooltip-custom {
  position: relative; 
}

.tooltip-custom .tooltiptext {
  visibility: hidden;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}

.scriptmessage {
  overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	vertical-align: middle;
	max-width: 50vw;
  text-align: left;
}