.container-xl {
  max-width: 1400px;
  padding-bottom: 0;
}

.container {
  max-width: 100%;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.progress {
  background-color: #2d3348;
}

.pool-name {
  display: inline-block;
  vertical-align: text-top;
  padding-left: 10px;
}

.height {
  width: 10%;
  @media (max-width: 1100px) {
    width: 10%;
  }
}

.timestamp {
  @media (max-width: 900px) {
    display: none;
  }
}

.mined {
  width: 13%;
  @media (max-width: 576px) {
    display: none;
  }
}

.txs {
  padding-right: 40px;
  @media (max-width: 1100px) {
    padding-right: 10px;
  }
  @media (max-width: 800px) {
    display: none;
  }
}

.fees {
  @media (max-width: 650px) {
    display: none;
  }
}

.pool {
  width: 17%;
}

.reward {
  @media (max-width: 576px) {
    width: 7%;
    padding-right: 30px;
  }
}

.size {
  width: 12%;
  @media (max-width: 1000px) {
    width: 15%;
  }
  @media (max-width: 650px) {
    width: 20%;
  }
}
