.spinner-border {
  height: 25px;
  width: 25px;
  margin-top: -10px;
  margin-left: -13px;
  flex-shrink: 0;
}

.container-xl {
  max-width: 1400px;
}
.container-xl.widget {
  padding-left: 0px;
  padding-bottom: 0px;
}
.container-xl.legacy {
  max-width: 1140px;
}

.container {
  max-width: 100%;
}

tr, td, th {
  border: 0px;
  padding-top: 0.65rem !important;
  padding-bottom: 0.7rem !important;

  .difference {
    margin-left: 0.5em;

    &.positive {
      color: rgb(66, 183, 71);
    }
    &.negative {
      color: rgb(183, 66, 66);
    }
  }
}

.clear-link {
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.progress {
  background-color: var(--secondary);
}

.pool {
  width: 17%;
  @media (max-width: 576px) {
    width: 34%;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}
.pool.widget {
  width: 40%;
  padding-left: 24px;
  @media (min-width: 768px) AND (max-width: 926px) {
    padding-left: 0px;
    width: 60%;
  }
  @media (max-width: 430px) {
    padding-left: 0px;
    width: 60%;
  }
}
.pool-name {
  display: inline-block;
  vertical-align: text-top;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}

.height {
  width: 8%;
}
.height.widget {
  width: 15%;
  @media (max-width: 576px) {
    width: 10%;
  }
  @media (min-width: 768px) AND (max-width: 926px) {
    width: 30%;
  }
  @media (max-width: 430px) {
    width: 30%;
  }
}
.height.legacy {
  width: 15%;
}

.timestamp {
  width: 10%;
  @media (max-width: 1100px) {
    display: none;
  }
}
.timestamp.legacy {
  width: 20%;
  @media (max-width: 1100px) {
    display: table-cell;
  }
  @media (max-width: 850px) {
    display: none;
  }
}

.mined {
  width: 13%;
  @media (max-width: 730px) {
    display: none;
  }
}
.mined.legacy {
  width: 15%;
  @media (max-width: 1000px) {
    padding-right: 20px;
    width: 20%;
  }
  @media (max-width: 576px) {
    display: table-cell;
  }
}

.txs {
  padding-right: 20px;
  width: 6%;
  @media (max-width: 1100px) {
    padding-right: 10px;
  }
  @media (max-width: 875px) {
    display: none;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}
.txs.widget {
  padding-right: 0;
  display: none;
  @media (max-width: 650px) {
    display: none;
  }
}
.txs.legacy {
  width: 18%;
  display: table-cell;
  @media (max-width: 1000px) {
    padding-right: 20px;
  }
}

.fees {
  width: 8%;
  @media (max-width: 820px) {
    display: none;
  }
}
.fees.widget {
  width: 20%;
}
.fee-delta {
  width: 6%;
  padding-left: 0;
  @media (max-width: 991px) {
    display: none;
  }
}
.fee-delta.widget {
  display: none;
}

.reward {
  width: 8%;
  @media (max-width: 576px) {
    width: 7%;
    padding-right: 30px;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 130px;
}
.reward.widget {
  width: 20%;
  @media (max-width: 576px) {
    width: 30%;
    padding-right: 0;
  }
  @media (min-width: 768px) AND (max-width: 926px) {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
  }
  @media (max-width: 430px) {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
  }
}

.size {
  width: 10%;
  @media (max-width: 1000px) {
    width: 13%;
  }
  @media (max-width: 950px) {
    width: 15%;
  }
  @media (max-width: 650px) {
    width: 20%;
  }
  @media (max-width: 450px) {
    display: none;
  }
}
.size.legacy {
  width: 30%;
  @media (max-width: 576px) {
    display: table-cell;
  }
}

.health {
  width: 10%;
  @media (max-width: 1100px) {
    width: 13%;
  }
  @media (max-width: 560px) {
    display: none;
  }

  .progress-text .skeleton-loader {
    top: -8.5px;
  }
}
.health.widget {
  width: 25%;
  @media (max-width: 1105px) {
    display: none;
  }
  @media (max-width: 767px) {
    display: table-cell;
  }
  @media (max-width: 500px) {
    display: none;
  }
}

/* Tooltip text */
.tooltip-custom {
  position: relative; 
}

.tooltip-custom .tooltiptext {
  visibility: hidden;
  color: var(--fg);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}

.scriptmessage {
  overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	vertical-align: middle;
	max-width: 50vw;
  text-align: left;
}
