[Unit]
Description=Bitcoind-signet
After=network.target

[Service]
#ExecStart=/usr/local/bin/bitcoind -daemon -printtoconsole -pid=/bitcoin/bitcoind.pid
# torv2 active
ExecStart=/usr/local/bin/bitcoind -conf=bitcoin-signet.conf -daemon -signet -torpassword=off -printtoconsole -pid=/bitcoin/bitcoind-signet.pid
ExecStop=/usr/local/bin/bitcoin-cli -signet stop

Type=forking
PIDFile=/bitcoin/bitcoind-signet.pid
Restart=on-failure

User=bitcoin
Group=bitcoin

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
