<div class="clock-wrapper" [style]="wrapperStyle">
  <div class="clockchain-bar" [style.height]="chainHeight + 'px'">
    <div class="clockchain">
      <app-clockchain [width]="chainWidth" [height]="chainHeight"></app-clockchain>
    </div>
  </div>
  <div class="clock-face">
    <app-clock-face [size]="clockSize">
      <div class="block-wrapper">
        <ng-container *ngIf="block && block.height >= 0">
          <ng-container *ngIf="mode === 'block'; else mempoolMode;">
            <div class="block-cube">
              <div class="side top"></div>
              <div class="side bottom"></div>
              <div class="side right" [style]="blockStyle"></div>
              <div class="side left" [style]="blockStyle"></div>
              <div class="side front" [style]="blockStyle"></div>
              <div class="side back" [style]="blockStyle"></div>
            </div>
          </ng-container>
          <ng-template #mempoolMode>
            <div class="block-sizer" [style]="blockSizerStyle">
              <app-mempool-block-overview [index]="0"></app-mempool-block-overview>
            </div>
          </ng-template>
          <div class="fader"></div>
          <div class="title-wrapper">
            <h1 class="block-height">{{ block.height }}</h1>
          </div>
        </ng-container>
      </div>
    </app-clock-face>
  </div>
  <div class="stats top left">
    <p>fiat price</p>
    <p>
      <app-fiat [value]="100000000" digitsInfo="1.2-2" colorClass="white-color"></app-fiat>
    </p>
  </div>
  <div class="stats top right">
    <p>priority rate</p>
    <p *ngIf="recommendedFees$ | async as recommendedFees;">{{ recommendedFees.fastestFee }} sat/vB</p>
  </div>
  <div *ngIf="mode !== 'mempool'" class="stats bottom left">
    <p [innerHTML]="block.size | bytes: 2"></p>
    <p>block size</p>
  </div>
  <div *ngIf="mode !== 'mempool'" class="stats bottom right">
    <p>{{ block.tx_count | number }}</p>
    <p class="label">transactions</p>
  </div>
  <ng-container *ngIf="mempoolInfo$ | async as mempoolInfo;">
    <div *ngIf="mode === 'mempool'" class="stats bottom left">
      <p [innerHTML]="mempoolInfo.usage | bytes: 0"></p>
      <p>memory usage</p>
    </div>
    <div *ngIf="mode === 'mempool'" class="stats bottom right">
      <p>{{ mempoolInfo.size | number }}</p>
      <p class="label">unconfirmed</p>
    </div>
  </ng-container>
</div>