.text-small {
  font-size: 12px;
}

code {
  background-color: #1d1f31;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

tr {
  white-space: inherit;
}

.nowrap {
  white-space: nowrap;
}
