<div class="container-xl">
  
  <div class="row row-cols-1 row-cols-md-2 mt-3">

    <!-- pool distribution -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <app-pool-ranking [widget]=true></app-pool-ranking>
          <div class="text-center"><a href="" [routerLink]="['/mining/pools' | relativeUrl]" i18n="dashboard.view-more">View more
              &raquo;</a></div>
        </div>
      </div>
    </div>

    <!-- difficulty -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <app-difficulty-chart [widget]=true></app-difficulty-chart>
          <div class="text-center"><a href="" [routerLink]="['/mining/difficulty' | relativeUrl]" i18n="dashboard.view-more">View more
              &raquo;</a></div>
        </div>
      </div>
    </div>

  </div>
</div>