.dashboard-container {
  text-align: center;
  margin-top: 0.5rem;
  .col {
    margin-bottom: 1.5rem;
  }
}

.card {
  background-color: var(--bg);
}

.graph-card {
  height: 100%;
  @media (min-width: 992px) {
    height: 385px;
  }
}

.fixed-mempool-graph {
  height: 330px;
}

.mempool-graph, .fixed-mempool-graph {
  @media (min-width: 768px) {
    height: 345px;
  }
  @media (min-width: 992px) {
    height: 440px;
  }
}

.card-title {
  font-size: 1rem;
  color: var(--title-fg);
}
.card-title > a {
  color: var(--title-fg);
}

.card-body.pool-ranking {
  padding: 1.25rem 0.25rem 0.75rem 0.25rem;
}
.card-text {
  font-size: 22px;
}

#blockchain-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#blockchain-container::-webkit-scrollbar {
  display: none;
}

.fade-border {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 80%, transparent 100%)
}

.main-title {
  position: relative;
  color: var(--fg);
  opacity: var(--opacity);
  margin-top: -13px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3px;
}

.more-padding {
  padding: 24px 20px !important;
}

.card-wrapper {
  .card {
    height: auto !important;
  }
  .card-body {
    display: flex;
    flex: inherit;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 22px 20px;
  }
}

.skeleton-loader {
  width: 100%;
  display: block;
  &:first-child {
    max-width: 90px;
    margin: 15px auto 3px;
  }
  &:last-child {
    margin: 10px auto 3px;
    max-width: 55px;
  }
}

.card-text {
  font-size: 22px;
}

.title-link, .title-link:hover, .title-link:focus, .title-link:active {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: inherit;
}
