<div class="container-xl dashboard-container">

  <div class="row row-cols-1 row-cols-md-2">

    <div class="col">
      <div class="card double">
        <div class="card-body">
          <!-- pool distribution -->
          <h5 class="card-title">
            <a href="" [routerLink]="['/mining/pools' | relativeUrl]" i18n="mining.pool-share">
              Mining Pools Share (1w)
            </a>
          </h5>
          <app-pool-ranking [widget]=true></app-pool-ranking>

          <!-- pools hashrate -->
          <app-hashrate-chart-pools [widget]=true></app-hashrate-chart-pools>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <!-- hashrate -->
          <h5 class="card-title">
            <a class="link" href="" [routerLink]="['/mining/hashrate' | relativeUrl]" i18n="mining.hashrate">
              Hashrate (1y)
            </a>
          </h5>
          <app-hashrate-chart [widget]=true></app-hashrate-chart>
        </div>
      </div>
    </div>  

  </div>
</div>