.dashboard-container {
  padding-bottom: 60px;
  text-align: center;
  margin-top: 0.5rem;
  @media (min-width: 992px) {
    padding-bottom: 0px;
  }
  .col {
    margin-bottom: 1.5rem;
  }
}

.card {
  background-color: #1d1f31;
}

.card-title {
  font-size: 1rem;
  color: #4a68b9;
}
.card-title > a {
  color: #4a68b9;
}

.card-body {
  padding: 1.25rem 1rem 0.75rem 1rem;
}
.card-body.pool-ranking {
  padding: 1.25rem 0.25rem 0.75rem 0.25rem;
}
.card-text {
  font-size: 22px;
}

#blockchain-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#blockchain-container::-webkit-scrollbar {
  display: none;
}

.fade-border {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 80%, transparent 100%)
}

.main-title {
  position: relative;
  color: #ffffff91;
  margin-top: -13px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3px;
}

.fee-estimation-container {
  display: flex;
  justify-content: space-between;
  @media (min-width: 376px) {
    flex-direction: row;
  }
  .item {
    max-width: 150px;
    margin: 0;
    width: -webkit-fill-available;
    @media (min-width: 376px) {
      margin: 0 auto 0px;
    }
    &:first-child{
      display: none;
      @media (min-width: 485px) {
        display: block;
      }
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 992px) {
        display: block;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    .card-text span {
      color: #ffffff66;
      font-size: 12px;
      top: 0px;
    }
    .fee-text{
      border-bottom: 1px solid #ffffff1c;
      width: fit-content;
      margin: auto;
      line-height: 1.45;
      padding: 0px 2px;
    }
    .fiat {
      display: block;
      font-size: 14px !important;
    }
  }
}

.skeleton-loader {
  width: 100%;
  display: block;
  &:first-child {
    max-width: 90px;
    margin: 15px auto 3px;
  }
  &:last-child {
    margin: 10px auto 3px;
    max-width: 55px;
  }
}
