<table>
  <tbody>
    <tr>
      <td class="td-width" i18n="transaction.accelerated-to-feerate|Accelerated to feerate">Accelerated to</td>
      <td>
        <div class="effective-fee-container">
          @if (accelerationInfo?.acceleratedFeeRate && (!tx.effectiveFeePerVsize || accelerationInfo.acceleratedFeeRate >= tx.effectiveFeePerVsize)) {
            <app-fee-rate [fee]="accelerationInfo.acceleratedFeeRate"></app-fee-rate>
          } @else {
            <app-fee-rate [fee]="tx.effectiveFeePerVsize"></app-fee-rate>
          }
        </div>
      </td>
      <td rowspan="2" *ngIf="tx && (tx.acceleratedBy || accelerationInfo) && miningStats" class="text-right" style="width: 100%;">
        <div class="chart-container" style="width: 100px; margin-left:auto;">
          <div
            echarts
            *browserOnly
            class="chart"
            [initOpts]="chartInitOptions"
            [options]="chartOptions"
            style="height: 72px"
            (chartInit)="onChartInit($event)"
          ></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="td-width" i18n="transaction.accelerated-by-hashrate|Accelerated to hashrate">Accelerated by</td>
      <td *ngIf="acceleratedByPercentage">
        {{ acceleratedByPercentage }} <span class="symbol">of hashrate</span>
      </td>
    </tr>
  </tbody>
</table>