.col {
	&:first-child {
		padding-right: 0;
		td:last-child {
			padding-right: calc(0.3em + 15px);
		}
	}
	&:last-child {
		padding-left: 0;
		td:first-child {
			padding-left: calc(0.3em + 15px);
		}
	}
}

.arrow-td {
	width: 30px;
	padding-top: 0;
	padding-bottom: 0;
}
.green, .grey, .red {
	font-size: 16px;
  top: 1px;
	position: relative;
	@media( min-width: 576px){
		font-size: 19px;
	}
}
.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.grey {
  color: var(--grey);
}

.sig-td {
	width: 30px;
	position: relative;
}

.sig-stack {
	position: relative;
	width: 30px;
	transition: transform 0.2s ease;
}

.sig-td:hover {
	.sig-stack {	
		.sig-key {
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					transform: translate(#{($i - 1) * 6}px, #{($i - 1) * 6}px);
				}
			}
		}

		.sig-overflow {
			opacity: 1;
			transform: translate(30px, 40px);
		}
	}
}

.sig {
	cursor: pointer;
	
	&.sig-overflow {
		opacity: 0;
	}

	&.sighash-0 {
		--sigColor: var(--green);
	}
	&.sighash-1 {
		--sigColor: var(--green);
	}
	&.sighash-2 {
		--sigColor: gold;
	}
	&.sighash-3 {
		--sigColor: cornflowerblue;
	}
	&.sighash-129 {
		--sigColor: darkviolet;
	}
	&.sighash-130 {
		--sigColor: darkorange;
	}
	&.sighash-131 {
		--sigColor: var(--pink);
	}
	&.sig-no-lock {
		--sigColor: var(--red);
	}
	color: var(--sigColor);

	&.sig-key {
		@for $i from 1 through 8 {
			&:nth-child(#{$i}) {
				transform: translate(#{($i - 1) * 3}px, #{($i - 1) * 3}px);
				color: color-mix(in srgb, var(--sigColor) #{100 - ($i - 1) * 10} + '%', black);
				z-index: #{10 - $i};
			}
		}
		@for $i from 4 through 8 {
			&:nth-child(#{$i}) {
				transform: translate(9px, 9px);
			}
		}
	}

	&:hover, &.hovered {
		color: color-mix(in srgb, var(--sigColor) 80%, white);
	}

	::ng-deep svg path {
		pointer-events: auto;
	}
}

.sig-key {
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.2s ease;
	pointer-events: none;

	&.sig-inline {
		position: relative;
		pointer-events: auto;
		margin-right: -5px;
	}
}

.sig-overflow {
	// background-color: var(--tertiary);
	color: white;
	border-radius: 50%;
	font-size: 10px;
	font-weight: bold;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	display: block;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

.annex {
	margin-right: -5px;
	position: relative;
	left: 0px;
	top: 0px;
}

.mobile-bottomcol {
	margin-top: 15px;
	@media (min-width: 992px) {
		margin-top: 0px;
	}
}

.smaller-text {
	font-size: 12px;
	@media (min-width: 576px) {
		font-size: 14px !important;
	}
}

.row{
	flex-direction: column;
	@media (min-width: 992px) {
		flex-direction: row;
	}
}

td.amount {
	width: 36%;
	@media (max-width: 576px) {
		width: 50%;
	}
}
td.amount.large {
	width: 45%;
	@media (max-width: 576px) {
		width: 60%;
	}
}

.extra-info {
	display: none;
	@media (min-width: 576px) {
		display: inline-table;
	}
	.fiat {
		font-size: 14px;
		margin-left: 10px;
		text-align: right;
	}
	.sats {
		color: var(--transparent-fg);
		font-size: 11px;
	}
}

.transaction-fee {
	display: block;
	margin: 0px auto 5px;
	@media (min-width: 576px) {
		display: inline-table;
	}
}

.btn-container {
	text-align: right;
	@media (min-width: 576px) {
		display: inline-table;
		float: right;
	}
}
.fiat {
	margin-left: 10px;
}

.tx-page-container {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	white-space: nowrap;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.assetBox {
	background: color-mix(in srgb, var(--tertiary) 56%, transparent);

}

.details-container {
	padding: 0px;
	tr td {
		padding: 0.75rem;
		font-size: 12px;
		&:first-child {
			color: var(--transparent-fg);
			white-space: pre-wrap;
			width: 150px;
		}
		&:nth-child(2) {
			word-break: break-all;
			white-space: normal;
			font-family: "Courier New", Courier, monospace;
		}
	}
}

.error-unblinded {
	display: block;
	width: 100%;
	color: #d43131;
	text-align: right;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  line-height: 1;
}

.highlight {
	background-color: var(--stat-box-bg);
}

.sigged {
	background-color: #ffffff22;
}

.summary {
	margin-top: 10px;
}

.address {
	font-family: monospace;
}

.p2pk-address {
	display: inline-block;
	margin-left: 1em;
	max-width: 100px;
	@media (min-width: 576px) {
		max-width: 200px
	}
}

.grey-info-text {
	color: var(--grey);
	font-style: italic;
	font-size: 12px;
}

.tx-link {
	width: 0;
	flex-grow: 1;
	margin-inline-end: 2em;
}

.vin-witness {
	.witness-item {
		overflow: hidden;	
	}
}

.badge-ord {
	background-color: var(--grey);
	position: relative;
	top: -2px;
	font-size: 81%;
	border: 0;
	&.primary {
		background-color: var(--primary);
	}
}

.scriptmessage.opreturn-msg {
	max-width: 20px;
	@media (min-width: 476px) {
		max-width: 110px;
	}
	@media (min-width: 576px) {
		max-width: 190px;
	}
	@media (min-width: 768px) {
    max-width: 330px;
	}
	@media (min-width: 850px) {
    max-width: 452px;
	}
	@media (min-width: 992px) {
		max-width: 120px;
	}
	@media (min-width: 1200px) {
		max-width: 180px;
	}
}