
.arrow-td {
	width: 20px;
}
.green, .grey, .red {
	font-size: 16px;
  top: -2px;
	position: relative;
	@media( min-width: 576px){
		font-size: 19px;
	}
}
.green {
  color:#28a745;
}

.red {
  color:#dc3545;
}

.grey {
  color:#6c757d;
}

.mobile-bottomcol {
	margin-top: 15px;
	@media (min-width: 992px) {
		margin-top: 0px;
	}
}

.smaller-text {
	font-size: 12px;
	@media (min-width: 576px) {
		font-size: 14px !important;
	}
}

.row{
	flex-direction: column;
	@media (min-width: 992px) {
		flex-direction: row;
	}
}

.extra-info {
	display: none;
	@media (min-width: 576px) {
		display: inline-table;
	}
	.fiat {
		font-size: 14px;
		margin-left: 10px;
		text-align: right;
	}
	.sats {
		color: #ffffff66;
		font-size: 11px;
	}
}

.transaction-fee {
	display: block;
	margin: 0px auto 5px;
	@media (min-width: 576px) {
		display: inline-table;
	}
}

.btn-container {
	text-align: right;
	@media (min-width: 576px) {
		display: inline-table;
		float: right;
	}
}
.fiat {
	margin-left: 10px;
}

.tx-page-container {
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.assetBox {
	background-color: #653b9c90;
}

.details-container {
	padding: 0px;
	tr td {
		padding: 0.75rem;
		font-size: 12px;
		&:first-child {
			color: #ffffff66;
			white-space: pre-wrap;
			@media (min-width: 476px) {
				white-space: nowrap;
			}
		}
		&:nth-child(2) {
			word-break: break-all;
			white-space: normal;
			font-family: "Courier New", Courier, monospace;
		}
	}
}

.error-unblinded {
	display: block;
	width: 100%;
	color: #d43131;
	text-align: right;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  line-height: 1;
}

@keyframes fireAnimation {
  0% {
    color: #b71c1c;
    opacity: 0.5;
  }
  25% {
    color: #F4511E;
    opacity: 1;
  }
  50% {
    color: #F4511E;
    opacity: 1;
  }
  100% {
    color: #b71c1c;
    opacity: 0.5;
  }
}

.opreturn-icon {
  cursor: help;
  color: #b71c1c;
  opacity: 0.5;
  animation-name: 'fireAnimation';
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  margin-right: 2px;
  transition: ease-in-out 100ms all;
}
