.ct-legend {
    top: 130px;
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: 653px) {
        top: 90px;
    }
  }
  .ct-legend.inverted {
    flex-direction: column !important;
  }