#divider {
  width: 4px;
  min-width: 4px;
  margin-left: 2px;
  height: 200px;
  background-image: url('/resources/divider-new.png');
  background-repeat: repeat-y;
}

.blockchain-wrapper {
  // overflow: hidden;
  height: 235px;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.position-container {
  margin-top: 15px;
}

.position-container.liquid, .position-container.liquidtestnet {
  // left: 420px;
}

@media (max-width: 767.98px) {
  .position-container {
    // left: 95%;
  }
  .position-container.liquid, .position-container.liquidtestnet {
    // left: 50%;
  }
  .position-container.loading {
    // left: 50%;
  }
}

.black-background {
  background-color: #11131f;
  z-index: 100;
  position: relative;
}

.loading-block {
  // position: absolute;
  // width: 300px;
  // left: -150px;
  // top: 0px;
  text-align: center;
  margin: auto;
}