#divider {
  width: 2.5px;
  min-width: 2.5px;
  margin-top: 10px;
  margin-left: 3px;
  height: 200px;
  background-image: url('/resources/divider-new.png');
  background-repeat: repeat-y;
}

.blockchain-wrapper {
  height: 235px;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.position-container {
  margin-top: 15px;
}

.black-background {
  background-color: #11131f;
  z-index: 100;
  position: relative;
}

.loading-block {
  text-align: center;
  margin: auto;
}