<br><hr><br>
<app-global-footer>
  <footer>
    <div class="container-fluid">
      <div class="row main">
          <div class="site-options">
            <div class="selector"><app-language-selector>
                <div class="text-small text-center ng-untouched ng-pristine ng-valid">
                  <select formcontrolname="language"
                    class="custom-select custom-select-sm form-control-secondary form-control mx-auto ng-untouched ng-pristine ng-valid"
                    style="width: 100px;">
                    <option value="ar">العربية</option>
                    <option value="cs">Čeština</option>
                    <option value="da">Dansk</option>
                    <option value="de">Deutsch</option>
                    <option value="en" selected>English</option>
                    <option value="es">Español</option>
                    <option value="fa">فارسی</option>
                    <option value="fr">Français</option>
                    <option value="ko">한국어</option>
                    <option value="hi">हिन्दी</option>
                    <option value="ne">नेपाली</option>
                    <option value="it">Italiano</option>
                    <option value="he">עברית</option>
                    <option value="ka">ქართული</option>
                    <option value="lt">Lietuvių</option>
                    <option value="hu">Magyar</option>
                    <option value="mk">Македонски</option>
                    <option value="nl">Nederlands</option>
                    <option value="ja">日本語</option>
                    <option value="nb">Norsk</option>
                    <option value="pl">Polski</option>
                    <option value="pt">Português</option>
                    <option value="ro">Română</option>
                    <option value="ru">Русский</option>
                    <option value="sl">Slovenščina</option>
                    <option value="fi">Suomi</option>
                    <option value="sv">Svenska</option>
                    <option value="th">ไทย</option>
                    <option value="tr">Türkçe</option>
                    <option value="uk">Українська</option>
                    <option value="vi">Tiếng Việt</option>
                    <option value="zh">中文</option>
                  </select>
                </div>
              </app-language-selector></div>
            <div class="selector"><app-fiat-selector>
                <div class="text-small text-center ng-untouched ng-pristine ng-valid">
                  <select formcontrolname="fiat"
                    class="custom-select custom-select-sm form-control-secondary form-control mx-auto ng-untouched ng-pristine ng-valid"
                    style="width: 150px;">
                    <option value="AUD">Australian Dollar (AUD)
                    </option>
                    <option value="CAD">Canadian Dollar (CAD)
                    </option>
                    <option value="EUR">Euro (EUR)</option>
                    <option value="JPY">Japanese Yen (JPY)
                    </option>
                    <option value="GBP">Pound Sterling (GBP)
                    </option>
                    <option value="CHF">Swiss Franc (CHF)</option>
                    <option value="USD" selected>US Dollar (USD)</option>
                  </select>
                </div>
              </app-fiat-selector></div>
            <div class="selector"><app-rate-unit-selector>
                <div class="text-small text-center ng-untouched ng-pristine ng-valid">
                  <select formcontrolname="rateUnits"
                    class="custom-select custom-select-sm form-control-secondary form-control mx-auto ng-untouched ng-pristine ng-valid"
                    style="width: 100px;">
                    <option value="vb" selected>sat/vB</option>
                    <option value="wu">sat/WU</option>
                  </select>
                </div>
              </app-rate-unit-selector></div>
          </div>
        </div>
      </div>
      <div class="row col-md-12 link-tree">
        <div class="links">
          <p class="category">Explore</p>
          <p><a href="/mining">Mining Dashboard</a></p>
          <p><a href="/lightning">Lightning Dashboard</a></p>
          <p><a href="/blocks">Recent Blocks</a></p>
          <p><a href="/tx/push">Broadcast Transaction</a></p>
          <p><a href="/lightning/group/the-mempool-open-source-project">Connect to our
              Nodes</a></p>
          <p><a href="/docs/api">API Documentation</a></p>
        </div>
        <div class="links">
          <p class="category">Learn</p>
          <p><a fragment="what-is-a-mempool" href="/docs/faq#what-is-a-mempool">What is a mempool?</a></p>
          <p><a fragment="what-is-a-block-explorer" href="/docs/faq#what-is-a-block-explorer">What is a block
              explorer?</a></p>
          <p><a fragment="what-is-a-mempool-explorer" href="/docs/faq#what-is-a-mempool-explorer">What is a mempool
              explorer?</a></p>
          <p><a fragment="why-is-transaction-stuck-in-mempool" href="/docs/faq#why-is-transaction-stuck-in-mempool">Why
              isn't my transaction confirming?</a></p>
          <p><a href="/docs/faq">More FAQs ›</a></p>
        </div>
        <div class="links">
          <p class="category">Networks</p>
          <p><a href="/testnet">Testnet Explorer</a></p>
          <p><a href="/signet">Signet
              Explorer</a></p>
          <p><a href="https://liquid.network/testnet">Liquid Testnet Explorer</a></p>
          <p><a href="https://liquid.network">Liquid Explorer</a></p>
          <p><a href="https://bisq.markets">Bisq Explorer</a></p>
        </div>
        <div class="links">
          <p class="category">Legal</p>
          <p><a href="/terms-of-service">Terms of Service</a>
          </p>
          <p><a href="/privacy-policy">Privacy Policy</a></p>
          <p><a href="/trademark-policy">Trademark Policy</a>
          </p>
        </div>
      </div>
      <div class="row social-links">
        <div class="col-sm-12">
          <a href="https://github.com/mempool" target="_blank">Github</a>
          <a href="https://x.com/mempool" target="_blank">Twitter</a>
          <a href="nostr:npub18d4r6wanxkyrdfjdrjqzj2ukua5cas669ew2g5w7lf4a8te7awzqey6lt3" target="_blank">Nostr</a>
          <a href="https://youtube.com/@mempool" target="_blank">Youtube</a>
          <a href="https://bitcointv.com/c/mempool/videos" target="_blank">BitcoinTv</a>
          <a href="https://mempool.chat" target="_blank">Matrix</a>
        </div>
      </div>
    </div>
  </footer>
</app-global-footer>