<app-indexing-progress></app-indexing-progress>

<div class="full-container">
  <div class="card-header mb-0 mb-md-4">
    <div class="d-flex d-md-block align-items-baseline">
      <span i18n="mining.block-fees">Block Fees</span>
      <button class="btn p-0 ps-2" style="margin: 0 0 4px 0px" (click)="onSaveChart()">
        <fa-icon [icon]="['fas', 'download']" [fixedWidth]="true"></fa-icon>
      </button>
    </div>  

    <form [formGroup]="radioGroupForm" class="formRadioGroup" *ngIf="(statsObservable$ | async) as stats">
      <div class="btn-group" role="group" name="radioBasic">
        <ng-container *ngIf="stats.blockCount >= 4320">
          <input type="radio" class="btn-check" id="blockfees-1m" [value]="'1m'" fragment="1m" [routerLink]="['/graphs/mining/block-fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="blockfees-1m">1M</label>
        </ng-container>
        <ng-container *ngIf="stats.blockCount >= 12960">
          <input type="radio" class="btn-check" id="blockfees-3m" [value]="'3m'" fragment="3m" [routerLink]="['/graphs/mining/block-fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="blockfees-3m">3M</label>
        </ng-container>
        <ng-container *ngIf="stats.blockCount >= 25920">
          <input type="radio" class="btn-check" id="blockfees-6m" [value]="'6m'" fragment="6m" [routerLink]="['/graphs/mining/block-fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="blockfees-6m">6M</label>
        </ng-container>
        <ng-container *ngIf="stats.blockCount >= 52560">
          <input type="radio" class="btn-check" id="blockfees-1y" [value]="'1y'" fragment="1y" [routerLink]="['/graphs/mining/block-fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="blockfees-1y">1Y</label>
        </ng-container>
        <ng-container *ngIf="stats.blockCount >= 105120">
          <input type="radio" class="btn-check" id="blockfees-2y" [value]="'2y'" fragment="2y" [routerLink]="['/graphs/mining/block-fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="blockfees-2y">2Y</label>
        </ng-container>
        <ng-container *ngIf="stats.blockCount >= 157680">
          <input type="radio" class="btn-check" id="blockfees-3y" [value]="'3y'" fragment="3y" [routerLink]="['/graphs/mining/block-fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="blockfees-3y">3Y</label>
        </ng-container>
        <input type="radio" class="btn-check" id="blockfees-all" [value]="'all'" fragment="all" [routerLink]="['/graphs/mining/block-fees' | relativeUrl]" formControlName="dateSpan">
        <label class="btn btn-primary btn-sm" for="blockfees-all">ALL</label>
      </div>
    </form>
  </div>

  <div class="chart" *browserOnly echarts [initOpts]="chartInitOptions" [options]="chartOptions"
    (chartInit)="onChartInit($event)" [style]="{opacity: isLoading ? 0.5 : 1}">
  </div>
  <div class="text-center loadingGraphs" *ngIf="!stateService.isBrowser || isLoading">
    <div class="spinner-border text-light"></div>
  </div>

</div>
