<div [class]="widget === false ? 'full-container' : ''">

  <div class="card-header mb-0 mb-md-4" [style]="widget ? 'display:none' : ''">
    <span i18n="mining.block-fees">Block fees</span>
    <form [formGroup]="radioGroupForm" class="formRadioGroup" *ngIf="(statsObservable$ | async) as hashrates">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="dateSpan">
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="hashrates.availableTimespanDay >= 1">
          <input ngbButton type="radio" [value]="'24h'"> 24h
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="hashrates.availableTimespanDay >= 7">
          <input ngbButton type="radio" [value]="'1w'"> 1W
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="hashrates.availableTimespanDay >= 30">
          <input ngbButton type="radio" [value]="'1m'"> 1M
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="hashrates.availableTimespanDay >= 90">
          <input ngbButton type="radio" [value]="'3m'"> 3M
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="hashrates.availableTimespanDay >= 180">
          <input ngbButton type="radio" [value]="'6m'"> 6M
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="hashrates.availableTimespanDay >= 365">
          <input ngbButton type="radio" [value]="'1y'"> 1Y
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="hashrates.availableTimespanDay >= 730">
          <input ngbButton type="radio" [value]="'2y'"> 2Y
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="hashrates.availableTimespanDay >= 1095">
          <input ngbButton type="radio" [value]="'3y'"> 3Y
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm">
          <input ngbButton type="radio" [value]="'all'"> ALL
        </label>
      </div>
    </form>
  </div>

  <div [class]="!widget ? 'chart' : 'chart-widget'" echarts [initOpts]="chartInitOptions" [options]="chartOptions">
  </div>
  <div class="text-center loadingGraphs" *ngIf="isLoading">
    <div class="spinner-border text-light"></div>
  </div>

</div>

<ng-template #loadingStats>
  <div class="pool-distribution">
    <div class="item">
      <h5 class="card-title" i18n="mining.miners-luck">Hashrate</h5>
      <p class="card-text">
        <span class="skeleton-loader skeleton-loader-big"></span>
      </p>
    </div>
    <div class="item">
      <h5 class="card-title" i18n="master-page.blocks">Difficulty</h5>
      <p class="card-text">
        <span class="skeleton-loader skeleton-loader-big"></span>
      </p>
    </div>
  </div>
</ng-template>