<div class="container-xl">
  <div class="text-center">
    <br>
    <img [src]="officialMempoolSpace ? './resources/mempool-space-logo-bigger.png' : './resources/mempool-logo-bigger.png'" style="width: 250px;height:63px;">
    <br><br>

    <h2>Privacy Policy</h2>
    <h6>Updated: August 2, 2021</h6>

    <br><br>

    <div class="text-left">

      <h4>TRUSTED THIRD PARTIES ARE SECURITY HOLES</h4>

      <ul>
        <li>We do not use any third-party analytics, trackers, or cookies.</li>
        <li>We do not share any private user data with third-parties.</li>
      </ul>

      <h4>TRUSTED FIRST PARTIES ARE ALSO SECURITY HOLES</h4>

      <ul>
        <li>Your IP address may be collected in our webserver logs used for sysadmin purposes.</li>
        <li>Your IP address may be collected in our self-hosted statistics matomo app.</li>
      </ul>

      <h4>DON'T TRUST US, PROTECT YOUR PRIVACY</h4>

      <ul>
        <li>Use a Tor Browser or a privacy VPN service to hide your IP address from us.</li>
        <li>Use a self-hosted instance of The Mempool Open Source Project&trade; on your own hardware.</li>
      </ul>

      <h4>IF YOU DONATE TO MEMPOOL.SPACE</h4>

      <ul>
        <li>Your payment information, together with your Twitter identity (if provided) will be collected.</li>
        <li>We display sponsor profiles publicly on <a href="https://mempool.space/about">mempool.space/about</a>.</li>
        <li>Thank you :)</li>
      </ul>

      <p>EOF</p>

    </div>

  </div>

  <br><br>

</div>
