.address-text {
  text-overflow: unset;
  display: flex;
  flex-direction: row;
  align-items: start;
  position: relative;

	font-family: monospace;

  .infix {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    text-decoration: underline 2px;
  }

  .prefix, .postfix {
    flex-shrink: 0;
    flex-grow: 0;
    user-select: none;

    text-decoration: underline var(--red) 2px;
  }
}

.poison-alert {
  margin-left: .5em;
  color: var(--yellow);
}