
@if (similarity) {
  <div class="address-text">
    <a class="address" style="display: contents;" [routerLink]="['/address/' | relativeUrl, address]" title="{{ address }}">
      <span class="prefix">{{ similarity.match.prefix }}</span>
      <span class="infix" [ngStyle]="{'text-decoration-color': groupColors[similarity.group % (groupColors.length)]}">{{ address.slice(similarity.match.prefix.length || 0, -similarity.match.postfix.length || undefined) }}</span>
      <span class="postfix"> {{ similarity.match.postfix }}</span>
      <app-identicon [data]="address"></app-identicon>
    </a>
    <span class="poison-alert" *ngIf="similarity" i18n-ngbTooltip="address-poisoning.warning-tooltip" ngbTooltip="This address is deceptively similar to another output. It may be part of an address poisoning attack.">
      <fa-icon [icon]="['fas', 'exclamation-triangle']" [fixedWidth]="true"></fa-icon>
    </span>
  </div>
} @else {
  <a class="address" [routerLink]="['/address/' | relativeUrl, address]" title="{{ address }}">
    <app-truncate [text]="address" [lastChars]="8">
      <app-identicon [data]="address"></app-identicon>
    </app-truncate>
  </a>
}
