
@if (similarity) {
  <div class="address-text">
    <a class="address" style="display: contents;" [routerLink]="['/address/' | relativeUrl, address]" title="{{ address }}">
      <span class="prefix">{{ similarity.match.prefix.slice(0, 16) }}</span>
      <span class="infix" [ngStyle]="{'text-decoration-color': groupColors[similarity.group % (groupColors.length)]}">{{ address.slice(min(similarity.match.prefix.length, 16) || 0, -min(similarity.match.postfix.length, 16) || undefined) }}</span>
      <span class="postfix"> {{ similarity.match.postfix.slice(-16) }}</span>
    </a>
    <span class="poison-alert" *ngIf="similarity" i18n-ngbTooltip="address-poisoning.warning-tooltip" ngbTooltip="This address is deceptively similar to another output. It may be part of an address poisoning attack.">
      <fa-icon [icon]="['fas', 'exclamation-triangle']" [fixedWidth]="true"></fa-icon>
    </span>
  </div>
} @else {
  <div class="d-flex align-items-center" style="max-width: 100%; min-width: 0;">
    <app-chunked-address 
      [address]="address" 
      [lastChars]="8" 
      [link]="['/address/' | relativeUrl, address]"
      class="d-none d-md-block"
      style="flex: 0 1 auto; min-width: 0;">
    </app-chunked-address>
    <app-chunked-address 
      [address]="address" 
      [lastChars]="4" 
      [link]="['/address/' | relativeUrl, address]"
      class="d-md-none"
      style="flex: 0 1 auto; min-width: 0;">
    </app-chunked-address>
    <app-clipboard 
      [text]="address" size="normal" 
      class="ml-1 ml-md-2">
    </app-clipboard>
  </div>
}