# See http://help.github.com/ignore-files/ for more about ignoring files.

# production config and external assets
!mempool-config.template.json
!mempool-config.sample.json
mempool-config.json
pools.json
icons.json

# docker
Dockerfile
GeoIP
start.sh
wait-for-it.sh

# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# package folder (npm run package output)
/package

# Rust GBT folder (We build externally first)
/rust-gbt
