<div class="container-xl">
  <h1 style="float: left;">Blocks</h1>
  <br>

  <div class="clearfix"></div>

  <ng-container *ngIf="{ value: (blocks$ | async) } as blocks">

  <div class="table-responsive-sm">
    <table class="table table-borderless table-striped">
      <thead>
        <th style="width: 25%;">Height</th>
        <th style="width: 25%;">Confirmed</th>
        <th style="width: 25%;">Total Sent</th>
        <th class="d-none d-md-block" style="width: 25%;">Transactions</th>
      </thead>
      <tbody *ngIf="blocks.value; else loadingTmpl">
        <tr *ngFor="let block of blocks.value[0]; trackBy: trackByFn">
          <td><a [routerLink]="['/block/' | relativeUrl, block.hash]" [state]="{ data: { block: block } }">{{ block.height }}</a></td>
          <td><app-time-since [time]="block.time / 1000" [fastRender]="true"></app-time-since> ago</td>
          <td>{{ calculateTotalOutput(block) / 100 | number: '1.2-2' }}<span class="d-none d-md-inline"> BSQ</span></td>
          <td class="d-none d-md-block">{{ block.txs.length }}</td>
        </tr> 
      </tbody>
    </table>
  </div>

  <br>

  <ngb-pagination *ngIf="blocks.value" [size]="paginationSize" [collectionSize]="blocks.value[1]" [rotate]="true" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="pageChange(page)" [maxSize]="paginationMaxSize" [boundaryLinks]="true"></ngb-pagination>

  </ng-container>
</div>

<ng-template #loadingTmpl>
  <tr *ngFor="let i of loadingItems">
    <td *ngFor="let j of [1, 2, 3, 4]"><span class="skeleton-loader"></span></td>
  </tr>
</ng-template>
