ul {
  margin-bottom: 20px;
  float: left;

}

form {
  float: right;
  width: 300px;
  @media (max-width: 767.98px) {
    width: 90%;
    margin-bottom: 15px;
  }
}

@media (max-width: 767.98px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}