.sats {
  color: var(--transparent-fg);
  font-size: 12px;
  top: 0px;
}

.card-header {
  border-bottom: 0;
  font-size: 18px;
  @media (min-width: 465px) {
    font-size: 20px;
  }
}

.full-container {
  padding: 0px 15px;
  width: 100%;
  height: calc(100% - 140px);
  @media (max-width: 992px) {
    height: calc(100% - 190px);
  };
  @media (max-width: 575px) {
    height: calc(100% - 230px);
  };
}

.chart {
  max-height: 400px;
  @media (max-width: 767.98px) {
    max-height: 230px;
    margin-top: -35px;
  }
}

.rank {
  width: 8%;
  @media (max-width: 576px) {
    display: none
  }
}

.name {
  width: 36%;
  @media (max-width: 576px) {
    width: 80%;
    max-width: 150px;
    padding-left: 0;
    padding-right: 0;
  }
}

.share {
  width: 15%;
  @media (max-width: 576px) {
    display: none
  }
}

.nodes {
  width: 15%;
  @media (max-width: 576px) {
    width: 10%;
  }
}

.capacity {
  width: 26%;
  @media (max-width: 576px) {
    width: 10%;
    max-width: 100px;
  }
}

a {
  text-decoration: none;
}

a:hover .link {
  text-decoration: underline;
}

.flag {
  font-size: 20px;
}

.text-truncate .link {
  overflow: hidden;
  text-overflow: ellipsis;
}
