<app-indexing-progress *ngIf="!widget"></app-indexing-progress>

<div [class.full-container]="!widget">
  <div *ngIf="!widget" class="card-header mb-0 mb-md-4">
    <div class="d-flex d-md-block align-items-baseline">
      <span i18n="accelerator.acceleration-fees">Acceleration Fees</span>
      <button class="btn p-0 ps-2" style="margin: 0 0 4px 0px" (click)="onSaveChart()">
        <fa-icon [icon]="['fas', 'download']" [fixedWidth]="true"></fa-icon>
      </button>
    </div>  

    <form [formGroup]="radioGroupForm" class="formRadioGroup" *ngIf="daysAvailable">
      <div class="btn-group" role="group" name="radioBasic">
        <input type="radio" class="btn-check" id="accelerationfees-24h" [value]="'24h'" fragment="24h" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
        <label class="btn btn-primary btn-sm" for="accelerationfees-24h">24h</label>
        <ng-container *ngIf="daysAvailable >= 1">
          <input type="radio" class="btn-check" id="accelerationfees-3d" [value]="'3d'" fragment="3d" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="accelerationfees-3d">3D</label>
        </ng-container>
        <ng-container *ngIf="daysAvailable >= 3">
          <input type="radio" class="btn-check" id="accelerationfees-1w" [value]="'1w'" fragment="1w" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="accelerationfees-1w">1W</label>
        </ng-container>
        <ng-container *ngIf="daysAvailable >= 7">
          <input type="radio" class="btn-check" id="accelerationfees-1m" [value]="'1m'" fragment="1m" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="accelerationfees-1m">1M</label>
        </ng-container>
        <ng-container *ngIf="daysAvailable >= 30">
          <input type="radio" class="btn-check" id="accelerationfees-3m" [value]="'3m'" fragment="3m" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="accelerationfees-3m">3M</label>
        </ng-container>
        <ng-container *ngIf="daysAvailable >= 90">
          <input type="radio" class="btn-check" id="accelerationfees-6m" [value]="'6m'" fragment="6m" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="accelerationfees-6m">6M</label>
        </ng-container>
        <ng-container *ngIf="daysAvailable >= 180">
          <input type="radio" class="btn-check" id="accelerationfees-1y" [value]="'1y'" fragment="1y" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="accelerationfees-1y">1Y</label>
        </ng-container>
        <ng-container *ngIf="daysAvailable >= 360">
          <input type="radio" class="btn-check" id="accelerationfees-2y" [value]="'2y'" fragment="2y" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="accelerationfees-2y">2Y</label>
        </ng-container>
        <ng-container *ngIf="daysAvailable >= 720">
          <input type="radio" class="btn-check" id="accelerationfees-3y" [value]="'3y'" fragment="3y" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="accelerationfees-3y">3Y</label>
        </ng-container>
        <input type="radio" class="btn-check" id="accelerationfees-all" [value]="'all'" fragment="all" [routerLink]="['/graphs/acceleration/fees' | relativeUrl]" formControlName="dateSpan">
        <label class="btn btn-primary btn-sm" for="accelerationfees-all">ALL</label>
      </div>
    </form>
  </div>

  <div [class.chart]="!widget" [class.chart-widget]="widget" *browserOnly [style]="{ height: widget ? ((height + 20) + 'px') : null, opacity: isLoading ? 0.5 : 1 }" echarts [initOpts]="chartInitOptions" [options]="chartOptions"
    (chartInit)="onChartInit($event)">
  </div>
  <div class="text-center loadingGraphs" *ngIf="!stateService.isBrowser || isLoading">
    <div class="spinner-border text-light"></div>
  </div>
</div>
