<div class="projected-blocks-container">
  <div *ngFor="let projectedBlock of projectedBlocks; let i = index; trackBy: trackByProjectedFn">
    <div (click)="openProjectedBlockModal(projectedBlock, i);" class="bitcoin-block text-center projected-block" id="projected-block-{{ i }}" [ngStyle]="getStyleForProjectedBlockAtIndex(i)">
      <div class="block-body" *ngIf="projectedBlocks?.length">
        <div class="fees">
          ~{{ projectedBlock.medianFee | ceil }} sat/vB
          <br/>
          <span class="yellow-color">{{ projectedBlock.minFee | ceil }} - {{ projectedBlock.maxFee | ceil }} sat/vB</span>
        </div>
        <div class="block-size">{{ projectedBlock.blockSize | bytes: 2 }}</div>
        <div class="transaction-count">{{ projectedBlock.nTx }} transactions</div>
        <div class="time-difference" *ngIf="i !== 3">In ~{{ 10 * i + 10 }} minutes</div>
        <ng-template [ngIf]="i === 3 && projectedBlocks?.length >= 4 && (projectedBlock.blockWeight / 4000000 | ceil) > 1">
          <div class="time-difference">+{{ projectedBlock.blockWeight / 4000000 | ceil }} blocks</div>
        </ng-template>
      </div>
      <span class="animated-border"></span>
    </div>
  </div>
</div>
