<ng-container *ngIf="pipe === 'fiatCurrency'">
  <span [class]="colorClass" *ngIf="blockConversion; else noblockconversion_currency">
    {{
      (
        (blockConversion.price[currency] > -1 ? blockConversion.price[currency] : null) ??
        (blockConversion.price['USD']    > -1 ? blockConversion.price['USD'] * blockConversion.exchangeRates['USD' + currency] : null) ?? 0
      ) * value / 100000000 | fiatCurrency : digitsInfo : currency
    }}
  </span>
  <ng-template #noblockconversion_currency>
    <span [class]="colorClass" *ngIf="(conversions$ | async) as conversions; else noconversion_currency">
      {{ (conversions[currency] > -1 ? conversions[currency] : 0) * value / 100000000 | fiatCurrency : digitsInfo : currency }}
    </span>
    <ng-template #noconversion_currency>
      <span>&nbsp;</span>
    </ng-template>
  </ng-template>
</ng-container>

<ng-container *ngIf="pipe === 'fiatShortener'">
  <span [class]="colorClass" *ngIf="blockConversion; else noblockconversion_shortener">
    {{
      (
        (blockConversion.price[currency] > -1 ? blockConversion.price[currency] : null) ??
        (blockConversion.price['USD']    > -1 ? blockConversion.price['USD'] * blockConversion.exchangeRates['USD' + currency] : null) ?? 0
      ) * value / 100000000 | fiatShortener : currency
    }}
  </span>
  <ng-template #noblockconversion_shortener>
    <span [class]="colorClass" *ngIf="(conversions$ | async) as conversions; else noconversion_shortener">
      {{ (conversions[currency] > -1 ? conversions[currency] : 0) * value / 100000000 | fiatShortener : currency }}
    </span>
    <ng-template #noconversion_shortener>
      <span>&nbsp;</span>
    </ng-template>
  </ng-template>
</ng-container>
