<div class="container-xl">

  <div class="title-block">
    <h1>Block <ng-template [ngIf]="blockHeight"><a [routerLink]="['/block/', blockHash]">{{ blockHeight }}</a></ng-template></h1>
  </div>

  <ng-template [ngIf]="!isLoadingBlock && !error">

    <br>

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td class="mobile-width">Timestamp</td>
                <td>
                  {{ block.timestamp * 1000 | date:'yyyy-MM-dd HH:mm' }}
                  <div class="lg-inline">
                    <i>(<app-time-since [time]="block.timestamp" [fastRender]="true"></app-time-since> ago)</i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Transactions</td>
                <td>{{ block.tx_count }}</td>
              </tr>
              <tr>
                <td>Size</td>
                <td>{{ block.size | bytes: 2 }}</td>
              </tr>
              <tr>
                <td>Weight</td>
                <td>{{ block.weight | wuBytes: 2 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td class="mobile-width">Hash</td>
                <td><a [routerLink]="['/block/', block.id]" title="{{ block.id }}">{{ block.id | shortenString : 13 }}</a> <app-clipboard [text]="block.id"></app-clipboard></td>
              </tr>
              <tr *ngIf="block.medianFee !== undefined">
                <td>Median fee</td>
                <td>~{{ block.medianFee | ceil }} sats/vB (<app-fiat [value]="block.medianFee * 250" digitsInfo="1.2-2"></app-fiat>)</td>
              </tr>
              <ng-template [ngIf]="fees !== undefined" [ngIfElse]="loadingFees">
                <tr>
                  <td>Total fees</td>
                  <td><span title="{{ fees | number: '1.2-8' }} BTC">{{ fees | number: '1.2-2' }} BTC</span> (<app-fiat [value]="fees * 100000000" digitsInfo="1.0-0"></app-fiat>)</td>
                </tr>
                <tr>
                  <td>Reward + fees:</td>
                  <td>
                    <span title="{{ blockSubsidy + fees | number: '1.2-8' }} BTC">{{ blockSubsidy + fees | number: '1.2-2' }} BTC</span> (<app-fiat [value]="(blockSubsidy + fees) * 100000000" digitsInfo="1.0-0"></app-fiat>)
                  </td>
                </tr>
              </ng-template>
              <ng-template #loadingFees>
                <tr>
                  <td>Total fees</td>
                  <td><span class="skeleton-loader"></span></td>
                </tr>
                <tr>
                  <td>Reward + fees:</td>
                  <td><span class="skeleton-loader"></span></td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br>

    <h2><ng-template [ngIf]="transactions?.length">{{ transactions?.length || '?' }} of </ng-template>{{ block.tx_count }} transactions</h2>

    <br>

    <app-transactions-list [transactions]="transactions" (loadMore)="loadMore()"></app-transactions-list>

    <div class="text-center">
      <ng-template [ngIf]="isLoadingTransactions">

        <div class="header-bg box" style="padding: 10px; margin-bottom: 10px;">
          <span class="skeleton-loader"></span>
        </div>

        <div class="header-bg box">
          <div class="row" style="height: 107px;">
            <div class="col-sm">
              <span class="skeleton-loader"></span>
            </div>
            <div class="col-sm">
              <span class="skeleton-loader"></span>
            </div>
          </div>
        </div>
        
      </ng-template>
    </div>

  </ng-template>

  <ng-template [ngIf]="isLoadingBlock && !error">
    
    <br>

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td class="mobile-width" colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td class="mobile-width" colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td colspan="2"><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="error">
    <div class="text-center">
      Error loading block data.
      <br>
      <i>{{ error.error }}</i>
    </div>
  </ng-template>

</div>

<br>
