.table {
  font-size: 32px;
  margin-top: 6px;
}

.title-wrapper {
  padding-left: 15px;
}

.chart-container {
  flex-grow: 0;
  flex-shrink: 0;
  width: 470px;
  min-width: 470px;
  padding: 0;
  margin-right: 15px;
}

::ng-deep .symbol {
  font-size: 24px;
}
