.block-title {
  margin-bottom: 48px;
  font-size: 52px;

  ::ng-deep .next-previous-blocks {
    font-size: 52px;
  }
}

.table {
  font-size: 32px;
}

.chart-container {
  flex-grow: 0;
  flex-shrink: 0;
  width: 470px;
  min-width: 470px;
  padding: 0;
  margin-right: 15px;
}

::ng-deep .symbol {
  font-size: 24px;
}
