.table {
  font-size: 32px;
  margin-top: 36px;
}

.block-titles {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;

  .title {
    flex-shrink: 0;
    flex-grow:  0;
    margin-right: 30px;
    font-size: 64px;
  }

  .blockhash {
    width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: Consolas,Liberation Mono,Courier New,monospace;
    font-size: 32px;
    text-align: right;

    .truncate {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0;

      &.left {
        direction: rtl;
      }
    }
  }
}

.table-col {
  max-width: calc(100% - 470px);
  overflow: hidden;
}

.chart-container {
  flex-grow: 0;
  flex-shrink: 0;
  width: 480px;
  min-width: 480px;
  padding: 0;
  margin-right: 15px;
}

::ng-deep .symbol {
  font-size: 24px;
}

.badge {
  transition: none;
}

.pool-logo {
  width: 25px;
  height: 25px;
  position: relative;
  top: -1px;
  margin-right: 2px;
}
