
.table-container {
  overflow: scroll;
  scrollbar-width: none;
  font-size: 13px;
  &::-webkit-scrollbar {
      display: none;
  }
  @media(min-width: 576px){
      font-size: 16px;
  }
  thead th{
    text-align: right;
    &:first-child{
      text-align: left;
    }
    &:nth-child(2) {
      display: none;
      @media(min-width: 1100px){
        display: table-cell;
      }
    }
  }
  tr {
    td {
      text-align: right;
      &:first-child{
        text-align: left;
      }
      &:nth-child(2) {
        display: none;
        @media(min-width: 1100px){
          display: table-cell;
        }
      }
    }
  }
}
