
.symbol {
	color: #ffffff66;
	font-size: 11px;
}

.table-container {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 13px;
    @media(min-width: 576px){
        font-size: 16px;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
