<div class="modal-header">
  <h4 class="modal-title">Fee distribution for projected block</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <table class="table table-borderless table-sm">
      <tr>
        <th>Median fee:</th>
        <td>~{{ block.medianFee | ceil }} sat/vB <span *ngIf="conversions">(~<span class="green-color">{{ conversions.USD * (block.medianFee/100000000)*250 | currency:'USD':'symbol':'1.2-2' }}</span>/tx)</span></td>
        <th>Tx count:</th>
        <td>{{ block.nTx }} transactions</td>
      </tr>
      <tr>
        <th>Fee span:</th>
        <td class="yellow-color">{{ block.minFee | ceil }} - {{ block.maxFee | ceil }} sat/vB</td>
      </tr>
      <tr>
        <th>Total fees:</th>
        <td>{{ block.fees | number: '1.2-2' }} BTC <span *ngIf="conversions">(<span class="green-color">{{ conversions.USD * block.fees| currency:'USD':'symbol':'1.0-0' }}</span>)</span></td>
      </tr>
    </table>
  </div>

  <hr>

  <div style="height: 400px;" *ngIf="mempoolVsizeFeesData; else loadingFees">
    <app-chartist 
      [data]="mempoolVsizeFeesData"
      [type]="'Bar'"
      [options]="mempoolVsizeFeesOptions">
    </app-chartist>
  </div>
  <ng-template #loadingFees>
    <div class="text-center">
      <div class="spinner-border text-light"></div>
    </div>
  </ng-template>
</div>
