.bowtie {
  .line {
    fill: none;

    &.input {
      stroke: url(#input-gradient);
    }
    &.output {
      stroke: url(#output-gradient);
    }
    &.fee {
      stroke: url(#fee-gradient);
    }
  }
}
