.bitcoin-block {
  width: var(--block-size);
  height: var(--block-size);
  transition: background 2s, right 2s, transform 1s, opacity 1s;
}

.block-size {
  font-size: 16px;
  font-weight: bold;
}

.mempool-blocks-container {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  --block-size: 125px;
}

.flashing {
  /* force compositing */
  will-change: opacity;
  transform: translateZ(0);
  /* effective max frame rate = (#keyframes - 1) x steps / duration */
  animation: opacityPulse 2s steps(30, end);
  animation-iteration-count: infinite;
  opacity: 1;
}

.mempool-block {
  position: absolute;
  top: 0;
}

.block-body {
  text-align: center;
  transition: transform 1s;
}

@keyframes opacityPulse {
  0% {opacity: 0.7;}
  50% {opacity: 1.0;}
  100% {opacity: 0.7;}
}

.time-difference {
  font-size: 13px;
}

.fees {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.fee-span {
  font-size: 11px;
  margin-bottom: 5px;
  color: var(--yellow);
}

.transaction-count {
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 4px;
}

.bitcoin-block::after {
  content: '';
  width: var(--block-size);
  height: calc(0.192 * var(--block-size));
  position:absolute;
  top: calc(-0.192 * var(--block-size));
  left: calc(-0.16 * var(--block-size));
  background-color: #232838;
  transform:skew(40deg);
  transform-origin:top;
  transition: transform 1s, left 1s;
}

.bitcoin-block::before {
  content: '';
  width: calc(0.16 * var(--block-size));
  height: var(--block-size);
  position: absolute;
  top: calc(-0.096 * var(--block-size));
  left: calc(-0.16 * var(--block-size));
  background-color: #191c27;
  z-index: -1;

  transform: skewY(50deg);
  transform-origin: top;
  transition: transform 1s, left 1s;
}

.mempool-block.bitcoin-block::after {
  background-color: #403834;
}

.mempool-block.bitcoin-block::before {
  background-color: #2d2825;
}

.mempool-block.hide-block {
  opacity: 0;
}

.black-background {
  background-color: var(--active-bg);
  z-index: 100;
  position: relative;
}

#arrow-up {
  position: relative;
  right: calc(var(--block-size) * 0.6);
  top: calc(var(--block-size) * 1.20);
  width: 0;
  height: 0;
  border-left: calc(var(--block-size) * 0.3) solid transparent;
  border-right: calc(var(--block-size) * 0.3) solid transparent;
  border-bottom: calc(var(--block-size) * 0.3) solid var(--fg);
}

.blockLink {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
}

.blockLink.disabled {
  pointer-events: none;
}

.blockLink:hover {
  text-decoration: none;
}

.time-ltr {
  .bitcoin-block::after {
    transform: skew(-40deg);
    left: 20px;
  }

  .bitcoin-block::before {
    transform: skewY(-50deg);
    left: var(--block-size);
  }
  .block-body {
    transform: scaleX(-1);
  }
}

:host-context(.rtl-layout) {
  #arrow-up {
    transform: translateX(70px);
  }
}

.spotlight-bottom {
  position: absolute;
  width: calc(0.6 * var(--block-size));
  height: calc(0.25 * var(--block-size));
  border-left: solid calc(0.3 * var(--block-size)) transparent;
  border-bottom: solid calc(0.3 * var(--block-size)) white;
  border-right: solid calc(0.3 * var(--block-size)) transparent;
  transform: translate(calc(-0.2 * var(--block-size)), calc(1.1 * var(--block-size)));
  border-radius: 2px;
  z-index: -1;
}

.blink{
  width:400px;
  height:400px;
  border-bottom: solid calc(0.3 * var(--block-size)) #FFF;
  animation: blink 0.2s infinite;
}
@keyframes blink{
  0% {
    border-bottom: solid calc(0.3 * var(--block-size)) green;
  }
  50% {
    border-bottom: solid calc(0.3 * var(--block-size)) yellow;
  }
  100% {
    border-bottom: solid calc(0.3 * var(--block-size)) orange;
  }
}

@-webkit-keyframes blink{
  0% {
    border-bottom: solid calc(0.3 * var(--block-size)) green;
  }
  50% {
    border-bottom: solid calc(0.3 * var(--block-size)) yellow;
  }
  100% {
    border-bottom: solid calc(0.3 * var(--block-size)) orange;
  }
}