<!-- this component is only used for the angular string extractor -->{{counter}} 
<div>
  <span i18n="@@time-since.just-now">Just now</span>
  <span i18n="@@time-since.sec.ago">{{counter}} sec ago</span>
  <span i18n="@@time-since.secs.ago">{{counter}} secs ago</span>
  <span i18n="@@time-since.second.ago">{{counter}} second ago</span>
  <span i18n="@@time-since.seconds.ago">{{counter}} seconds ago</span>
  <span i18n="@@time-since.min.ago">{{counter}} min ago</span>
  <span i18n="@@time-since.mins.ago">{{counter}} mins ago</span>
  <span i18n="@@time-since.minute.ago">{{counter}} minute ago</span>
  <span i18n="@@time-since.minutes.ago">{{counter}} minutes ago</span>
  <span i18n="@@time-since.hour.ago">{{counter}} hour ago</span>
  <span i18n="@@time-since.hours.ago">{{counter}} hours ago</span>
  <span i18n="@@time-since.day.ago">{{counter}} day ago</span>
  <span i18n="@@time-since.days.ago">{{counter}} days ago</span>
  <span i18n="@@time-since.week.ago">{{counter}} week ago</span>
  <span i18n="@@time-since.weeks.ago">{{counter}} weeks ago</span>
  <span i18n="@@time-since.month.ago">{{counter}} month ago</span>
  <span i18n="@@time-since.months.ago">{{counter}} months ago</span>
  <span i18n="@@time-since.year.ago">{{counter}} year ago</span>
  <span i18n="@@time-since.years.ago">{{counter}} years ago</span>
</div>
