<!-- this component is only used for the angular string extractor -->
<div>
  <span i18n="@@time.sec">sec</span>
  <span i18n="@@time.secs">secs</span>
  <span i18n="@@time.second">second</span>
  <span i18n="@@time.seconds">seconds</span>
  <span i18n="@@time.min">min</span>
  <span i18n="@@time.mins">mins</span>
  <span i18n="@@time.minute">minute</span>
  <span i18n="@@time.minutes">minutes</span>
  <span i18n="@@time.hour">hour</span>
  <span i18n="@@time.hours">hours</span>
  <span i18n="@@time.day">day</span>
  <span i18n="@@time.days">days</span>
  <span i18n="@@time.week">week</span>
  <span i18n="@@time.weeks">weeks</span>
  <span i18n="@@time.month">month</span>
  <span i18n="@@time.months">months</span>
  <span i18n="@@time.year">year</span>
  <span i18n="@@time.years">years</span>
</div>
