<!-- this component is only used for the angular string extractor -->
<div>
  <span i18n="@@time-since.sec.ago">sec ago</span>
  <span i18n="@@time-since.secs.ago">secs ago</span>
  <span i18n="@@time-since.second.ago">second ago</span>
  <span i18n="@@time-since.seconds.ago">seconds ago</span>
  <span i18n="@@time-since.min.ago">min ago</span>
  <span i18n="@@time-since.mins.ago">mins ago</span>
  <span i18n="@@time-since.minute.ago">minute ago</span>
  <span i18n="@@time-since.minutes.ago">minutes ago</span>
  <span i18n="@@time-since.hour.ago">hour ago</span>
  <span i18n="@@time-since.hours.ago">hours ago</span>
  <span i18n="@@time-since.day.ago">day ago</span>
  <span i18n="@@time-since.days.ago">days ago</span>
  <span i18n="@@time-since.week.ago">week ago</span>
  <span i18n="@@time-since.weeks.ago">weeks ago</span>
  <span i18n="@@time-since.month.ago">month ago</span>
  <span i18n="@@time-since.months.ago">months ago</span>
  <span i18n="@@time-since.year.ago">year ago</span>
  <span i18n="@@time-since.years.ago">years ago</span>
</div>
