p {
  margin-top: 1rem;
}

tr {
  white-space: normal;
}

#hero {
  text-align: center;
  margin: 60px auto;
  width: 100%;
  max-width: 2000px;
  padding: 0 20px;
}

#hero p {
  color: rgba(255, 255, 255, 0.568627451);
}

#hero video {
  height: auto;
  width: 50%;
  max-width: 675px;
  margin-top: 40px;
}

h2 {
  margin: 30px auto;
  font-size: 2.35rem;
}

.panel {
  padding: 30px 40px 30px 40px;
}

.panel-lead {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.partner.panel {
  background-color: #1d1f31; //#1d1f31
  text-align: center;
}

.partner.panel svg {
  width: 150px;
  height: auto;
}

.cta.panel {
  text-align: center;
}

.cta.bottom.panel {
  position: relative;
}

.explainer.panel {
  text-align: center;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.explainer.panel .point {
  text-align: center;
  width: 460px;
  height: 300px;
  padding: 30px;
  display: inline-block;
}

.explainer.panel .point .point-lead {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 26px;
  font-size: 22px;
}

.explainer.panel .point svg {
  height: auto;
  width: 115px;
  border-radius: 50%;
  padding: 25px;
}

.panel.faq {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 0;
}

.endpoint-container {
  margin-bottom: 25px;
}

.endpoint-container .section-header {
  display: block;
  background-color: #2d3348;
  color: #1bd8f4;
  padding: 1rem 1.3rem;
  font-weight: 700;
  border-radius: .25rem;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.endpoint-container .section-header:hover {
  text-decoration: none;
}

.bg-effect {
  position: absolute;
  z-index: -100 !important;
  height: 90vh;
  opacity: 0.3;
  background-repeat: no-repeat;
  max-width: calc(100% - 50px);
  animation: 2s ease forwards .5s bg-scale;
}

.bg-effect.top {
  background-position: top left;
  top: 20px;
  width: 1000px;
}

@media (max-width: 992px) {

  #hero img {
    width: 80%;
  }

  .explainer.panel .point {
    width: 100%;
  }

}
