<span *ngIf="feeRating === 1" class="badge badge-success"
  i18n="tx-fee-rating.optimal|TX Fee Rating is Optimal">Optimal</span>
<span *ngIf="feeRating === 2" class="badge badge-warning" placement="bottom"
  i18n-ngbTooltip="tx-fee-rating.warning-tooltip"
  ngbTooltip="Only ~{{ medianFeeNeeded | feeRounding:null:1 }} sat/vB was needed to get into this block"
  i18n="tx-fee-rating.overpaid.warning|TX Fee Rating is Warning">Overpaid {{ overpaidTimes }}x</span>
<span *ngIf="feeRating === 3" class="badge badge-danger" placement="bottom"
  i18n-ngbTooltip="tx-fee-rating.warning-tooltip"
  ngbTooltip="Only ~{{ medianFeeNeeded | feeRounding:null:1 }} sat/vB was needed to get into this block"
  i18n="tx-fee-rating.overpaid.warning|TX Fee Rating is Warning">Overpaid {{ overpaidTimes }}x</span>