<div class="container-xl">
  <div class="text-center">
    <br />
    <img src="./resources/mempool-logo-bigger.png" height="67.5" width="251">
    <br /><br />

    <h2>Terms of Service</h2>
    <h6>Updated: October 12, 2020</h6>

    <br><br>

    <div class="text-left">

        <h5>By using this website or accessing its API, you agree to these Terms of Service:</h5>

        <br>

        <h4>NO WARRANTY</h4>

        <p>This website is operated in the hope that it will be useful, but all services and data are provided on an "AS IS, AS AVAILABLE" basis, WITHOUT ANY WARRANTY OR REPRESENTATIONS; express or implied, without even the implied warranties of MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, CONTINUOUS AVAILABILITY, or UNINTERRUPTED SERVICE. The operators of this website make NO GUARANTEE to the accuracy of any data on this website or its API, and it is your responsibility to VERIFY ALL DATA obtained for inaccuracies and omissions.</p>

        <br>

        <h4>NO LIABILITY</h4>

        <p>THE OPERATORS OF THIS WEBSITE WILL NOT BE HELD LIABLE FOR ANY LOSS OR DAMAGES, whether direct, indirect, or any other nature, that are deemed or alleged to have resulted from or been caused by this website or its contents, including, but without limitation to, errors, inaccuracies or ambiguity in this website or its contents, failures, malfunctions, delays or interruptions in operation or transmission, any persons use or misuse of this website or its content, any errors or omissions in content, damage for loss of Bitcoin or other crypto assets, loss of business, loss of profits, business interruption, loss of information, or any other pecuniary or consequential loss or damage (even if the operators of this website have been notified of such risk of loss or damage).</p>

        <br>

        <h4>PRIVACY POLICY</h4>

        <p>The operators of this website may collect your IP address as part of basic webserver logs and a self-hosted statistics application, but this data will never be sold or shared with third parties. Please use Tor when accessing this website to protect your privacy.</p>

        <h4>SPONSOR POLICY</h4>

        <p>If you donate at least 0.01 BTC to mempool.space and submit your Twitter username at the time of donation, we will generally feature your Twitter profile photo on our About page with a link to your Twitter account. However, we reserve the right to remove sponsors listed on our website that in our sole discretion are inappropriate. All donations made are non-refundable.</p>

    </div>

    <br><br>

  </div>

</div>
