<div class="container-xl">
  <div class="text-center">
    <br />
    <img [src]="officialMempoolSpace ? './resources/mempool-space-logo-bigger.png' : './resources/mempool-logo-bigger.png'" style="width: 250px;height:63px;">
    <br /><br />

    <h2>Terms of Service</h2>
    <h6>Updated: March 07, 2021</h6>

    <br><br>

    <div class="text-left">

        <p *ngIf="officialMempoolSpace">The official <a href="https://mempool.space/">mempool.space</a> website and <a href="https://mempool.space/api">its API service</a> are operated by Mempool Space K.K.</p>

        <h5>By using this website or accessing its API, you agree to these Terms of Service:</h5>

        <br>

        <h4>NO WARRANTY</h4>

        <p>This website is operated in the hope that it will be useful, but all services and data are provided on an "AS IS, AS AVAILABLE" basis, WITHOUT ANY WARRANTY OR REPRESENTATIONS; express or implied, without even the implied warranties of MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, CONTINUOUS AVAILABILITY, or UNINTERRUPTED SERVICE. The operators of this website make NO GUARANTEE to the accuracy of any data on this website or its API, and it is your responsibility to VERIFY ALL DATA obtained for inaccuracies and omissions.</p>

        <br>

        <h4>NO LIABILITY</h4>

        <p>THE OPERATORS OF THIS WEBSITE WILL NOT BE HELD LIABLE FOR ANY LOSS OR DAMAGES, whether direct, indirect, or any other nature, that are deemed or alleged to have resulted from or been caused by this website or its contents, including, but without limitation to, errors, inaccuracies or ambiguity in this website or its contents, failures, malfunctions, delays or interruptions in operation or transmission, any persons use or misuse of this website or its content, any errors or omissions in content, damage for loss of Bitcoin or other crypto assets, loss of business, loss of profits, business interruption, loss of information, or any other pecuniary or consequential loss or damage (even if the operators of this website have been notified of such risk of loss or damage).</p>

        <br>

        <h4>PRIVACY POLICY</h4>

        <p>Out of respect for our users, this website does not utilize any third-party trackers, and the operators of this website do not share any user data with third-parties. However, your IP address may incidentally be collected as part of basic webserver logs for systems administration purposes, and as part of an anonymized self-hosted statistics application for analytics. Therefore we recommend using Tor browser to conceal your IP address when accessing this website, or operating your own self-hosted instance of this website.</p>

        <br>

        <h4>BITCOIN ONLY</h4>

        <p>Out of respect for our users, this website does not support altcoins, and is generally Bitcoin Only. Fiat stablecoin tokens on Liquid and the BSQ governance token for the Bisq DAO are not considered altcoins, as they do not distract users from Bitcoin and are part of our stated mission to support the entire Bitcoin ecosystem and Bitcoin Layer 2 Networks.</p>

        <br>

        <h4>EXTERNAL LINKS</h4>

        <p>Out of respect for our users, this website does not display advertising, and generally does not link to external sources. However, to acknowledge members of the Bitcoin open-source community and direct supporters of <a href="https://github.com/mempool">The Mempool Open Source Project</a>, external links will be made in the following cases:</p>
        <ul>
          <li>If you are an individual contributor to <a href="https://github.com/mempool">The Mempool Open Source Project</a>, and have made regular contributions to the satisfaction of its maintainers, we may display your Twitter or GitHub profile photo on <a href="https://mempool.space/about">the About page</a>, with <u>a link to your Twitter or GitHub profile</u>.</li>
          <br>
          <li>If you are a member of the Bitcoin community on Twitter, and have made a one-time donation of at least 0.01 BTC to <a href="https://github.com/mempool">The Mempool Open Source Project</a> on <a href="https://mempool.space/about">mempool.space/about</a>, we will generally display your Twitter profile photo on <a href="https://mempool.space/about">the About page</a>, with <u>a link to your Twitter account</u>.</li>
          <br>
          <li>If you are a member of the Bitcoin community on GitHub, and have made recurring donations of at least $100 USD per month to <a href="https://github.com/mempool">The Mempool Open Source Project</a> through the GitHub Sponsors program for at least 6 months, we will generally display your GitHub profile photo on <a href="https://mempool.space/about">the About page</a>, with <u>a link to your GitHub account</u>.</li>
          <br>
          <li>If you represent an open source project that benefits the Bitcoin community, and have integrated <a href="https://github.com/mempool">The Mempool Open Source Project</a> into your project, we will generally feature the project's logo on <a href="https://mempool.space/about">the About page</a>, with <u>a link to the project's GitHub repository</u>.</li>
          <br>
          <li>If you represent an alliance of members of the Bitcoin community, and that alliance has a relationship to <a href="https://github.com/mempool">The Mempool Open Source Project</a>, we may display the alliance logo on <a href="https://mempool.space/about">the About page</a>, with <u>a link to the alliance website</u>.</li>
          <br>
          <li>If you represent an enterprise organization, and have made a one-time donation of at least $25,000 USD to <a href="https://github.com/mempool">The Mempool Open Source Project</a>, we will generally display your organization's logo on <a href="https://mempool.space/about">the About page</a>, with <u>a link to your organization's website</u>.</li>
        </ul>
        <p>However, we reserve the right to remove any links from our website that in our sole discretion are inappropriate. All donations are non-refundable.</p>

        <br>

        <h4>OPEN SOURCE LICENSE</h4>

        <p>Copyright &copy; 2019-2021 The Mempool Open Source Project

        <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, and/or sublicense copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

        <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

        <p>Commons Clause License Condition v1.0

        <p>Without limiting other conditions in the License, the grant of rights under the License will not include, and the License does not grant to you, the right to Sell the Software.

        <p>For purposes of the foregoing, “Sell” means practicing any or all of the rights granted to you under the License to provide to third parties, for a fee or other consideration (including without limitation fees for hosting or consulting/ support services related to the Software), a product or service whose value derives, entirely or substantially, from the functionality of the Software. Any license notice or attribution required by the License must also include this Commons Cause License Condition notice.

        <br>

        <h4>THIRD PARTY OPEN SOURCE LICENSES</h4>

        <p>The Mempool Open Source Project uses open source software provided by third parties, and the copyright statements and licenses for these third-party components are included with this software at the following URL: <a href="/3rdpartylicenses.txt">THIRD-PARTY LICENSES</a>.</p>

      </div>

  </div>

  <br><br>

</div>
