<div class="container-xl">
  <div class="text-center">
    <br />
    <img [src]="officialMempoolSpace ? '/resources/mempool-space-logo-bigger.png' : '/resources/mempool-logo-bigger.png'" style="width: 250px;height:63px;">
    <br /><br />

    <h2>Terms of Service</h2>
    <h6>Updated: July 10, 2024</h6>

    <br><br>

    <div class="text-left">

        <p *ngIf="officialMempoolSpace">The <a href="https://mempool.space/">mempool.space</a> website, the <a href="https://liquid.network/">liquid.network</a> website, the <a href="https://bitcoin.gob.sv/">bitcoin.gob.sv</a> website, their associated API services, and related network and server infrastructure (collectively, the "Website") are operated by Mempool Space K.K. in Japan ("Mempool", "We", or "Us") and self-hosted from <a href="https://bgp.tools/as/142052#connectivity">AS142052</a>.</p>

        <p *ngIf="!officialMempoolSpace">This website and its API service (collectively, the "Website") are operated by a member of the Bitcoin community ("We" or "Us"). Mempool Space K.K. in Japan ("Mempool") has no affiliation with the operator of this Website, and does not sponsor or endorse the information provided herein.</p>

        <h5>By accessing this Website, you agree to the following Terms of Service:</h5>

        <br>

        <h4>NO WARRANTY</h4>

        <p>THIS WEBSITE IS PROVIDED ON AN "AS IS, AS AVAILABLE" BASIS, WITHOUT ANY WARRANTY OR REPRESENTATIONS; EXPRESS OR IMPLIED, WITHOUT EVEN THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, CONTINUOUS AVAILABILITY, OR UNINTERRUPTED SERVICE. WE MAKE NO GUARANTEE TO THE ACCURACY OF ANY DATA ON THIS WEBSITE, AND IT IS YOUR RESPONSIBILITY TO VERIFY ALL DATA OBTAINED FOR INACCURACIES AND OMISSIONS.</p>

        <br>

        <h4>NO LIABILITY</h4>

        <p>WE WILL NOT BE HELD LIABLE FOR ANY LOSS OR DAMAGES, WHETHER DIRECT, INDIRECT, OR ANY OTHER NATURE, THAT ARE DEEMED OR ALLEGED TO HAVE RESULTED FROM OR BEEN CAUSED BY THIS WEBSITE OR ITS CONTENTS, INCLUDING, BUT WITHOUT LIMITATION TO, ERRORS, INACCURACIES OR AMBIGUITY IN THIS WEBSITE OR ITS CONTENTS, FAILURES, MALFUNCTIONS, DELAYS OR INTERRUPTIONS IN OPERATION OR TRANSMISSION, ANY PERSONS USE OR MISUSE OF THIS WEBSITE OR ITS CONTENT, ANY ERRORS OR OMISSIONS IN CONTENT, DAMAGE FOR LOSS OF BITCOIN OR OTHER CRYPTO ASSETS, LOSS OF BUSINESS, LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION, OR ANY OTHER PECUNIARY OR CONSEQUENTIAL LOSS OR DAMAGE (EVEN IF WE HAVE BEEN NOTIFIED OF SUCH RISK OF LOSS OR DAMAGE).</p>

        <br>

        <h4>NO ADVERTISING</h4>

        <p>Out of respect for the Bitcoin community, this website does not display advertising, and generally does not link to external websites. However, external links may be made for references to Bitcoin's technical documentation in addition to the exceptions detailed below.</p>

        <p>We reserve the right to remove any links from our website that in our sole discretion are inappropriate.</p>

        <br>

        <ng-container *ngIf="officialMempoolSpace">

          <h4>NO ALTCOINS</h4>

          <p>The <a href="https://mempool.space/">mempool.space</a> explorer is Bitcoin Only.</p>

          <p>Unfortunately, the <a href="https://liquid.network/">liquid.network</a> explorer cannot be considered Bitcoin Only, as they may display altcoins as part of their core network functionality. We do not endorse any altcoins and encourage you to stay Bitcoin Only. Please see <a href="https://bitcoin-only.com/">bitcoin-only.com</a> for more Bitcoin Only resources.</p>

          <br>

        </ng-container>

        <h4>COMMUNITY SPONSORSHIP</h4>

        <ul>

          <li>All donations to <a href="https://github.com/mempool/mempool">The Mempool Open Source Project</a> including <a href="https://mempool.space/sponsor">community sponsorships</a> are non refundable.</li>

          <br>
          
          <li>Each calendar year community sponsors will be issued a coupon code which can be redeemed for Mempool merchandise. Fulfillment is provided by the <a href="https://cypherpunk.store/brands/mempool/">cypherpunk store</a> and coupon codes expire 6 months after issuance.</li>
          
          <br>
          
          <li>In order to acknowledge Bitcoin community members who previously made a one-time donation of at least 0.01 BTC to <a href="https://github.com/mempool/mempool">The Mempool Open Source Project</a> on <a href="https://mempool.space/about">mempool.space/about</a>, the Bitcoin community members's X (fka twitter) profile photo is automatically be displayed on <a href="https://mempool.space/about">mempool.space/about</a>, with <u>a link to their X profile</u>.</li>
          
          <br>
          
          <li>In order to acknowledge members of the Bitcoin community who have donated to <a href="https://github.com/mempool/mempool">The Mempool Open Source Project</a> via Chad or Whale <a href="https://mempool.space/sponsor">sponsorships</a>, the Bitcoin community member's X (fka Twitter) profile photo will automatically be displayed on <a href="https://mempool.space/about">mempool.space/about</a>, with <u>a link to their X profile</u> while the subscription is active.</li>
          
          <br>
          
          <li>In order to acknowledge the enterprise organizations within the Bitcoin community that have made a significant one-time donation of at least $100,000 USD to <a href="https://github.com/mempool/mempool">The Mempool Open Source Project</a>, the organization's logo may be displayed on <a href="https://mempool.space/about">mempool.space/about</a>, with <u>a link to the organization's website</u>.</li>
        
        </ul>

        <br>

        <h4>MEMPOOL ENTERPRISE™</h4>

        <ul>
          
          <li>The full Terms of Service for Mempool Enterprise™ are available upon request. </li>
          
          <br>
          
          <li>All <a href="https://mempool.space/enterprise">Mempool Enterprise™ </a> subscription payments are non refundable.</li>
          
          <br>
          
          <li>In order to acknowledge the enterprise organizations within the Bitcoin community that have subscribed to <a href="https://mempool.space/enterprise">Mempool Enterprise™</a> for at least 25 months, the organization's logo may be displayed on <a href="https://mempool.space/about">mempool.space/about</a>, with <u>a link to the organization's website</u>.</li>

        </ul>
        <br>

        <h4>MEMPOOL ACCELERATOR™</h4>

        <p><a href="https://mempool.space/accelerator">Mempool Accelerator™</a> enables members of the Bitcoin community to submit requests for transaction prioritization to Mempool Mining Partners via mempool.space. </p>
        <ul>
          
          <li>All acceleration payments and Mempool Accelerator™ account credit top-ups are non refundable. Mempool Accelerator™ account credit top-ups are prepayment for future accelerations and cannot be withdrawn or transferred.</li>
          
          <br>
          
          <li>Acceleration requests cannot be canceled by the user once submitted. </li>

          <br>

          <li>Mempool reserves the right to cancel acceleration requests for any reason, including but not limited to the ejection of an accelerated transaction from Mempools mempool. Canceled accelerations will not be refunded.</li>
          
          <br>
          
          <li>Services are only available to persons in eligible countries, and in our discretion we may not provide Services (or may provide limited services) in one or more countries from time to time or determine that one or more countries are Restricted Jurisdictions. </li>
          
          <br>
          
          <li>It is at the discretion of mempool and mempool accelerator mining pool partners as to whether they choose to accept acceleration requests. </li>
        </ul>

        <br>

        <h4>PARTNERSHIPS AND INTEGRATIONS</h4>
        <ul>
          
          <li>In order to acknowledge individual contributors to <a href="https://github.com/mempool/mempool">The Mempool Open Source Project</a> who have made <a href="https://github.com/mempool/mempool/graphs/contributors">at least 5 contributions visible on GitHub</a>, the contributor's GitHub profile photo may be displayed on <a href="https://mempool.space/about">mempool.space/about</a>, with <u>a link to their GitHub profile</u>.</li>
          
          <br>
          
          <li>In order to acknowledge open source projects that benefit the Bitcoin community and have integrated <a href="https://github.com/mempool/mempool">The Mempool Open Source Project</a> into their software, the open source project's logo may be displayed on <a href="https://mempool.space/about">mempool.space/about</a>, with 
          a link to the project's <u>GitHub repository</u>.</li>
          
          <br>
          
          <li>In order to acknowledge federations or alliances within the Bitcoin community that have a relationship to <a href="https://github.com/mempool/mempool">The Mempool Open Source Project</a>, the federation or alliance logo may be displayed on <a href="https://mempool.space/about">mempool.space/about</a>, with <u>a link to the alliance website</u>.</li>
        </ul>

        <p>EOF</p>

      </div>

  </div>

  <br><br>

</div>
