@import "../../styles.scss";

.ct-bar-label {
  font-size: 20px;
  font-weight: bold;
  fill: #fff;
}

.ct-target-line {
  stroke: #f5f5f5;
  stroke-width: 3px;
  stroke-dasharray: 7px;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.9;
}

.ct-label {
    fill: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}

.ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}

/* LEGEND */

.ct-legend {
  position: absolute;
  z-index: 10;
  left: 0px;
  list-style: none;
  font-size: 13px;
  padding: 0px 0px 0px 30px;
  top: 90px;

  li {
      position: relative;
      padding-left: 23px;
      margin-bottom: 0px;
    }

  li:before {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 0;
      content: '';
      border: 3px solid transparent;
      border-radius: 2px;
  }

  li.inactive:before {
      background: transparent;
  }

  &.ct-legend-inside {
      position: absolute;
      top: 0;
      right: 0;
  }

  @for $i from 0 to length($ct-series-colors) {
      .ct-series-#{$i}:before {
          background-color: nth($ct-series-colors, $i + 1);
          border-color: nth($ct-series-colors, $i + 1);
      }
  }
}