.card-header {
  border-bottom: 0;
  background-color: none;
  font-size: 20px;
}

.card {
  background-color: transparent;
  border: 0;
}

.bootstrap-spinner {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
