:host ::ng-deep .floating-tooltip-2 {
	width: 160px;
	height: 80px;
	position: absolute;
	display: none;
	padding: 8px;
	box-sizing: border-box;
	font-size: 12px;
	color:rgba(255, 255, 255, 1);
	background-color: #131722;
	text-align: left;
	z-index: 1000;
	top: 12px;
	left: 12px;
	pointer-events: none;
	border-radius: 2px;
}

:host ::ng-deep .volumeText {
	color: rgba(33, 150, 243, 0.7);
}

:host ::ng-deep .tradesText {
	color: rgba(37, 177, 53, 1);
}
