.qr-wrapper {
  background-color: #FFF;
  padding: 10px;
  padding-bottom: 5px;
  display: inline-block;
}

.qrcode-col {
  text-align: center;
}

.qrcode-col > div {
  margin: 20px auto 5px;
  @media (min-width: 768px) {
    text-align: center;
    margin: auto;
  }
}

.fiat {
  display: block;
  font-size: 13px;
  @media (min-width: 768px) {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
  }
}
.table {
  tr td {
    &:last-child {
      text-align: right;
      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }
}

h1 {
  margin: 0px;
  padding: 0px;
  @media (min-width: 576px) {
    float: left;
    margin-right: 10px;
  }
}

.address-link {
  line-height: 26px;
  margin-left: 0px;
  top: 14px;
  position: relative;
  display: flex;
  flex-direction: row;
  @media (min-width: 768px) {
    line-height: 38px;
  }
}

.row{
	flex-direction: column;
	@media (min-width: 576px) {
		flex-direction: row;
	}
}

@media (max-width: 767.98px) {
	.mobile-bottomcol {
		margin-top: 15px;
	}
	.details-table td:first-child {
		white-space: pre-wrap;
	}
}