label {
  padding: 0.25rem 1rem;
  white-space: nowrap;
}

:host ::ng-deep .dropdown-menu {
  right: 0px;
  left: inherit;
}

.pagination-container {
  float: none;
  @media(min-width: 400px){
    float: right;
  }
}

.container-xl {
  padding-bottom: 60px;
  @media(min-width: 400px){
    padding-bottom: 100px;
  }
}