<div class="header-bg box">
  <div class="row">
    <div class="col">
      <table class="table table-borderless smaller-text table-xs" style="margin: 0;">
        <tbody>
          <ng-template ngFor let-input [ngForOf]="tx.inputs" [ngForTrackBy]="trackByIndexFn">
            <tr *ngIf="input.isVerified">
              <td class="arrow-td">
                <ng-template [ngIf]="input.spendingTxId === null" [ngIfElse]="hasPreoutput">
                  <i class="arrow grey"></i>
                </ng-template>
                <ng-template #hasPreoutput>
                  <a [routerLink]="['/tx/' | relativeUrl, input.spendingTxId]">
                    <i class="arrow red"></i>
                  </a>
                </ng-template>
              </td>
              <td>
                <a [routerLink]="['/address/' | relativeUrl, input.address]" title="{{ input.address }}">
                  <span class="d-block d-lg-none">B{{ input.address | shortenString : 16 }}</span>
                  <span class="d-none d-lg-block">B{{ input.address | shortenString : 35 }}</span>
                </a>
              </td>
              <td class="text-right nowrap">
                {{ input.bsqAmount / 100 | number: '1.2-2' }} BSQ
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
    <div class="w-100 d-block d-md-none"></div>
    <div class="col mobile-bottomcol">
      <table class="table table-borderless smaller-text table-xs"  style="margin: 0;">
        <tbody>
          <ng-template ngFor let-output [ngForOf]="tx.outputs" [ngForTrackBy]="trackByIndexFn">
            <tr *ngIf="output.isVerified && output.opReturn === undefined">
              <td>
                <a [routerLink]="['/address/' | relativeUrl, output.address]" title="{{ output.address }}">
                  <span class="d-block d-lg-none">B{{ output.address | shortenString : 16 }}</span>
                  <span class="d-none d-lg-block">B{{ output.address | shortenString : 35 }}</span>
                </a>
              </td>
              <td class="text-right nowrap">
                {{ output.bsqAmount / 100 | number: '1.2-2' }} BSQ
              </td>
              <td class="pl-1 arrow-td">
                <i *ngIf="!output.spentInfo; else spent" class="arrow green"></i>
                <ng-template #spent>
                  <a [routerLink]="['/tx/' | relativeUrl, output.spentInfo.txId]"><i class="arrow red"></i></a>
                </ng-template>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>

</div>