<div style="min-height: 295px">
  <table class="table latest-adjustments">
    <thead>
      <tr>
        <th class="d-none d-md-block" i18n="block.height">Height</th>
        <th i18n="mining.adjusted" class="text-left">Adjusted</th>
        <th i18n="mining.difficulty" class="text-right">Difficulty</th>
        <th i18n="mining.change" class="text-right">Change</th>
      </tr>
    </thead>
    <tbody *ngIf="(hashrateObservable$ | async) as data">
      <tr *ngFor="let diffChange of data.difficulty">
        <td class="d-none d-md-block"><a [routerLink]="['/block' | relativeUrl, diffChange.height]">{{ diffChange.height
            }}</a></td>
        <td class="text-left">
          <app-time-since [time]="diffChange.timestamp" [fastRender]="true"></app-time-since>
        </td>
        <td class="text-right">{{ diffChange.difficultyShorten }}</td>
        <td class="text-right" [style]="diffChange.change >= 0 ? 'color: #42B747' : 'color: #B74242'">
          {{ diffChange.change >= 0 ? '+' : '' }}{{ diffChange.change | amountShortener }}%
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="isLoading">
      <tr *ngFor="let item of [1,2,3,4,5,6]">
        <td class="d-none d-md-block w-75"><span class="skeleton-loader"></span></td>
        <td class="text-left"><span class="skeleton-loader w-75"></span></td>
        <td class="text-right"><span class="skeleton-loader w-75"></span></td>
        <td class="text-right"><span class="skeleton-loader w-75"></span></td>
      </tr>
    </tbody>
  </table>
</div>