@media (max-width: 767.98px) {
	.td-width {
		width: 150px;
	}
	.mobile-even tr:nth-of-type(even) {
		background-color: #181b2d;
	}
	.mobile-even tr:nth-of-type(odd) {
		background-color: inherit;
	}
}

.table {
	tr td {
		&:last-child{
			text-align: right;
			@media(min-width: 768px){
				text-align: left;
			}
		}
	}
}