<div class="modal-header">
  <h4 class="modal-title">Fee distribution for block <a href="https://www.blockstream.info/block-height/{{ block.height }}" target="_blank">#{{ block.height }}</a></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <table class="table table-borderless table-sm">
      <tr>
        <th>Median fee:</th>
        <td>~{{ block.medianFee | ceil }} sat/vB <span *ngIf="conversions">(~<span class="green-color">{{ conversions.USD * (block.medianFee/100000000)*250 | currency:'USD':'symbol':'1.2-2' }}</span>/tx)</span></td>
        <th>Block size:</th>
        <td>{{ block.size | bytes: 2 }}</td>
      </tr>
      <tr>
        <th>Fee span:</th>
        <td class="yellow-color">{{ block.minFee | ceil }} - {{ block.maxFee | ceil }} sat/vB</td>
        <th>Tx count:</th>
        <td>{{ block.nTx }} transactions</td>
      </tr>
      <tr>
        <th>Total fees:</th>
        <td>{{ (block.fees - 12.5) | number: '1.2-2' }} BTC <span *ngIf="conversions">(<span class="green-color">{{ conversions.USD * (block.fees - 12.5) | currency:'USD':'symbol':'1.0-0' }}</span>)</span></td>
        <th>Block reward + fees:</th>
        <td>{{ block.fees | number: '1.2-2' }} BTC <span *ngIf="conversions">(<span class="green-color">{{ conversions.USD * block.fees | currency:'USD':'symbol':'1.0-0' }}</span>)</span></td>
      </tr>
    </table>
  </div>

  <hr>

  <app-fee-distribution-graph [blockHeight]="block.height"></app-fee-distribution-graph>
</div>
