<div class="mb-3 d-flex menu" style="padding: 0px 35px;">
  <a routerLinkActive="active" class="btn btn-primary w-50 mr-1"
    [routerLink]="['/graphs/mempool' | relativeUrl]">Mempool</a>
  <div ngbDropdown *ngIf="stateService.env.MINING_DASHBOARD" class="w-50">
    <button class="btn btn-primary w-100" id="dropdownBasic1" ngbDropdownToggle i18n="mining">Mining</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/graphs/mining/pools' | relativeUrl]"
        i18n="mining.pools">Pools Ranking</a>
      <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/graphs/mining/pools-dominance' | relativeUrl]"
        i18n="mining.pools-dominance">Pools Dominance</a>
      <a class="dropdown-item" routerLinkActive="active"
        [routerLink]="['/graphs/mining/hashrate-difficulty' | relativeUrl]" i18n="mining.hashrate-difficulty">Hashrate & Difficulty</a>
      <a class="dropdown-item" routerLinkActive="active"
        [routerLink]="['/graphs/mining/block-fee-rates' | relativeUrl]" i18n="mining.block-fee-rates">Block Fee Rates</a>
      <a class="dropdown-item" routerLinkActive="active"
        [routerLink]="['/graphs/mining/block-fees' | relativeUrl]" i18n="mining.block-fees">Block Fees</a>
      <a class="dropdown-item" routerLinkActive="active"
        [routerLink]="['/graphs/mining/block-rewards' | relativeUrl]" i18n="mining.block-rewards">Block Rewards</a>
      <a class="dropdown-item" routerLinkActive="active"
        [routerLink]="['/graphs/mining/block-sizes-weights' | relativeUrl]" i18n="mining.block-sizes-weights">Block Sizes and Weights</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
