<div [class]="widget === false ? 'full-container' : ''">

  <div class="card-header mb-0 mb-md-4" [style]="widget ? 'display:none' : ''">
    <div class="d-flex d-md-block align-items-baseline">
      <span i18n="lightning.network-capacity">Lightning Network Capacity</span>
      <button class="btn p-0 ps-2" style="margin: 0 0 4px 0px" (click)="onSaveChart()">
        <fa-icon [icon]="['fas', 'download']" [fixedWidth]="true"></fa-icon>
      </button>
    </div>

    <form [formGroup]="radioGroupForm" class="formRadioGroup" *ngIf="(capacityObservable$ | async) as stats">
      <div class="btn-group" role="group" name="radioBasic">
        <ng-container *ngIf="stats.days >= 30">
          <input type="radio" class="btn-check" id="statisticschart-1m" [value]="'1m'" fragment="1m" [routerLink]="['/graphs/lightning/capacity' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="statisticschart-1m">1M</label>
        </ng-container>
        <ng-container *ngIf="stats.days >= 90">
          <input type="radio" class="btn-check" id="statisticschart-3m" [value]="'3m'" fragment="3m" [routerLink]="['/graphs/lightning/capacity' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="statisticschart-3m">3M</label>
        </ng-container>
        <ng-container *ngIf="stats.days >= 180">
          <input type="radio" class="btn-check" id="statisticschart-6m" [value]="'6m'" fragment="6m" [routerLink]="['/graphs/lightning/capacity' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="statisticschart-6m">6M</label>
        </ng-container>
        <ng-container *ngIf="stats.days >= 365">
          <input type="radio" class="btn-check" id="statisticschart-1y" [value]="'1y'" fragment="1y" [routerLink]="['/graphs/lightning/capacity' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="statisticschart-1y">1Y</label>
        </ng-container>
        <ng-container *ngIf="stats.days >= 730">
          <input type="radio" class="btn-check" id="statisticschart-2y" [value]="'2y'" fragment="2y" [routerLink]="['/graphs/lightning/capacity' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="statisticschart-2y">2Y</label>
        </ng-container>
        <ng-container *ngIf="stats.days >= 1095">
          <input type="radio" class="btn-check" id="statisticschart-3y" [value]="'3y'" fragment="3y" [routerLink]="['/graphs/lightning/capacity' | relativeUrl]" formControlName="dateSpan">
          <label class="btn btn-primary btn-sm" for="statisticschart-3y">3Y</label>
        </ng-container>
        <input type="radio" class="btn-check" id="statisticschart-all" [value]="'all'" fragment="all" [routerLink]="['/graphs/lightning/capacity' | relativeUrl]" formControlName="dateSpan">
        <label class="btn btn-primary btn-sm" for="statisticschart-all">ALL</label>
      </div>
    </form>
  </div>

  <div [class]="!widget ? 'chart' : 'chart-widget'" *browserOnly [style]="{ height: widget ? (height + 'px') : null}" echarts [initOpts]="chartInitOptions" [options]="chartOptions"
    (chartInit)="onChartInit($event)"></div>
  <div class="text-center loadingGraphs" *ngIf="!stateService.isBrowser || isLoading">
    <div class="spinner-border text-light"></div>
  </div>

  <div *ngIf="widget && (capacityObservable$ | async) as stats">
    <div *ngIf="stats.days === 0" class="indexing-message d-flex" i18n="lightning.indexing-in-progress">Indexing in progress</div>
  </div>

</div>