<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <a class="nav-link" [class.active]="view === 'blocks'" routerLink="/explorer" (click)="view = 'blocks'">Blocks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="view === 'transactions'" routerLink="/explorer" fragment="transactions" (click)="view = 'transactions'">Transactions</a>
  </li>
</ul>

<app-latest-blocks *ngIf="view === 'blocks'; else latestTransactions"></app-latest-blocks>
<ng-template #latestTransactions>
  <app-latest-transactions></app-latest-transactions>
</ng-template>
<br>
