.td-width {
	width: 140px;
	@media (min-width: 768px) {
		width: 175px;
	}
}

h1 {
	margin: 0px;
	padding: 0px;
	@media (min-width: 576px) {
		float: left;
		margin-right: 10px;
	}
}

.row{
	flex-direction: column;
	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.block-container {	
	.table {
		tr td {
			&:last-child {
				text-align: right;
				@media (min-width: 992px) {
					text-align: left;
				}
			}
		}
	}
	.fiat {
		display: block;
		font-size: 13px;
		@media (min-width: 992px) {
			display: inline-block;
			font-size: 14px;
			margin-left: 10px;
		}
	}
}