p {
  color: var(--title-fg);
  font-weight: 700;
  margin: 10px 0;
  margin: 15px 0 10px 0;
}

a {
  color: var(--fg);
  text-decoration: none;
  display: block;
  margin: 5px 0;
  cursor: pointer;
  position: relative;

  &.active {
    color: var(--info);
    font-weight: 600;
  }

  .active-fragment {
    position: absolute;
    left: -20px;
    top: 0;
    margin-top: 0.1em;
    font-size: 14px;
    color: var(--info);
    display: inline-block;
    width: 20px;
    line-height: inherit;
  }
}

#enterprise-cta-desktop {
  text-align: center;
  padding: 20px;
  margin: 20px 20px 20px 0;
  background-color: var(--bg);
  border-radius: 12px;
}

#enterprise-cta-desktop p {
  margin: 0 auto 16px auto;
  color: var(--fg);
  font-weight: 400;
}

#enterprise-cta-desktop a {
  display: inline-block;
}

fa-icon {
  font-size: 12px;
}
