.center {
  text-align: center;
}

.note {
  font-style: italic;
}

.text-small {
  font-size: 12px;
}

.container-xl {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
}

code {
  background-color: var(--bg);
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.math {
  font-family: monospace;
  margin-left: 4px;
  margin-right: 4px;
}

tr {
  white-space: inherit;
}

.nowrap {
  white-space: nowrap;
}

li.nav-item {
  width: 100%;
  @media (min-width: 676px){
    width: auto;
  }
}

ul.no-bull {
  list-style: none;
}

ul.no-bull.block-audit li code {
  text-transform: uppercase;
}

ul.no-bull.block-audit li span {
  margin-right: 10px;
}

ul.no-bull.block-audit li span.block-audit-highlight-color.added {
  color: #0099ff;
}

ul.no-bull.block-audit li span.block-audit-highlight-color.removed {
  color: #f344df;
}

ul.no-bull.block-audit li span.block-audit-highlight-color.recent {
  color: #8a3480;
}

ul.no-bull.block-audit li span.block-audit-highlight-color.marginal {
  color: #414127;
}

ul.no-bull.block-audit li p {
  margin-left: 25px;
  margin-top: 5px;
}

ul.no-bull.block-audit li ul {
  margin-left: 15px;
  margin-bottom: 15px;
}

ul.no-bull.block-audit code{
  background-color: inherit;
}

.doc-welcome-note {
  margin-bottom: 0;
}

.api-note {
  margin-top: 1rem;
}

.nav-tabs .nav-link.active {
  border-bottom: 1px solid #fff;
  @media (min-width: 676px){
    border-bottom: 1px solid var(--active-bg);
  }
}

.code-tab {
  width: auto;
  margin: 20px auto 10px;
  li.nav-item {
    width: auto;
  }

}

.code {
  .tab-content {
    padding: 0px;
  }
  .nav-tabs .nav-link.active {
    border-bottom: 1px solid var(--active-bg);
  }
  .subtitle {
    display: flex;
    justify-content: space-between;
  }
}
.description {
  margin-top: 20px;
}
.title {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.25rem;
}
.subtitle {
  font-weight: bold;
}
.divider {
  width: 100%;
  margin: 30px auto;
  height: 1px;
  background: #333;
}

.difficulty {
  padding: 15px;
}

#doc-nav-desktop {
  width: 300px;
  margin-top: -15px;
}

#doc-nav-desktop.relative {
  float: left;
  overflow: hidden;
}

#doc-nav-desktop.fixed {
  float: unset;
  position: fixed;
  top: 80px;
  overflow-y: auto;
  height: calc(100vh - 75px);
  scrollbar-color: var(--secondary) var(--active-bg);
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: var(--active-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 5px;
  border: none;
}

.doc-content {
  width: calc(100% - 330px);
  float: right;
}

.doc-content.no-sidebar {
  width: 100%
}

h3 {
  margin: 2rem 0 0 0;
}

.endpoint-container:before {
	display: block;
 	content: " ";
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}

.endpoint-container .section-header {
  display: block;
  background-color: var(--secondary);
  color: var(--info);
  padding: 1rem 1.3rem 1rem 1.3rem;
  font-weight: bold;
  border-radius: 0.25rem;
  margin: 20px 0 20px 0;
  font-size: 24px;
  position: relative;
  cursor: pointer;
}
.endpoint-container .section-header:hover {
  text-decoration: none;
}

.endpoint-container .section-header span {
  color: var(--fg);
  background-color: var(--tertiary);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 8px 10px;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  font-family: monospace;
  float: right;
  white-space: nowrap;
}

.endpoint-container .section-header table {
  width: 100%;
}

.endpoint-container .section-header table td:first-child {
  padding-right: 24px;
}

#doc-nav-mobile {
  position: fixed;
  top: 20px;
  width: calc(100% - 60px);
  z-index: 100;
}

#doc-nav-mobile .card-body {
  padding: 0 1.25rem 1.25rem 1.25rem;
}

#doc-nav-mobile > div {
  background-color: var(--secondary);
  z-index: 100;
  border-radius: 0 0 0.5rem 0.5rem;
  height: 55vh;
  overflow-y: auto;
}

#doc-nav-mobile button {
  width: 100%;
  background-color: var(--primary);
  color: var(--fg);
  border-color: var(--primary);
  border-radius: 0.5rem 0.5rem 0 0;
}

.blockchain-wrapper {
  display: block;
  height: 100%;
  width: 100%;
  min-height: 220px;
  position: relative;
  overflow: hidden;

  .position-container {
    position: absolute;
    left: 50%;
    bottom: 158px;
  }

  #divider {
    width: 2px;
    height: 175px;
    left: 0;
    top: -40px;
    position: absolute;
  }

  &.time-ltr {
    .blocks-wrapper {
      transform: scaleX(-1);
    }
  }
}

:host-context(.ltr-layout) {
  .blockchain-wrapper.time-ltr .blocks-wrapper,
  .blockchain-wrapper .blocks-wrapper {
    direction: ltr;
  }
}

:host-context(.rtl-layout) {
  .blockchain-wrapper.time-ltr .blocks-wrapper,
  .blockchain-wrapper .blocks-wrapper {
    direction: rtl;
  }
}

#disclaimer {
  background-color: var(--bg);
  padding: 24px;
  margin: 24px 0;
}

.disclaimer-warning {
  margin-right: 50px;
}

#disclaimer p:last-child {
  margin-bottom: 0;
}

#enterprise-cta-mobile {
  padding: 20px;
  background-color: var(--bg);
  border-radius: 0.25rem;
  text-align: center;
  position: fixed;
  z-index: 100;
  left: 30px;
  width: calc(100% - 60px);
  bottom: 70px;
  display: none;
  border: 3px solid #533180;
}

#enterprise-cta-mobile p {
  font-size: 16px;
  display: inline-block;
  margin: 0 auto;
}

#enterprise-cta-mobile a {
  padding: 4px 8px;
  font-size: 16px;
  margin: 15px 5px 5px 5px;
}

#enterprise-cta-mobile .btn-secondary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

#enterprise-cta-mobile .no-line-break {
  white-space: nowrap;
}

@media (max-width: 992px) {

  h3 {
    margin: 1.5rem 0 0 0;
  }

  .hide-on-mobile {
    display: none;
  }

  .disclaimer-warning {
    display: block;
    margin: 2px auto 16px;
    text-align: center;
  }

  .doc-content {
    width: 100%;
    float: unset;
  }

  .endpoint-container {
    position: relative;
    overflow: hidden;
    height: auto;
    transition: 0.5s height ease;
  }

  .endpoint-container .section-header {
    margin: 0;
    font-size: 18px;
    z-index: 1;
  }

  .endpoint-container .section-header span {
    display: none;
  }

  .endpoint-container:before {
    height: 5px;
    margin-top: 10px;
  }

  .endpoint-container .endpoint-content {
    width: 100%;
    position: absolute;
    top: -10000px;
    opacity: 0;
    transition: 0.5s opacity ease;
  }

  .doc-welcome-note {
    font-size: 0.85rem;
  }

  #disclaimer table {
    display: none;
  }

  #enterprise-cta-mobile {
    display: initial;
  }
}

@media (min-width: 992px) {

  .hide-on-desktop {
    display: none;
  }

  h3 {
    display: none;
  }

  .doc-item-container:last-of-type .endpoint-container {
    margin-bottom: 4rem;
  }
}

/* styles for nested definition lists */
dl {
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
  color: var(--title-fg);
  padding: 5px 0;
}

dd {
  padding: 2px 0;

  & > dl {
    padding-left: 1em;
    border-left: 2px solid var(--title-fg);
    margin-left: 1em;
    margin-top: 5px;
  }

  & > dl > dt {
    display: inline;
    font-weight: normal;
    color: #e83e8c;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    text-transform: uppercase;

    &:before {
      content: "";
      display: block;
    }
  }

  & > dl > dd {
    display: inline;
    margin-left: 1em;
  }
}

code {
  background-color: var(--bg);
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #f18920;
  background-color: var(--bg);
  padding: 30px;
  code{
    background-color: transparent;
    white-space: break-spaces;
    word-break: break-all;
  }
}