p {
  color: #4a68b9;
  font-weight: 700;
  margin: 10px 0;
  margin: 15px 0 10px 0;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

#enterprise-cta-desktop {
  text-align: center;
  padding: 20px;
  margin: 20px 20px 20px 0;
  background-color: #1d1f31;
  border-radius: 12px;
}

#enterprise-cta-desktop p {
  margin: 0 auto 16px auto;
  color: #fff;
  font-weight: 400;
}

#enterprise-cta-desktop a {
  display: inline-block;
}

