.block-overview-tooltip {
  position: absolute;
  background: rgba(#11131f, 0.95);
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  color: #b1b1b1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  text-align: left;
  min-width: 320px;
  pointer-events: none;

  &.clickable {
    pointer-events: all;
  }
}

.td-width {
  padding-right: 10px;
}

.badge.badge-accelerated {
  background-color: #653b9c;
  box-shadow: #ad7de57f 0px 0px 12px -2px;
  color: white;
  animation: acceleratePulse 1s infinite;
}

@keyframes acceleratePulse {
  0% { background-color: #653b9c; box-shadow: #ad7de57f 0px 0px 12px -2px; }
  50% { background-color: #8457bb; box-shadow: #ad7de5 0px 0px 18px -2px;}
  100% { background-color: #653b9c; box-shadow: #ad7de57f 0px 0px 12px -2px; }
}