.block-overview-tooltip {
  position: absolute;
  background: rgba(#11131f, 0.95);
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  color: #b1b1b1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  text-align: left;
  width: 320px;
  pointer-events: none;

  &.clickable {
    pointer-events: all;
  }
}
