#volumeHolder {
    height: 500px;
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.table {
    max-width: 100%;
    overflow: scroll;
}

.loadingVolumes {
    position: relative;
    top: 45%;
    z-index: 100;
}

.container-info{
    overflow-x: scroll;
}