#volumeHolder {
    height: 500px;
    background-color: #000;
    overflow: hidden;
}

.table {
    max-width: 100%;
    overflow: scroll;
}

.loadingVolumes {
    position: relative;
    top: 50%;
    z-index: 100;
}
.container-info{
    overflow-x: scroll;
}