<div class="container-xl">

  <h1>Trading volume</h1>

  <div id="volumeHolder">
    <ng-template #loadingVolumes>
      <div class="text-center loadingVolumes">
        <div class="spinner-border text-light"></div>
      </div>  
    </ng-template>
    <ng-container *ngIf="volumes$ | async as volumes; else loadingVolumes">
      <app-lightweight-charts-area [data]="volumes.data" [lineData]="volumes.linesData"></app-lightweight-charts-area>
    </ng-container>
  </div>

  <br>

  <h1>Markets</h1>
  <ng-container *ngIf="{ value: (tickers$ | async) } as tickers">

  <table class="table table-borderless table-striped">
    <thead>
      <th>Currency</th>
      <th>Price</th>
      <th>Volume (7d)</th>
      <th>Trades (7d)</th>
    </thead>
    <tbody *ngIf="tickers.value; else loadingTmpl">
      <tr *ngFor="let ticker of tickers.value; trackBy: trackByFn;">
        <td><a [routerLink]="['/market' | relativeUrl, ticker.pair_url]">{{ ticker.market.rtype === 'crypto' ? ticker.market.lname : ticker.market.rname }} ({{ ticker.market.rtype === 'crypto' ? ticker.market.lsymbol : ticker.market.rsymbol }})</a></td>
        <td>
          <app-fiat *ngIf="ticker.market.rtype === 'crypto'; else fiat" [value]="ticker.last * 100000000"></app-fiat>
          <ng-template #fiat>
            <span class="green-color">{{ ticker.last | currency: ticker.market.rsymbol }}</span>
          </ng-template>
        </td>
        <td>
          <app-fiat [value]="ticker.volume?.volume"></app-fiat>
        </td>
        <td>{{ ticker.volume?.num_trades }}</td>
      </tr> 
    </tbody>
  </table>

  <br>

  </ng-container>
</div>

<ng-template #loadingTmpl>
  <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
    <td *ngFor="let j of [1, 2, 3, 4, 5, 6]"><span class="skeleton-loader"></span></td>
  </tr>
</ng-template>
