<div class="container">
  <h1>Latest blocks</h1>

  <table class="table table-borderless">
    <thead>
      <th>Height</th>
      <th>Timestamp</th>
      <th>Mined</th>
      <th>Transactions</th>
      <th>Size</th>
      <th>Weight</th>
    </thead>
    <tbody>
      <tr *ngFor="let block of blocks; let i= index;">
        <td><a [routerLink]="['./block', block.id]">#{{ block.height }}</a></td>
        <td>{{ block.timestamp * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ block.timestamp | timeSince }} ago </td>
        <td>{{ block.tx_count }}</td>
        <td>{{ block.size | bytes: 2 }}</td>
        <td>{{ block.weight | wuBytes: 2 }}</td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <ng-template [ngIf]="isLoading">
      <div class="spinner-border text-light"></div>
      <br><br>
    </ng-template>
    <button  *ngIf="blocks.length" type="button" class="btn btn-primary" (click)="loadMore()">Load more</button>
  </div>

  <br>
</div>
