.close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.estimating {
  color: var(--green)
}

.paymentMethod {
  padding: 10px;
  background-color: var(--secondary);
  border-radius: 15px;
  border: 2px solid var(--bg);
  cursor: pointer;
}

.default-slot:not(:only-child) {
  display: none;
}

.pie {
  display: flex;
  align-items: center;
  max-width: 330px;
}