@import './accelerate-checkout.component.scss';

.private-accelerate {
  margin-bottom: 1rem;
}

.bid-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.payment-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
