.title-wrapper {
  padding: 0 15px;
}

.qr-wrapper {
  background-color: #fff;
  padding: 10px;
  padding-bottom: 5px;
  display: inline-block;
}

.qrcode-col {
  width: 468px;
  min-width: 468px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  padding: 0;
  margin-left: 2px;
  margin-right: 15px;
}

.table-col {
  max-width: calc(100% - 470px);
  overflow: hidden;
}

.table {
  font-size: 32px;
  margin-top: 48px;

  ::ng-deep .symbol {
    font-size: 24px;
  }
}