.progress {
  background-color: var(--secondary);
  position: relative;
  top: 5px;
}

.fiat {
  font-size: 13px;
  display: inline-block;
  margin-left: 10px;
}

.table {
  tr td {
    &:last-child{
      text-align: right;
      @media (min-width: 992px) {
        text-align: left;
      }
    }
  }
}

h1 {
  margin: 0px;
  padding: 0px;
  line-height: 1;
  @media (min-width: 576px) {
    float: left;
  }
}

.chart-container{
  margin: 20px auto;
  @media (min-width: 768px) {
    margin: auto;
  }
}
