.progress {
  background-color: #2d3348;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
}

.title-block {
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 3px;
  border-top: 3px solid #FFF;
}