.progress-mempool {
  background: repeating-linear-gradient(to right, #2d3348, #2d3348 0%, #105fb0 0%, #9339f4 100%);
}

.progress {
  background-color: #2d3348;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
}

.title-block {
  color: #FFF;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 3px;
  border-top: 5px solid #FFF;
}

.title-block > h1 {
  margin: 0;
}