<div
  #tooltip
  *ngIf="line"
  class="bowtie-graph-tooltip"
  [style.visibility]="line ? 'visible' : 'hidden'"
  [style.left]="tooltipPosition.x + 'px'"
  [style.top]="tooltipPosition.y + 'px'"
>
  <ng-container *ngIf="line.rest; else coinbase">
    <span>{{ line.rest }} </span>
    <ng-container [ngSwitch]="line.type">
      <span *ngSwitchCase="'input'" i18n="transaction.other-inputs">other inputs</span>
      <span *ngSwitchCase="'output'" i18n="transaction.other-outputs">other outputs</span>
    </ng-container>
  </ng-container>

  <ng-template #coinbase>
    <ng-container *ngIf="line.coinbase; else pegin">
      <p>Coinbase</p>
    </ng-container>
  </ng-template>

  <ng-template #pegin>
    <ng-container *ngIf="line.pegin; else pegout">
      <p *ngIf="!isConnector">Peg In</p>
    </ng-container>
  </ng-template>

  <ng-template #pegout>
    <ng-container *ngIf="line.pegout; else normal">
      <p *ngIf="!isConnector">Peg Out</p>
      <p *ngIf="line.value != null"><app-amount [satoshis]="line.value"></app-amount></p>
      <p class="address">
        <span class="first">{{ line.pegout.slice(0, -4) }}</span>
        <span class="last-four">{{ line.pegout.slice(-4) }}</span>
      </p>
    </ng-container>
  </ng-template>

  <ng-template #normal>
      <p *ngIf="!isConnector">
        <ng-container [ngSwitch]="line.type">
          <span *ngSwitchCase="'input'" i18n="transaction.input">Input</span>
          <span *ngSwitchCase="'output'" i18n="transaction.output">Output</span>
          <span *ngSwitchCase="'fee'" i18n="transaction.fee|Transaction fee">Fee</span>
        </ng-container>
        <span *ngIf="line.type !== 'fee'"> #{{ line.index + 1 }}</span>
      </p>
      <ng-container *ngIf="isConnector && line.txid">
        <p>
          <span i18n="transaction">Transaction</span>&nbsp;
          <span class="first">{{ line.txid.slice(0, 8) }}</span>...
          <span class="last-four">{{ line.txid.slice(-4) }}</span>
        </p>
          <ng-container [ngSwitch]="line.type">
            <p *ngSwitchCase="'input'"><span i18n="transaction.output">Output</span>&nbsp; #{{ line.vout + 1 }}</p>
            <p *ngSwitchCase="'output'"><span i18n="transaction.input">Input</span>&nbsp; #{{ line.vin + 1 }}</p>
          </ng-container>
      </ng-container>
      <p *ngIf="line.value == null && line.confidential" i18n="shared.confidential">Confidential</p>
      <p *ngIf="line.value != null"><app-amount [satoshis]="line.value"></app-amount></p>
      <p *ngIf="line.type !== 'fee' && line.address" class="address">
        <span class="first">{{ line.address.slice(0, -4) }}</span>
        <span class="last-four">{{ line.address.slice(-4) }}</span>
      </p>
  </ng-template>
</div>
