.address-poisoned {
  text-overflow: unset;
  display: flex;
  flex-direction: row;
  align-items: start;
  position: relative;
	font-family: monospace;

  &:hover {
      filter: brightness(0.85);
  }

  .infix {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    text-decoration: underline 2px;
  }

  .prefix, .postfix {
    flex-shrink: 0;
    flex-grow: 0;
    user-select: none;

    text-decoration: underline var(--red) 2px;
  }
}

.address {
  text-overflow: unset;
  display: flex;
  flex-direction: row;
  align-items: start;
  position: relative;
  font-family: monospace;

  .address-link {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-shrink: 1;
    overflow: hidden;
    min-width: 0;

    &:hover {
      filter: brightness(0.85);
    }
  }

  .first {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

  .last {
    flex-shrink: 0;
    flex-grow: 0;
    user-select: none;
  }

  &.inline {
    display: inline-flex;
  }

  .hidden-content {
    color: transparent;
    position: absolute;
    max-width: 300px;
    overflow: hidden;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.8;
  }
}

.spacer {
  margin-right: 2px;
}

.poison-alert {
  margin-left: .5em;
  color: var(--yellow);
}

@media (max-width: 567px) {
  .hidden-content {
    max-width: 150px !important;
  }
}