.address {
  text-overflow: unset;
  display: flex;
  flex-direction: row;
  align-items: start;
  position: relative;
  font-family: monospace;

  .address-link {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-shrink: 1;
    overflow: hidden;
    min-width: 0;

    &:hover {
      filter: brightness(0.85);
    }
  }

  .first {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

  .last {
    flex-shrink: 0;
    flex-grow: 0;
    user-select: none;
  }

  .first, .last {
   > span {
      padding-inline-end: 2px;
      &:nth-child(even) {
        color: #18e2cf;
      }

      &.partial {
        padding-inline-end: 0;
      }

      &.hidden {
        visibility: hidden;
        width: 0;
        padding-inline-end: 0;
      }

      &:has(> .prefix, > .infix, > .postfix) {
        padding-inline-end: 0;

        > :last-child {
          padding-inline-end: 2px;
        }

        &.partial > :last-child {
          padding-inline-end: 0;
        }
      }
    }
  }

  .last span:last-child {
    padding-inline-end: 0;
  }

  &.inline {
    display: inline-flex;
  }

  .hidden-content {
    color: transparent;
    position: absolute;
    max-width: 300px;
    overflow: hidden;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.8;
  }

  .infix {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    border-bottom: 2px solid;
  }

  .prefix, .postfix {
    flex-shrink: 0;
    flex-grow: 0;
    user-select: none;

    border-bottom: 2px solid var(--red);
  }
}

.poison-alert {
  margin-left: .5em;
  color: var(--yellow);
}

@media (max-width: 567px) {
  .hidden-content {
    max-width: 150px !important;
  }
}