<div id="tv-wrapper">
  <div class="tv-container">
    <div class="chart-holder">
      <app-mempool-graph
        [template]="'advanced'"
        [limitFee]="500"
        [height]="600"
        [left]="60"
        [right]="10"
        [data]="statsSubscription$ | async"
        [showZoom]="false"
      ></app-mempool-graph>
    </div>
    <div class="blockchain-wrapper">
      <div class="position-container">
        <app-mempool-blocks></app-mempool-blocks>
        <app-blockchain-blocks></app-blockchain-blocks>
        <div id="divider"></div>
      </div>
    </div>
  </div>
</div>
