
.loading {
  margin: auto;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.tv-wrapper {
  height: 100vh;
  padding: 0;
  justify-content: space-evenly !important;
  padding: 15px 0px 15px 0px;
}

.chart {
  min-height: 70%;
  @media only screen and (max-height: 700px) {
    zoom: 0.7;
  }
  @media only screen and (max-height: 500px) {
    min-height: 100%;
  }
}

.blocks {
  @media only screen and (max-height: 700px) {
    zoom: 0.7;
  };
  @media only screen and (max-height: 500px) {
    display: none;
  };
  overflow: hidden;
}
