.card-header {
  border-bottom: 0;
  font-size: 18px;
  @media (min-width: 465px) {
    font-size: 20px;
  }
  @media (min-width: 992px) {
    height: 40px;
  }
}

.main-title {
  position: relative;
  color: #ffffff91;
  margin-top: -13px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3px;
}

.full-container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  width: 100%;
  height: calc(100vh - 250px);
  @media (min-width: 992px) {
    height: calc(100vh - 150px);
  }
}

.chart {
  display: flex;
  flex: 1;
  height: 100%;
  padding-bottom: 20px;
  padding-right: 10px;
  @media (max-width: 992px) {
    padding-bottom: 25px;
  }
  @media (max-width: 829px) {
    padding-bottom: 50px;
  }
  @media (max-width: 767px) {
    padding-bottom: 25px;
  }
  @media (max-width: 629px) {
    padding-bottom: 55px;
  }
  @media (max-width: 567px) {
    padding-bottom: 55px;
  }
}
.chart-widget {
  width: 100%;
  height: 100%;
  max-height: 270px;
}

.formRadioGroup {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  @media (min-width: 991px) {
    position: relative;
    top: -100px;
  }
  @media (min-width: 830px) and (max-width: 991px) {
    position: relative;
    top: 0px;
  }
  @media (min-width: 830px) {
    flex-direction: row;
    float: right;
    margin-top: 0px;
  }
  .btn-sm {
    font-size: 9px;
    @media (min-width: 830px) {
      font-size: 14px;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}