#divider {
  width: 3px;
  height: 3000px;
  left: 0;
  top: -1000px;
  background-image: url('/assets/divider-new.png');
  background-repeat: repeat-y;
  position: absolute;
  margin-bottom: 120px;
}

#divider > img {
  position: absolute;
  left: -100px;
  top: -28px;
}

.blockchain-wrapper {
  overflow: hidden;
}

.position-container {
  position: absolute;
  left: 50%;
  top: calc(50% - 60px);
}

@media (max-width: 767.98px) {
  #divider {
    top: -50px;
    height: 1300px;
  }
  .position-container {
    top: 100px;
  }
}

@media (min-width: 1920px) {
  .position-container {
    transform: scale(1.3);
  }
}

.black-background {
  background-color: #11131f;
  z-index: 100;
  position: relative;
}
