.block-filled {
  width: 100%;
  background-color: #aeffb0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.block-filled .segwit {
  background-color: #16ca1a;
}

.bitcoin-block {
  width: 125px;
  height: 125px;
  cursor: pointer;
}

.mined-block {
  position: absolute;
  top: 0px;
  transition: 1s;
}

.block-size {
  font-size: 18px;
  font-weight: bold;
}

.blocks-container {
  position: absolute;
  top: 0px;
  left: 40px;
}

.projected-blocks-container {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;

  animation: opacityPulse 2s ease-out;
  animation-iteration-count: infinite; 
  opacity: 1;
}

.projected-block {
  position: absolute;
  top: 0;
}

.block-body {
  text-align: center;
}

@keyframes opacityPulse {
  0% {opacity: 0.7;}
  50% {opacity: 1.0;}
  100% {opacity: 0.7;}
}

.time-difference {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

#divider {
  width: 3px;
  height: 3000px;
  left: 0;
  top: -1000px;
  background-image: url('/assets/divider-new.png');
  background-repeat: repeat-y;
  position: absolute;
  margin-bottom: 120px;
}

#divider > img {
  position: absolute;
  left: -100px;
  top: -28px;
}

.fees {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.btcblockmiddle {
  height: 18px;
}

.breakRow {
  height: 30px;
  margin-top: 20px;
}

.yellow-color { 
  color: #ffd800;
}

.transaction-count {
  font-size: 12px;
}

.blockchain-wrapper {
  overflow: hidden;
}

.position-container {
  position: absolute;
  left: 50%;
  top: calc(50% - 60px);
}

.block-height {
  position: absolute;
  font-size: 12px;
  bottom: 160px;
  width: 100%;
  left: -12px;
  text-shadow: 0px 32px 3px #111;
  z-index: 100;
}

@media (max-width: 767.98px) {
  #divider {
    top: -50px;
  }
  .position-container {
    top: 100px;
  }
  .projected-blocks-container {
    position: absolute;
    left: -165px;
    top: -40px;
  }
  .block-height {
    bottom: 125px;
    left: inherit;
    text-shadow: inherit;
    z-index: inherit;
  }
}

@media (min-width: 1920px) {
  .position-container {
    transform: scale(1.3);
  }
}

@media (min-width: 768px) {
  .bitcoin-block::after {
    content: '';   
    width: 125px;
    height: 24px;
    position:absolute;
    top: -24px;
    left: -20px;
    background-color: #232838;
    transform:skew(40deg);
    transform-origin:top;    
  }

  .bitcoin-block::before {
    content: '';
    width: 20px;
    height: 125px;
    position: absolute;
    top: -12px;
    left: -20px;
    background-color: #191c27; 
    
    transform: skewY(50deg);
    transform-origin: top;     
  }

  .projected-block.bitcoin-block::after {
    background-color: #403834; 
  }

  .projected-block.bitcoin-block::before {
    background-color: #2d2825; 
  }
}

.black-background {
  background-color: #11131f;
  z-index: 100;
  position: relative;
}
