.container-xl {
  max-width: 1400px;
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .d-md-block {
      display: table-cell !important;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
      display: table-cell !important;
  }
}

.formRadioGroup {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  @media (min-width: 830px) {
    flex-direction: row;
    float: right;
    margin-top: 0px;
  }
  .btn-sm {
    font-size: 9px;
    @media (min-width: 830px) {
      font-size: 14px;
    }
  }
}

.chart {
  margin-top: 10px;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
  height: 400px;
}

div.scrollable {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: 75px;
}

.box {
  padding-bottom: 5px;
  @media (min-width: 767.98px) {
    min-height: 187px;
  }
}

.label {
  width: 25%;
  @media (min-width: 767.98px) {
    vertical-align: middle;
  }
  @media (max-width: 767.98px) {
    font-weight: bold;
  }
}
.label.addresses {
  vertical-align: top;
  padding-top: 25px;
}
.addresses-data {
  vertical-align: top;
  font-family: monospace;
  font-size: 14px;
}

.data {
  text-align: right;
  padding-left: 5%;
  @media (max-width: 992px) {
    text-align: left;
    padding-left: 12px;
  }
  @media (max-width: 450px) {
    text-align: right;
  }
}

.progress {
  background-color: var(--secondary);
}

.coinbase {
  width: 20%;
  @media (max-width: 875px) {
    display: none;
  }
}

.height {
  width: 10%;
}

.timestamp {
  @media (max-width: 875px) {
    padding-left: 50px;
  }
  @media (max-width: 685px) {
    display: none;
  }
}

.mined {
  width: 13%;
  @media (max-width: 1100px) {
    display: none;
  }
}

.txs {
  padding-right: 40px;
  @media (max-width: 1100px) {
    padding-right: 10px;
  }
  @media (max-width: 875px) {
    padding-right: 20px;
  }
  @media (max-width: 567px) {
    padding-right: 10px;
  }
}

.size {
  width: 12%;
  @media (max-width: 1000px) {
    width: 15%;
  }
  @media (max-width: 875px) {
    width: 20%;
  }
  @media (max-width: 650px) {
    width: 20%;
  }
  @media (max-width: 450px) {
    display: none;
  }
}

.scriptmessage {
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	vertical-align: middle;
	width: auto;
  text-align: left;
}

.skeleton-loader {
  max-width: 200px;
}
.skeleton-loader.data {
  max-width: 70px;
}


.loadingGraphs {
  position: absolute;
  left: calc(50% - 15px);
  z-index: 99;
  top: 475px;
  @media (max-width: 992px) {
    top: 600px;
  }
}

.small-button {
  height: 20px;
  font-size: 10px;
  padding-top: 0;
  padding-bottom: 0;
  outline: none;
  box-shadow: none;
}
.small-button.mobile {
  transform: translateY(-20px);
  @media (min-width: 767.98px) {
    transform: translateY(-17px);
  }
}

.data-title {
  color: var(--title-fg);
  font-size: 14px;
}

.clip {
  @media (max-width: 576px) {
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.table-data tr {
  background-color: transparent;
}
.table-data td {
  text-align: left;
  @media (max-width: 767.98px) {
    text-align: center;
  }
}

.taller-row {
  height: 75px;
}