.container-xl {
  max-width: 1400px;
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .d-md-block {
      display: table-cell !important;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
      display: table-cell !important;
  }
}

.formRadioGroup {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  @media (min-width: 830px) {
    flex-direction: row;
    float: right;
    margin-top: 0px;
  }
  .btn-sm {
    font-size: 9px;
    @media (min-width: 830px) {
      font-size: 14px;
    }
  }
}

.chart {
  margin-top: 10px;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
  height: 400px;
}

div.scrollable {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: 75px;
}

.pool-details {
  @media (min-width: 767.98px) {
    min-height: 187px;
  }

  .label {
    width: 25%;
    @media (min-width: 767.98px) {
      vertical-align: middle;
    }
    @media (max-width: 767.98px) {
      font-weight: bold;
    }
  }
  .label.addresses {
    vertical-align: top;
    padding-top: 25px;
  }
  .addresses-data {
    vertical-align: top;
    font-family: monospace;
    font-size: 14px;
  }

  .data {
    text-align: right;
    padding-left: 5%;
    @media (max-width: 992px) {
      text-align: left;
      padding-left: 12px;
    }
    @media (max-width: 450px) {
      text-align: right;
    }
  }

  .progress {
    background-color: var(--secondary);
  }

  .coinbase {
    width: 20%;
    @media (max-width: 875px) {
      display: none;
    }
  }

  .height {
    width: 10%;
  }

  .timestamp {
    @media (max-width: 875px) {
      padding-left: 50px;
    }
    @media (max-width: 685px) {
      display: none;
    }
  }

  .mined {
    width: 13%;
    @media (max-width: 1100px) {
      display: none;
    }
  }

  .txs {
    padding-right: 40px;
    @media (max-width: 1100px) {
      padding-right: 10px;
    }
    @media (max-width: 875px) {
      padding-right: 20px;
    }
    @media (max-width: 567px) {
      padding-right: 10px;
    }
  }

  .size {
    width: 12%;
    @media (max-width: 1000px) {
      width: 15%;
    }
    @media (max-width: 875px) {
      width: 20%;
    }
    @media (max-width: 650px) {
      width: 20%;
    }
    @media (max-width: 450px) {
      display: none;
    }
  }

  .scriptmessage {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: auto;
    text-align: left;
  }
}

.skeleton-loader {
  max-width: 200px;
}
.skeleton-loader.data {
  max-width: 70px;
}


.loadingGraphs {
  position: absolute;
  left: calc(50% - 15px);
  z-index: 99;
  top: 475px;
  @media (max-width: 992px) {
    top: 600px;
  }
}

.small-button {
  height: 20px;
  font-size: 10px;
  padding-top: 0;
  padding-bottom: 0;
  outline: none;
  box-shadow: none;
}
.small-button.mobile {
  transform: translateY(-20px);
  @media (min-width: 767.98px) {
    transform: translateY(-17px);
  }
}

.data-title {
  color: var(--title-fg);
  font-size: 14px;
}

.clip {
  @media (max-width: 576px) {
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.table-data tr {
  background-color: transparent;
}
.table-data td {
  text-align: left;
  @media (max-width: 767.98px) {
    text-align: center;
  }
}

.taller-row {
  height: 75px;
}

.stratum-table {
  width: 100%;

  .merkle {
    width: 100px;
    text-align: center;
  }

  .empty-branch {
    outline: solid 1px white;
    outline-offset: -1px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to top left, transparent, transparent 48%, white 49%, white 51%, transparent 52%, transparent);
    }
  }

  td {
    position: relative;
    height: 2em;

    .cell-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: inherit;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.job-table {
  td, th {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1rem 0.2rem;
  }

  @media (max-width: 767.98px) {
    .expected, .timestamp, .clean, .job-received {
      display: none;
    }
  }
}

.title-link, .title-link:hover, .title-link:focus, .title-link:active {
  display: block;
  text-decoration: none;
  color: inherit;
}