.card-title {
  color: var(--title-fg);
  font-size: 10px;
  margin-bottom: 4px;
  font-size: 1rem;

  margin-left: 10px;
}

.danger {
  color: var(--red);
}

.dropdown-menu {
  position: absolute;
  top: 42px;
  left: 0px;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.075);
  width: 100%;
}

.inactive {
  opacity: 0.2;
}

.active {
  background-color: var(--active-bg);
}

.pool-logo {
  width: 15px;
  height: 15px;
  position: relative;
  top: -1px;
  margin-right: 10px;
}
