.card-title {
  color: #4a68b9;
  font-size: 10px;
  margin-bottom: 4px;
  font-size: 1rem;

  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 42px;
  left: 0px;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.075);
  width: 100%;
}
