.card-header {
  border-bottom: 0;
  font-size: 18px;
  @media (min-width: 465px) {
    font-size: 20px;
  }
}

.full-container {
  padding: 0px 15px;
  width: 100%;
  height: calc(100% - 140px);
  @media (max-width: 992px) {
    height: calc(100% - 190px);
  };
  @media (max-width: 575px) {
    height: calc(100% - 230px);
  };
}

.chart {
  max-height: 400px;
  @media (max-width: 767.98px) {
    max-height: 230px;
  }
}
.chart-widget {
  width: 100%;
  height: 100%;
  height: 240px;
  @media (max-width: 485px) {
    max-height: 200px;
  }
}

.formRadioGroup {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  @media (min-width: 991px) {
    position: relative;
    top: -65px;
  }
  @media (min-width: 830px) and (max-width: 991px) {
    position: relative;
    top: 0px;
  }
  @media (min-width: 830px) {
    flex-direction: row;
    float: right;
    margin-top: 0px;
  }
  .btn-sm {
    font-size: 9px;
    @media (min-width: 830px) {
      font-size: 14px;
    }
  }
}

.bottom-padding {
  @media (max-width: 992px) {
    padding-bottom: 65px
  };
  @media (max-width: 576px) {
    padding-bottom: 65px
  };
}

@media (max-width: 767.98px) {
  .pools-table th,
  .pools-table td {
    padding: .3em !important;
  }
}

.loadingGraphs {
  position: absolute;
  top: 50%;
  left: calc(50% - 15px);
  z-index: 100;
}

.pool-distribution {
  min-height: 56px;
  display: block;
  @media (min-width: 485px) {
    display: flex;
    flex-direction: row;
  }
  h5 {
    margin-bottom: 10px;
  }
  .item {
    width: 50%;
    display: inline-block;
    margin: 0px auto 20px;
    &:nth-child(2) {
      order: 2;
      @media (min-width: 485px) {
        order: 3;
      }
    }
    &:nth-child(3) {
      order: 3;
      @media (min-width: 485px) {
        order: 2;
        display: block;
      }
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 992px) {
        display: block;
      }
    }
    .card-title {
      font-size: 1rem;
      color: #4a68b9;
    }
    .card-text {
      font-size: 18px;
      span {
        color: #ffffff66;
        font-size: 12px;
      }
    }
  }
}

.skeleton-loader {
  width: 100%;
  display: block;
  max-width: 80px;
  margin: 15px auto 3px;
}
