.difficulty-adjustment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.difficulty-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50.5px;
  .shared-block {
    color: var(--transparent-fg);
    font-size: 12px;
  }
  .item {
    padding: 0 5px;
    width: 100%;
    &:nth-child(1) {
      display: none;
      @media (min-width: 485px) {
        display: table-cell;
      }
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 992px) {
        display: table-cell;
      }
    }
  }
  .card-text {
    font-size: 18px;
    margin: auto;
    position: relative;
    margin-bottom: 0.2rem;
    &.bigger {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}


.difficulty-skeleton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50.5px;
  @media (min-width: 376px) {
    flex-direction: row;
  }
  .item {
    min-width: 120px;
    max-width: 150px;
    margin: 0;
    width: -webkit-fill-available;
    @media (min-width: 376px) {
      margin: 0 auto 0px;
    }
    &:first-child{
      display: none;
      @media (min-width: 485px) {
        display: block;
      }
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 992px) {
        display: block;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .card-text {
    .skeleton-loader {
      width: 100%;
      display: block;
      &:first-child {
        margin: 10px auto 4px;
        max-width: 80px;
      }
      &:last-child {
        margin: 10px auto 0;
        max-width: 120px;
      }
    }
  }
}

.card {
  background-color: var(--bg);
  height: 100%;
}

.card-title {
  color: var(--title-fg);
  font-size: 1rem;
}

.progress {
  display: inline-flex;
  width: 100%;
  background-color: var(--secondary);
  height: 1.1rem;
  max-width: 180px;
}

.skeleton-loader {
  max-width: 100%;
}

.more-padding {
  padding: 18px;
}

.small-bar {
  height: 8px;
  top: -4px;
  max-width: 120px;
}

.loading-container {
  min-height: 50.5px;
}

.main-title {
  position: relative;
  color: var(--fg);
  opacity: var(--opacity);
  margin-top: -13px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3px;
}

.card-wrapper {
  .card {
    height: auto !important;
  }
  .card-body {
    display: flex;
    flex: inherit;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  }
}

.retarget-sign {
  margin-right: -3px;
  font-size: 14px;
  top: -2px;
  position: relative;
}

.previous-retarget-sign {
  margin-right: -2px;
  font-size: 10px;
}

.symbol {
  font-size: 13px;
  white-space: nowrap;
}

.epoch-progress, .halving-progress {
  width: 100%;
  height: 22px;
  margin-bottom: 12px;
}

.epoch-blocks {
  display: block;
  width: 100%;
  background: var(--secondary);

  .rect {
    fill: var(--secondary);

    &.behind {
      fill: var(--red);
    }
    &.mined {
      fill: url(#diff-gradient);
    }
    &.ahead {
      fill: var(--success);
    }

    &.hover {
      fill: #535e84;
      &.behind {
        fill: #e94d86;
      }
      &.mined {
        fill: url(#diff-hover-gradient);
      }
      &.ahead {
        fill: #29d951;
      }
    }
  }
}

.blocks-ahead {
  color: var(--green);
}
.blocks-behind {
  color: var(--red);
}

.halving-progress {
  position: relative;
  .background, .remaining {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .background {
    background: linear-gradient(to right, var(--primary), var(--mainnet-alt));
    left: 0;
    right: 0;
  }
  .remaining {
    background: var(--secondary);
    right: 0;
  }
  .label {
    position: relative;
    margin: auto;
  }
}

.widget-toggler {
  font-size: 12px;
  position: absolute;
  top: -20px;
  right: 3px;
  text-align: right;
}

.toggler-option {
  text-decoration: none;
}

.inactive {
  color: var(--transparent-fg);
}