#ctdl-game-app {
  margin: 0;
  padding: 10px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #212121;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


.center {
  margin: 0 auto;
}
.cursor-crosshair {
  cursor: crosshair;
}

.cursor-pointer {
  cursor: pointer;
}

#ctdl-game-sky {
  background-color: #212121;
  position: absolute;
}

#ctdl-game-parallax,
#ctdl-game-bg,
#ctdl-game,
#ctdl-game-chars,
#ctdl-game-fg,
#ctdl-game-overlay,
#ctdl-game-menu {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

#ctdl-game-sky,
#ctdl-game-parallax,
#ctdl-game-bg,
#ctdl-game,
#ctdl-game-chars,
#ctdl-game-fg,
#ctdl-game-overlay,
#ctdl-game-menu {
  max-height: 100vh;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
}

#ctdl-game-helper {
  opacity: 0;
}