<div class="tomahawk">
  <ng-container *ngIf="(hosts$ | async) as hosts">
    <div class="status-panel">
      <table class="status-table table table-borderless table-striped" *ngIf="(tip$ | async) as tip">
        <tbody>
          <tr>
            <th class="active"></th>
            <th class="host">Host</th>
            <th class="rtt">RTT</th>
            <th class="height">Height</th>
          </tr>
          <tr *ngFor="let host of hosts;" (click)="scrollTo(host)">
            <td class="active"><span *ngIf="host.active">⭐️</span></td>
            <td class="host">{{ host.host }}</td>
            <td class="rtt">{{ host.rtt | number : '1.0-0' }} {{ host.rtt == null ? '' : 'ms'}} {{ !host.checked ? '⏳' : (host.unreachable ? '🔥' : '✅') }}</td>
            <td class="height">{{ host.latestHeight }} {{ !host.checked ? '⏳' : (host.outOfSync ? '🚫' : (host.latestHeight && host.latestHeight < tip ? '🟧' : '✅')) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-container *ngFor="let host of hosts; trackBy: trackByFn">
    <h5 [id]="host.host" class="hostLink">
      <a [href]="host.link">{{ host.link }}</a>
    </h5>
    <iframe class="mempoolStatus" [src]="host.statusPage"></iframe>
  </ng-container>
</div>
