.tomahawk {
  .links {
    float: right;
    text-align: right;
    margin-top: 1em;

    a, span {
      margin-left: 1em;
    }
  }

  .dashboard-title {
    text-align: left;
  }

  .mempoolStatus {
    width: 100%;
    height: 270px;
  }

  .hostLink {
    text-align: center;
    margin: auto;
    margin-top: 1em;
  }
}