.text-small {
  font-size: 12px;
}

code {
  background-color: #1d1f31;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

tr {
  white-space: inherit;
}

.nowrap {
  white-space: nowrap;
}

li.nav-item {
  width: 100%;
  @media (min-width: 676px){
    width: auto;
  }
}

.no-bottom-space {
  margin-bottom: 0;
}

.nav-tabs .nav-link.active {
  border-bottom: 1px solid #fff;
  @media (min-width: 676px){
    border-bottom: 1px solid #11131f;
  }
}

.code-tab {
  width: auto;
  margin: 20px auto 10px;
  li.nav-item {
    width: auto;
  }

}

.code {
  .tab-content {
    padding: 0px;
  }
  .nav-tabs .nav-link.active {
    border-bottom: 1px solid #11131f;
  }
  .subtitle {
    display: flex;
    justify-content: space-between;
  }
}
.description {
  margin-top: 20px;
}
.title {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.25rem;
}
.subtitle {
  font-weight: bold;
}
.divider {
  width: 100%;
  margin: 30px auto;
  height: 1px;
  background: #333;
}

.difficulty {
  padding: 15px;
}

#doc-nav-desktop {
  width: 300px;
  margin-top: -15px;
}

#doc-nav-desktop.relative {
  float: left;
  overflow: hidden;
}

#doc-nav-desktop.fixed {
  float: unset;
  position: fixed;
  top: 20px;
  overflow-y: auto;
  height: calc(100vh - 50px);
  scrollbar-color: #2d3348 #11131f;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #11131f;
}
::-webkit-scrollbar-thumb {
  background-color: #2d3348;
  border-radius: 5px;
  border: none;
}

.doc-content {
  width: calc(100% - 330px);
  float: right;
}

h3 {
  margin: 2rem 0 0 0;
}

.endpoint-container:before {
	display: block;
 	content: " ";
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}

.endpoint-container .section-header {
  display: block;
  background-color: #2d3348;
  color: #1bd8f4;
  padding: 1rem 1.3rem 1rem 1.3rem;
  font-weight: bold;
  border-radius: 0.25rem;
  margin: 20px 0 20px 0;
  font-size: 24px;
  position: relative;
}
.endpoint-container .section-header:hover {
  text-decoration: none;
}

.endpoint-container .section-header span {
  color: #fff;
  background-color: #653b9c;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 8px 10px;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  font-family: monospace;
  float: right;
}

.endpoint-container .section-header table {
  width: 100%;
}

.endpoint-container .section-header table td:first-child {
  padding-right: 24px;
}

#doc-nav-mobile {
  position: fixed;
  top: 20px;
  width: calc(100% - 60px);
  z-index: 100;
}

#doc-nav-mobile .card-body {
  padding: 0 1.25rem 1.25rem 1.25rem;
}

#doc-nav-mobile > div {
  background-color: #2d3348;
  z-index: 100;
  border-radius: 0 0 0.5rem 0.5rem;
  height: 55vh;
  overflow-y: auto;
}

#doc-nav-mobile button {
  width: 100%;
  background-color: #105fb0;
  color: #fff;
  border-color: #105fb0;
  border-radius: 0.5rem 0.5rem 0 0;
}

@media (max-width: 992px) {

  .hide-on-mobile {
    display: none;
  }

  .doc-content {
    width: 100%;
    margin-top: -20px;
    float: unset;
  }

  .endpoint-container {
    position: relative;
    overflow: hidden;
    height: auto;
    transition: 0.5s height ease;
  }

  .endpoint-container .section-header {
    margin: 0;
    font-size: 18px;
    z-index: 1;
  }

  .endpoint-container .section-header span {
    display: none;
  }

  .endpoint-container:before {
    height: 5px;
    margin-top: 10px;
  }

  .endpoint-container .endpoint-content {
    width: 100%;
    position: absolute;
    top: -10000px;
    opacity: 0;
    transition: 0.5s opacity ease;
  }
}

@media (min-width: 992px) {

  .hide-on-desktop {
    display: none;
  }

  h3 {
    display: none;
  }
  
  .doc-item-container:last-of-type .endpoint-container {
    margin-bottom: 4rem;
  }
}
