#main-tab-content {
  text-align: left;
}

.faq-item {
  margin-top: 30px;
}

.faq-item:first-of-type {
  margin-top: 0;
}

p.faq-question {
  font-weight: 700;
  color: #4a68b9;
  margin-top: 30px;
}

.strong {
  font-weight: 700;
}

.italic {
  font-style: italic;
}
