<div style="height: 400px;" *ngIf="mempoolVsizeFeesData; else loadingFees">
  <form [formGroup]="radioGroupForm" style="position: absolute;">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
      <label ngbButtonLabel class="btn-primary btn-sm">
        <input ngbButton type="radio" value="line"> Line
      </label>
      <label ngbButtonLabel class="btn-primary btn-sm">
        <input ngbButton type="radio" value="pie"> Pie
      </label>
    </div>
  </form>
  <app-chartist
    *ngIf="radioGroupForm.get('model')?.value === 'pie'"
    [data]="mempoolVsizeFeesPieData"
    [type]="'Pie'"
    [options]="mempoolVsizeFeesPieOptions">
  </app-chartist>
  <app-chartist
    *ngIf="radioGroupForm.get('model')?.value === 'line'"
    [data]="mempoolVsizeFeesData"
    [type]="'Bar'"
    [options]="mempoolVsizeFeesOptions">
  </app-chartist>
</div>

<ng-template #loadingFees>
  <div class="text-center">
    <div class="spinner-border text-light"></div>
  </div>
</ng-template>
