.td-width {
  width: 250px;
}

@media (max-width: 767.98px) {
	.td-width {
		width: 175px;
	}
}

.fiat {
	display: block;
	font-size: 13px;
	@media (min-width: 768px) {
	  	font-size: 14px;
	  	display: inline-block;
	}
}