<div class="container-xl">
  <div>
    <h1 i18n="liquid.federation-wallet">Liquid Federation Wallet</h1>
  </div>

  <div class="nav-container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/audit/wallet/utxos' | relativeUrl]" routerLinkActive="active">UTXOs</a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/audit/wallet/addresses' | relativeUrl]" routerLinkActive="active"><ng-container i18n="mining.addresses">Addresses</ng-container></a>
      </li>
    </ul>
  </div>

  <div class="clearfix"></div>

  <router-outlet></router-outlet>

</div>

<br>
