.alert-danger {
  color: #fff;
  background-color: #b71c1c;
  border-color: #b71c1c;
  padding: 0.5rem 1.25rem;
  margin: 0px 10px 0px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.btn-close {
  top: 50%;
  transform: translateY(-50%);
}

.btn-close:hover,
.btn-close:focus {
  opacity: 1;
}