.bitcoin-block {
  width: 125px;
  height: 125px;
}

.blockLink {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
}

.blockLink:hover {
  text-decoration: none;
}

.blockLink.disabled {
  pointer-events: none;
}

.mined-block {
  position: absolute;
  top: 0px;
  transition: 2s;
}

.block-size {
  font-size: 16px;
  font-weight: bold;
}

.blocks-container {
  position: absolute;
  top: 0px;
  left: 40px;
}

.block-body {
  text-align: center;
}

.time-difference {
  font-size: 13px;
}

.fees {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.fee-span {
  font-size: 11px;
  margin-bottom: 5px;
  color: #fff000;
}

.transaction-count {
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 4px;
}

.block-height {
  position: absolute;
  font-size: 16px;
  bottom: 160px;
  width: 100%;
  left: -12px;
  z-index: 1;
}

.bitcoin-block::after {
  content: '';
  width: 125px;
  height: 24px;
  position:absolute;
  top: -24px;
  left: -20px;
  background-color: #232838;
  transform:skew(40deg);
  transform-origin:top;
}

.bitcoin-block::before {
  content: '';
  width: 20px;
  height: 125px;
  position: absolute;
  top: -12px;
  left: -20px;
  background-color: #191c27;

  transform: skewY(50deg);
  transform-origin: top;
}

.black-background {
  background-color: #11131f;
  z-index: 100;
  position: relative;
}

#arrow-up {
  position: relative;
  left: 30px;
  top: 140px;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #FFF;
}

.flashing {
  animation: opacityPulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes opacityPulse {
  0% {opacity: 0.7;}
  50% {opacity: 1.0;}
  100% {opacity: 0.7;}
}

.badge {
  position: relative;
  top: 15px;
  z-index: 101;
}