.block-container {
  position: relative;
}

.block-margin {
  position: absolute;
  margin-right: 25px;
  transition: 2s;
}

.bitcoin-block {
  width: 125px;
  height: 125px;
  min-width: 125px;
  min-height: 125px;
  position: relative;
  margin-left: 30px;
  left: 13px;
}

.bitcoin-block::after {
  content: '';
  width: 125px;
  height: 24px;
  position:absolute;
  top: 2px;
  left: -20px;
  background-color: #232838;
  transform:skew(40deg);
  transform-origin:top;
}

.bitcoin-block::before {
  content: '';
  width: 20px;
  height: 125px;
  position: absolute;
  top: 14px;
  left: -20px;
  background-color: #191c27;
  transform: skewY(50deg);
  transform-origin: top;
}

.block-size {
  font-size: 16px;
  font-weight: bold;
}

.block-body {
  position: absolute;
  margin-top: 6px;
  width: 125px;
  height: 125px;
}

.blockLink {
  z-index: 10;
  color: white;
}

.blockLink:hover {
  text-decoration: none;
}

.blockLink.disabled {
  pointer-events: none;
}

.mined-block {
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 4px;
  padding-top: 20px;
}

.blocks-container {
  position: relative;
  margin-left: 23px;
}

.empty-blocks-container {
  margin-top: 24px;
  margin-left: 36px;
}

.time-difference {
  font-size: 13px;
}

.fees {
  font-size: 12px;
  padding-top: 10px;
  margin-bottom: 2px;
}

.fee-span {
  font-size: 11px;
  margin-bottom: 5px;
  color: #fff000;
}

.transaction-count {
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 4px;
}

.block-height {
  text-align: center;
  font-size: 16px;
  width: 100%;
  z-index: 1;
}

.black-background {
  background-color: #11131f;
  z-index: 100;
  position: relative;
}

#arrow-up {
  position: absolute;
  top: 200px;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #FFF;
}

.flashing {
  animation: opacityPulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes opacityPulse {
  0% {opacity: 0.7;}
  50% {opacity: 1.0;}
  100% {opacity: 0.7;}
}
