.adjust-btn-padding {
  padding: 0.55rem;
}

.container-buttons {
  align-self: center;
}

.title-block {
  flex-wrap: wrap;
  align-items: baseline;
  @media (min-width: 650px) {
    flex-direction: row;
  }
  h1 {
    margin: 0rem;
    margin-right: 15px;
    line-height: 1;
  }
}

.tx-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 0;
  max-width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 8px;
  @media (min-width: 651px) {
    flex-grow: 1;
    margin-bottom: 0px;
    margin-right: 1em;
    top: 1px;
    position: relative;
  }
  @media (max-width: 650px) {
    width: 100%;
    order: 3;
  }

  .txid {
    width: 200px;
    min-width: 200px;
    flex-grow: 1;
  }
}

.td-width {
	width: 150px;

	@media (max-width: 768px) {
	  width: 175px;
	}
}

.badge {
	position: relative;
	top: -1px;
}

.badge.badge-accelerated {
  background-color: var(--tertiary);
  color: white;
}

.arrow-green {
	color: var(--success);
}

.arrow-red {
	color: var(--red);
}

.container-xl {
	margin-bottom: 40px;
}

.row {
	flex-direction: column;
	@media (min-width: 850px) {
		flex-direction: row;
	}
}

.box.hidden {
  visibility: hidden;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.graph-container {
  position: relative;
  width: 100%;
  background: var(--stat-box-bg);
  padding: 10px 0;
  padding-bottom: 0;
}

.toggle-wrapper {
  width: 100%;
  text-align: center;
  margin: 1.25em 0 0;
}

.graph-toggle {
  margin: auto;
}

@media (max-width: 767.98px) {
	.mobile-bottomcol {
		margin-top: 15px;
	}

	.details-table td:first-child {
		white-space: pre-wrap;
	}
}

.fiat {
	display: block;
	@media (min-width: 768px){
		display: inline-block;
		margin-left: 15px;
		text-align: left;
	}
}

.table {
  tr td {
		padding: 0.75rem 0.5rem;
		@media (min-width: 576px) {
			padding: 0.75rem 0.75rem;
		}
		&:last-child {
			text-align: right;
			@media (min-width: 850px) {
        text-align: left;
			}
		}
		.btn {
			display: block;
		}

    &.wrap-cell {
      white-space: normal;
    }
	}
}

.effective-fee-container {
	display: block;
	@media (min-width: 768px){
		display: inline-block;
	}
  @media (max-width: 425px){
		display: flex;
    flex-direction: column;
	}
}

@media (max-width: 767px){
  .hide-on-mobile {
    display: none;
  }
}

.effective-fee-rating {
  @media (max-width: 767px){
    margin-right: 0px !important;
  }
}

.title {
  h2 {
    line-height: 1;
    margin: 0;
    padding-bottom: 5px;
  }
}

.btn-outline-info {
	margin-top: 5px;
	@media (min-width: 768px){
		margin-top: 0px;
	}
}

.details-button, .flow-toggle, .accelerator-toggle {
  margin-top: -5px;
  margin-left: 10px;
	@media (min-width: 768px){
		display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
	}
}

.accelerator-toggle, .details-button {
  position: relative;
  bottom: -13px;
}

.subtitle-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  .title {
    flex-shrink: 0;
  }

  .title-buttons {
    flex-shrink: 1;
    text-align: right;
    .btn {
      margin-top: 0;
      margin-bottom: 8px;
      margin-left: 8px;
    }
  }
}

.cpfp-details {
  .txids {
    width: 60%;
  }

  @media (max-width: 500px) {
    .txids {
      width: 40%;
    }
  }
}

.tx-list {
  .alert-link {
    display: block;
  }
}

.alert-purple {
  background-color: #5c3a88;
  width: 100%;
}

// Blinking block
@keyframes shadowyBackground {
  0% {
    box-shadow: 0px 0px 20px rgba(#eba814, 1);
  }
  50% {
    box-shadow: 0px 0px 20px rgba(#eba814, .3);
  }
  100% {
    box-shadow: 0px 0px 20px rgba(#ffae00, 1);
  }
}

.blink-bg {
  color: var(--fg);
  background: repeating-linear-gradient(#daad0a 0%, #daad0a 5%, #987805 100%) !important;
  animation: shadowyBackground 1s infinite;
  box-shadow: 0px 0px 20px rgba(#eba814, 1);
  transition: 100ms all ease-in;
  margin-right: 8px;
  font-size: 16px;
  border: 1px solid gold;
}

.eta {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  @media (min-width: 850px) {
    justify-content: left !important;    
  }
}

.accelerate {
  @media (min-width: 850px) {
    margin-left: auto;
  }  
}

.etaDeepMempool {
  flex-wrap: wrap;
  @media (max-width: 849px) {
    justify-content: right !important;
  }
}

.accelerateDeepMempool {
  background-color: var(--tertiary);
  margin-left: 5px;
}

.goggles-icon {
  display: block;
  width: 2.7em;
}

.pool-logo {
  width: 15px;
  height: 15px;
  position: relative;
  top: -1px;
  margin-right: 2px;
}

.oobFees {
  color: #905cf4;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
