.adjust-btn-padding {
  padding: 0.55rem;
}

.title-block {
  color: #FFF;
  padding-top: 20px;
  border-top: 3px solid #FFF;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 768px) {
  	padding-bottom: 0px;
  }
}

h1{
    margin-top: 2px;
	margin-bottom: 0;
	float: left;
    margin-top: 2px;
	@media (min-width: 768px){
		margin-top: -8px;
	}
}

.container-buttons {
	text-align: right;
    width: 100%;
	@media (min-width: 850px) {
		width: auto;
		float: right;
	}
}

.tx-link {
	display: block;
	width: auto;
	margin-bottom: 10px;
    margin-left: 2px;
	margin-top: 40px;
    position: absolute;
	@media (min-width: 768px) {
	  margin-top: 14px;
	  margin-left: 10px;
	  position: relative;	  
	  text-align: left;
	  width: auto;
	  float: left;
	}
}

.td-width {
	width: 150px;

	@media (max-width: 768px) {
	  width: 175px;
	}
}

.badge {
	position: relative;
	top: -1px;
}

.btn-small-height {
	line-height: 1.1;
}

.arrow-green {
	color: #1a9436;
}

.arrow-red {
	color: #dc3545;
}

.btn {
	margin-top: 5px;
}

.container-xl {
	margin-bottom: 40px;
}

.row{
	flex-direction: column;
	@media (min-width: 850px) {
		flex-direction: row;
	}
}

@media (max-width: 767.98px) {
	.mobile-bottomcol {
		margin-top: 15px;
	}

	.details-table td:first-child {
		white-space: pre-wrap;
	}
}

.fiat {
	display: block;
	@media (min-width: 768px){
		display: inline-block;
		margin-left: 15px;
		text-align: left;
	}
}

.table {
  	tr td {
		padding: 0.75rem 0.5rem;
		@media (min-width: 576px) {
			padding: 0.75rem 0.75rem;
		}
		&:last-child {
			text-align: right;
			@media (min-width: 768px) {
			text-align: left;
			}
		}
		.btn {
			display: block;
		}
	}
}

.effective-fee-container{
	display: block;
	@media (min-width: 768px){
		display: inline-block;
	}
}