.adjust-btn-padding {
  padding: 0.55rem;
}

#arrow {
  position: absolute;
  bottom: -24px;
  width: 40px;
  right: -1px;

  width: 40px;
}

.title-block {
  color: #FFF;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 3px;
  border-top: 5px solid #FFF;
}

.title-block > h1 {
  margin: 0;
}
