.adjust-btn-padding {
  padding: 0.55rem;
}

.td-width {
	width: 150px;
}

::ng-deep .badge {
	font-size: 28px;
}

.btn-small-height {
	line-height: 1.1;
}

.arrow-green {
	color: #1a9436;
}

.arrow-red {
	color: #dc3545;
}

.row {
	flex-direction: row;
}

.effective-fee-container {
	display: inline-block;
}

.title {
  h2 {
    line-height: 1;
    margin: 0;
    padding-bottom: 10px;
  }
}

.btn-outline-info {
	margin-top: 0px;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  h1 {
    font-size: 52px;
    margin: 0;
    line-height: 1;
  }

  .features {
    font-size: 24px;
  }
}

.table {
  font-size: 32px;

  ::ng-deep .symbol {
    font-size: 24px;
  }
}

.tx-link {
  display: inline-block;
  font-size: 28px;
  margin-bottom: 6px;
}
