<div class="box preview-box" *ngIf="tx && !error">

  <div class="page-title">
    <h1 i18n="shared.transaction">Transaction</h1>
    <div *ngIf="network !== 'liquid' && network !== 'liquidtestnet'" class="features">
      <app-tx-features [tx]="tx"></app-tx-features>
      <span *ngIf="cpfpInfo && cpfpInfo.bestDescendant" class="badge badge-primary mr-1">
        CPFP
      </span>
      <span *ngIf="cpfpInfo && !cpfpInfo.bestDescendant && cpfpInfo.ancestors.length" class="badge badge-info mr-1">
        CPFP
      </span>
    </div>
  </div>

  <p class="text-center mb-0">
    <a [routerLink]="['/tx/' | relativeUrl, txId]" class="tx-link">
      {{ txId }}
    </a>
  </p>


  <div class="row graph-wrapper">
    <tx-bowtie-graph [tx]="tx" [width]="1112" [height]="346" [isLiquid]="isLiquid"></tx-bowtie-graph>
    <div class="above-bow">
      <p class="field">
        <ng-template [ngIf]="isLiquid && haveBlindedOutputValues(tx)" [ngIfElse]="defaultAmount" i18n="shared.confidential">Confidential</ng-template>
        <ng-template #defaultAmount>
          <app-amount [satoshis]="totalValue"></app-amount>
        </ng-template>
      </p>
      <p class="field" *ngIf="!isCoinbase(tx)">
        {{ tx.feePerVsize | feeRounding }} <span class="symbol" i18n="shared.sat-vbyte|sat/vB">sat/vB</span>
      </p>
    </div>
    <div class="overlaid">
      <ng-container [ngSwitch]="extraData">
        <table class="opreturns" *ngSwitchCase="'coinbase'">
          <tbody>
            <tr>
              <td class="label">Coinbase</td>
              <td class="message">{{ tx.vin[0].scriptsig | hex2ascii }}</td>
            </tr>
          </tbody>
        </table>
        <table class="opreturns" *ngSwitchCase="'opreturn'">
          <tbody>
            <ng-container *ngFor="let vout of opReturns.slice(0,3)">
              <tr>
                <td class="label">OP_RETURN</td>
                <td *ngIf="vout.scriptpubkey_asm !== 'OP_RETURN'" class="message">{{ vout.scriptpubkey_asm | hex2ascii }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>
