.adjust-btn-padding {
  padding: 0.55rem;
}

.td-width {
	width: 150px;
}

::ng-deep .badge {
	font-size: 28px;
}

.row {
	flex-direction: row;
}

.title {
  h2 {
    line-height: 1;
    margin: 0;
    padding-bottom: 10px;
  }
}

.btn-outline-info {
	margin-top: 0px;
}

.features {
  font-size: 24px;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-right: -4px;
}

.top-data {
  font-size: 28px;
}

.table {
  font-size: 32px;

  ::ng-deep .symbol {
    font-size: 24px;
  }
}

.field {
  font-size: 32px;
  margin: 0;

  ::ng-deep .symbol {
    font-size: 24px;
  }

  .label {
    color: var(--transparent-fg);
  }

  &.pair > *:first-child {
    margin-right: 1em;
  }
}

.top-data .field {
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

.tx-link {
  display: inline;
  font-size: 28px;
  margin-bottom: 6px;
}

.graph-wrapper {
  position: relative;
  background: var(--stat-box-bg);
  padding: 10px 0;
  padding-bottom: 0;

  .above-bow {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }

  .overlaid {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: left;
    font-size: 28px;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .opreturns {
      display: inline-block;
      width: auto;
      max-width: 100%;
      margin: auto;
      table-layout: auto;
      background: var(--secondary)af;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .opreturn-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 10px;
      }

      .label {
        margin-right: 1em;
      }

      .message {
        flex-shrink: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
