.node-channels-container {
  position: relative;
}

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

.spinner-border {
  position: relative;
  top: 225px;
}