.spinner-border {
  height: 25px;
  width: 25px;
  margin-top: 13px;
}

.extra-margin-right {
  @media (max-width: 380px) {
    margin-left: -10px;
  }
}

tr, td, th {
  border: 0px;
  padding-top: 0.65rem;
  padding-bottom: 0.6rem;
  padding-right: 2rem;
  .widget &.widget {
    padding-right: 1rem;
    @media (max-width: 510px) {
      padding-right: 0.5rem;
    }
  }
}

.clear-link {
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.progress {
  background-color: var(--secondary);
}

.address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}
.address.widget {
  width: 60%;
}

.amount {
  width: 25%;
}
.amount.widget {
  width: 40%;
}
