.qr-wrapper {
  background-color: #FFF;
  padding: 10px;
  display: inline-block;
  padding-bottom: 5px;
}

.profile_photo {
  width: 80px;
  height: 80px;
  background-size: 100%, 100%;
  border-radius: 50%;
  margin: 25px;
  line-height: 32px;
}

.profile_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
}

.community_sponsor {
  margin: 6px;
}

.enterprise_sponsor {
  margin-left: 40px;
  margin-right: 40px;
}

.project_contributor {
  width: 130px;
  margin: 25px auto;
}

.text-small {
  font-size: 12px;
}

.info-group {
  max-width: 400px;
}


.required {
  color: #FF0000;
  font-weight: bold;
}

.alliances {
  a {    
    &:nth-child(3){
      position: relative;
      top: 10px;
    }
  }
  img {
    display: inline-block;
    margin: 15px auto;
    @media (min-width: 425px) {
      margin: 15px 60px;
    }
    @media (min-width: 576px) {
      margin: 15px 120px;
    }
    @media (min-width: 850px) {
      margin: 50px 30px 0px;
    }
  }
}