.qr-wrapper {
  background-color: #FFF;
  padding: 10px;
  display: inline-block;
  padding-bottom: 5px;
}

.profile_photo {
  width: 80px;
  height: 80px;
  background-size: 100%, 100%;
  border-radius: 50%;
  margin: 25px;
  line-height: 32px;
}

.profile_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
}

.community_sponsor {
  margin: 6px;
}

.enterprise_sponsor {
  margin-left: 40px;
  margin-right: 40px;
}

.text-small {
  font-size: 12px;
}

.info-group {
  max-width: 400px;
}


.required {
  color: #FF0000;
  font-weight: bold;
}
