.text-small {
  font-size: 12px;
}

.code {
  background-color: #1d1f31;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

tr {
  white-space: inherit;
}

.nowrap {
  white-space: nowrap;
}

.qr-wrapper {
  background-color: #FFF;
  padding: 10px;
  display: inline-block;
}

.profile_photo {
  width: 80px;
  height: 80px;
  background-size: 100%, 100%;
  border-radius: 50%;
  cursor: pointer;
}
