<div class="text-center">
  <img src="./assets/mempool-tube.png" width="63" height="63" />
  <br /><br />

  <h2>About</h2>

  <p>Mempool.Space is a realtime Bitcoin blockchain explorer and mempool visualizer.</p>
  <p>Created by <a href="https://twitter.com/softbtc">@softbtc</a>
  <br />Hosted by <a href="https://twitter.com/wiz">@wiz</a>
  <br />Designed by <a href="https://instagram.com/markjborg">@markjborg</a>


  <h2>Fee API</h2>

  <div class="col-4 mx-auto">
    <input class="form-control" type="text" value="https://mempool.space/api/v1/fees/recommended" readonly>
  </div>

  <br />

  <h1>Donate</h1>
  <img src="./assets/btc-qr-code-segwit.png" width="200" height="200" />
  <br />
  bc1qqrmgr60uetlmrpylhtllawyha9z5gw6hwdmk2t

  <br /><br />

  <h3>PayNym</h3>
  <img src="./assets/paynym-code.png" width="200" height="200" />
  <br />
  <p style="word-wrap: break-word; overflow-wrap: break-word;max-width: 300px; text-align: center; margin: auto;">
    PM8TJZWDn1XbYmVVMR3RP9Kt1BW69VCSLTC12UB8iWUiKcEBJsxB4UUKBMJxc3LVaxtU5d524sLFrTy9kFuyPQ73QkEagGcMfCE6M38E5C67EF8KAqvS
  </p>
</div>
