<div class="container">
    <h1>Block <ng-template [ngIf]="!isLoadingBlock"><a [routerLink]="['/explorer/block/', block.id]">#{{ block.height }}</a></ng-template></h1>
  
    <ng-template [ngIf]="!isLoadingBlock && !error">

      <br>
  
      <div class="row">
        <div class="col">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td>Timestamp</td>
                <td>{{ block.timestamp * 1000 | date:'yyyy-MM-dd HH:mm' }} ({{ block.timestamp | timeSince }} ago)</td>
              </tr>
              <tr>
                <td>Number of transactions</td>
                <td>{{ block.tx_count }}</td>
              </tr>
              <tr>
                <td>Size</td>
                <td>{{ block.size | bytes: 2 }}</td>
              </tr>
              <tr>
                <td>Weight</td>
                <td>{{ block.weight | wuBytes: 2 }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{ (latestBlockHeight - block.height + 1) }} confirmation{{ (latestBlockHeight - block.height + 1) === 1 ? '' : 's' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td>Hash</td>
                <td><a [routerLink]="['/explorer/block/', block.id]">{{ block.id | shortenString : 36 }}</a></td>
              </tr>
              <tr>
                <td>Previous Block</td>
                <td><a [routerLink]="['/explorer/block/', block.previousblockhash]">{{ block.previousblockhash | shortenString : 36 }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br>

      <h2>{{ transactions?.length || '?' }} of {{ block.tx_count }} transactions</h2>

      <br>

      <app-transactions-list [transactions]="transactions"></app-transactions-list>

      <div class="text-center">
        <ng-template [ngIf]="isLoadingTransactions">
          <div class="spinner-border text-light"></div>
          <br><br>
        </ng-template>
        <button *ngIf="transactions?.length && transactions?.length !== block.tx_count" type="button" class="btn btn-primary" (click)="loadMore()">Load more</button>
      </div>
  
    </ng-template>

    <ng-template [ngIf]="isLoadingBlock && !error">
      <div class="text-center">
        <div class="spinner-border text-light"></div>
        <br><br>
      </div>
    </ng-template>

    <ng-template [ngIf]="error">
      <div class="text-center">
        Error loading block data.
        <br>
        <i>{{ error.error }}</i>
      </div>
    </ng-template>

  </div>
  
  <br>