.priceheader {
    font-size: 24px;
    @media(min-width: 576px){
        float: left;
    }
}

.radio-form {
    @media(min-width: 576px){
        float: right;
    }
}

.loadingChart {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
}

#graphHolder {
    height: 550px;
    overflow: hidden;
}

.col {
    &:last-child{
        margin-top: 50px;
        @media(min-width: 576px){
            margin-top: 0px;
        }
    }
}

.table-container {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 13px;
    @media(min-width: 576px){
        font-size: 16px;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
