<div class="difficulty-fullscreen-wrapper">
  <ng-container *ngIf="(isLoadingWebSocket$ | async) === false && (difficultyEpoch$ | async) as epochData; else loading">
    <div class="header">
      <div class="stats">
        <div class="item">
          <div class="value">~<app-time [time]="epochData.timeAvg / 1000" [fractionDigits]="1"></app-time></div>
          <div class="label" i18n="difficulty-box.average-block-time">Average block time</div>
        </div>
        <div class="item">
          <div class="value" [ngStyle]="{'color': epochData.colorAdjustments}">
            <span *ngIf="epochData.change > 0; else arrowDownDifficulty">
              <fa-icon class="retarget-sign" [icon]="['fas', 'caret-up']" [fixedWidth]="true"></fa-icon>
            </span>
            <ng-template #arrowDownDifficulty>
              <fa-icon class="retarget-sign" [icon]="['fas', 'caret-down']" [fixedWidth]="true"></fa-icon>
            </ng-template>
            {{ epochData.change | absolute | number: '1.2-2' }}<span class="symbol">%</span>
          </div>
          <div class="label">
            <span i18n="difficulty-box.previous">Previous</span>:
            <span [ngStyle]="{'color': epochData.colorPreviousAdjustments}">
              {{ epochData.previousRetarget | absolute | number: '1.2-2' }}%
            </span>
          </div>
        </div>
        <div class="item">
          <div class="value">{{ epochData.minedBlocks | number }} / {{ 2016 | number }}</div>
          <div class="label" i18n="difficulty-box.blocks-mined">Blocks mined</div>
        </div>
        <div class="item">
          <div class="value"><app-time kind="until" [time]="epochData.estimatedRetargetDate" [fastRender]="true" [precision]="1"></app-time></div>
          <div class="label">{{ epochData.retargetDateString }}</div>
        </div>
      </div>
    </div>

    <div class="epoch-canvas-wrapper">
      <canvas #epochCanvas class="epoch-canvas"></canvas>
    </div>

    <div class="legend">
      <div class="legend-item">
        <span class="swatch mined"></span>
        <span class="legend-label" i18n="difficulty.legend.mined-expected">Mined &amp; expected</span>
      </div>
      <div class="legend-item">
        <span class="swatch ahead"></span>
        <span class="legend-label" i18n="difficulty.legend.mined-unexpected">Mined &amp; unexpected</span>
      </div>
      <div class="legend-item">
        <span class="swatch behind"></span>
        <span class="legend-label" i18n="difficulty.legend.unmined-expected">Unmined &amp; expected</span>
      </div>
      <div class="legend-item">
        <span class="swatch next"></span>
        <span class="legend-label" i18n="difficulty.legend.being-mined">Being mined</span>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="loading-wrapper">
      <div class="skeleton-loader"></div>
    </div>
  </ng-template>
</div>
