<div class="container-xl">

  <div *ngIf="difficultyObservable$ | async" class="" echarts [initOpts]="chartInitOptions" [options]="chartOptions"></div>
  <div class="text-center loadingGraphs" *ngIf="isLoading">
    <div class="spinner-border text-light"></div>
  </div>

  <table class="table table-borderless table-sm text-center">
    <thead>
      <tr>
        <th i18n="mining.rank">Block</th>
        <th i18n="block.timestamp">Timestamp</th>
        <th i18n="mining.difficulty">Difficulty</th>
        <th i18n="mining.change">Change</th>
      </tr>
    </thead>
    <tbody *ngIf="(difficultyObservable$ | async) as diffChange">
      <tr *ngFor="let change of diffChange">
        <td><a [routerLink]="['/block' | relativeUrl, change[2]]">{{ change[2] }}</a></td>
        <td>&lrm;{{ change[0] | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ formatNumber(change[1], locale, '1.2-2') }}</td>
        <td [style]="change[3] >= 0 ? 'color: #42B747' : 'color: #B74242'">{{ formatNumber(change[3], locale, '1.2-2') }}%</td>
      </tr>
    </tbody>
  </table>

</div>
