.trademark-policy {
  .logo {
    height: 62.5px;
    width: 250px;
    margin: 10px;
  }
  .circle {
    margin-top: -50px;
    margin-bottom: -30px;
  }
  .circle:before {
    content: ' \25CF';
    font-size: 250px;
  }
  ol {
    list-style-type: upper-roman;
  }
  ol li {
    font-size: 1.75rem;
  }
  ol ol {
    list-style-type: lower-alpha;
  }
  ol ol li {
    font-size: 1.25rem;
  }
  ol ol ol {
    list-style-type: lower-roman;
  }
  ol ol ol li {
    font-size: 1.15rem;
  }
}
