<table class="table table-borderless">
  <thead>
    <th>Transaction ID</th>
    <th style="width: 200px;">Value</th>
    <th style="width: 125px;">Size</th>
    <th style="width: 150px;">Fee</th>
  </thead>
  <tbody>
    <ng-container *ngIf="(transactions$ | async) as transactions">
      <ng-template [ngIf]="!isLoading">
        <tr *ngFor="let transaction of transactions">
          <td><a [routerLink]="['./tx/', transaction.txid]">{{ transaction.txid }}</a></td>
          <td>{{ transaction.value / 100000000 }} BTC</td>
          <td>{{ transaction.vsize | vbytes: 2 }}</td>
          <td>{{ transaction.fee / transaction.vsize | number : '1.2-2'}} sats/vB</td>
        </tr>
      </ng-template>
    </ng-container>
    <ng-template [ngIf]="isLoading">
      <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <td><span class="skeleton-loader"></span></td>
        <td><span class="skeleton-loader"></span></td>
        <td><span class="skeleton-loader"></span></td>
        <td><span class="skeleton-loader"></span></td>
      </tr>
    </ng-template>
  </tbody>
</table>
