.title-container {
  display: flex;
  flex-direction: column;
}

.tx-link {
  display: flex;
	flex-wrap: wrap;
}

.node-id {
  width: 0;
  flex-grow: 1;
}

.qr-wrapper {
  background-color: var(--fg);
  padding: 10px;
  padding-bottom: 5px;
  display: inline-block;

  
  position: absolute;
  bottom: 50px;
  left: -175px;
  z-index: 100;
}

.dropdownLabel {
  min-width: 50px;
  display: inline-block;
}

#inputGroupFileAddon04 {
  position: relative;
}

app-fiat {
  display: block;
  font-size: 13px;
  @media (min-width: 768px) {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
  }
}

.spinner-border {
  @media (min-width: 768px) {
    margin-top: 6.5px;
    width: 1.75rem;
    height: 1.75rem;
  }
  @media (max-width: 768px) {
    margin-top: 2.3px;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.loadingGraphs {
  position: absolute;
  top: 50%;
  left: calc(50% - 15px);
  z-index: 100;
}

.label {
  width: 50%;
  @media (min-width: 576px) {
    width: 40%;
  }
}

@media (max-width: 767.98px) {
  h1 > .skeleton-loader {
    height: 28px !important;
  };
}

.details {

  .detail-section {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .tlv-type {
    font-size: 12px;
    color: var(--transparent-fg);
  }

  .tlv-payload {
    font-size: 12px;
    width: 100%;
    word-break: break-all;
    white-space: normal;
    font-family: "Courier New", Courier, monospace;
  }

  .compact-lease {
    word-break: break-all;
    white-space: normal;
    font-family: "Courier New", Courier, monospace;
  }
}

.separator {
  margin: 0 0.25em;
  color: slategrey;
}

.claim-btn {
  max-height: 32px;
  @media (min-width: 850px) {
    display: none;
  }
}

.claim-btn-mobile {
  max-height: 32px;
  @media (max-width: 850px) {
    display: none;
  }
}