<div class="container-xl" *ngIf="(node$ | async) as node">
  <div class="title-container mb-2">
    <h1 i18n="shared.address" class="mb-0">{{ node.alias }}</h1>
    <span class="tx-link">
      <a [routerLink]="['/lightning/node' | relativeUrl, node.public_key]" >
        <span class="d-inline">{{ node.public_key | shortenString : 18 }}</span>
      </a>
      <app-clipboard [text]="node.public_key"></app-clipboard>
    </span>
  </div>

  <div class="clearfix"></div>

    <div class="box">

      <div class="row">
        <div class="col-md">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td i18n="address.total-received">First seen</td>
                <td>
                  <app-time-since [dateString]="node.first_seen"></app-time-since>
                </td>
              </tr>
              <tr>
                <td i18n="address.total-sent">Last update</td>
                <td>
                  <app-time-since [dateString]="node.updated_at"></app-time-since>
                </td>
              </tr>
              <tr>
                <td i18n="address.balance">Color</td>
                <td><div [ngStyle]="{'color': node.color}">{{ node.color }}</div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="w-100 d-block d-md-none"></div>
        <div class="col-md qrcode-col">
          
        </div>
      </div>

    </div>

    <br>

    <div class="input-group mb-3" *ngIf="node.socketsObject.length">
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" *ngIf="node.socketsObject.length > 1; else noDropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" aria-expanded="false" ngbDropdownAnchor (focus)="myDrop.open()"><div class="dropdownLabel">{{ node.socketsObject[selectedSocketIndex].label }}</div></button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button *ngFor="let socket of node.socketsObject; let i = index;" ngbDropdownItem (click)="changeSocket(i)">{{ socket.label }}</button>
        </div>
      </div>
      <ng-template #noDropdown>
        <span class="input-group-text" id="basic-addon3">{{ node.socketsObject[selectedSocketIndex].label }}</span>
      </ng-template>
      <input type="text" class="form-control" aria-label="Text input with dropdown button" [value]="node.socketsObject[selectedSocketIndex].socket">
      <button class="btn btn-secondary ml-1" type="button" id="inputGroupFileAddon04" (mouseover)="qrCodeVisible = true" (mouseout)="qrCodeVisible = false">
        <fa-icon [icon]="['fas', 'qrcode']" [fixedWidth]="true"></fa-icon>
        <div class="qr-wrapper" [hidden]="!qrCodeVisible">
          <app-qrcode [size]="200" [data]="node.socketsObject[selectedSocketIndex].socket"></app-qrcode>
        </div>
      </button>
      <button class="btn btn-secondary ml-1" type="button" id="inputGroupFileAddon04">
        <app-clipboard [text]="node.socketsObject[selectedSocketIndex].socket"></app-clipboard>
      </button>
    </div>
    
    <br>
    <h2>Channels</h2>

    <app-channels-list [publicKey]="node.public_key"></app-channels-list>

    <!--

    <br>
    <div class="title-tx">
      <h2 class="text-left">
        <ng-template [ngIf]="!transactions?.length">&nbsp;</ng-template>
        <ng-template i18n="X of X Address Transaction" [ngIf]="transactions?.length === 1">{{ (transactions?.length | number) || '?' }} of {{ txCount | number }} transaction</ng-template>
        <ng-template i18n="X of X Address Transactions (Plural)" [ngIf]="transactions?.length > 1">{{ (transactions?.length | number) || '?' }} of {{ txCount | number }} transactions</ng-template>
      </h2>
    </div>

    <app-transactions-list [transactions]="transactions" [showConfirmations]="true" [address]="address.address" (loadMore)="loadMore()"></app-transactions-list>
    -->

</div>

<br>
