.table-col {
  max-width: calc(100% - 470px);
  overflow: hidden;
}

.table {
  margin-top: 6px;
  font-size: 32px;
}

.badges {
  font-size: 28px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-end;

  ::ng-deep .badge {
    margin-left: 0.5em;
  }
}

.map-col {
  flex-grow: 0;
  flex-shrink: 0;
  width: 470px;
  height: 408px;
  min-width: 470px;
  min-height: 408px;
  max-height: 408px;
  padding: 0;
  background: var(--stat-box-bg);
  overflow: hidden;
  margin-top: 6px;
}

.row {
  margin-right: 0;
}

.full-width-row {
  padding-left: 15px;
  flex-wrap: nowrap;
}

::ng-deep .symbol {
  font-size: 24px;
}
