.title {
  font-size: 52px;
  margin: 0;
  width: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table {
  margin-top: 48px;
  font-size: 32px;
}

.badges {
  font-size: 28px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-end;

  ::ng-deep .badge {
    margin-left: 0.5em;
  }
}

.map-col {
  flex-grow: 0;
  flex-shrink: 0;
  width: 470px;
  height: 390px;
  min-width: 470px;
  min-height: 390px;
  max-height: 390px;
  padding: 0;
  background: #181b2d;
  overflow: hidden;
  margin-top: 18px;
}

.row {
  margin-right: 0;
}

.full-width-row {
  padding-left: 15px;
  flex-wrap: nowrap;
}

::ng-deep .symbol {
  font-size: 24px;
}
