<app-indexing-progress></app-indexing-progress>

<div class="full-container">
  <ng-container *ngIf="!error">
    <div class="chart" *browserOnly echarts [initOpts]="chartInitOptions" [options]="chartOptions"
      (chartInit)="onChartInit($event)">
    </div>
    <div class="text-center loadingGraphs" *ngIf="isLoading">
      <div class="spinner-border text-light"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="error">
    <div class="error-wrapper">
      <p class="error">{{ error }}</p>
    </div>
  </ng-container>
</div>
