.second-line {
  font-size: 12px;
}

.sats {
  color: var(--transparent-fg);
  font-size: 12px;
  top: 0px;
}

.formRadioGroup {
  @media (min-width: 435px) {
    position: absolute;
    right: 0;
    top: -46px;
  }
  @media (max-width: 435px) {
    display: flex;
  }
}

:host-context(.rtl-layout) .formRadioGroup {
  direction: ltr;
  @media (min-width: 435px) {
    right: unset;
    left: 0;
  }
}

.btn-group {
  @media (max-width: 435px) {
    flex-grow: 1;
  }
}

.alias {
  padding-left: 0;
}

.feerate {
  @media (max-width: 815px) {
    display: none;
  }
}

.status {
  @media (max-width: 710px) {
    display: none;
  }
}

.nodedetails {
  @media (max-width: 600px) {
    display: none;
  }
}

.liquidity {
  @media (max-width: 500px) {
    display: none;
  }
}

.channelid {
  padding-right: 0;
}