.main-title {
  position: relative;
  color: #ffffff91;
  margin-top: -13px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3px;
}

.full-container {
  width: 100%;
  height: calc(100% - 100px);
  @media (max-width: 992px) {
    height: calc(100% - 140px);
  };
  @media (max-width: 576px) {
    height: calc(100% - 180px);
  };
}

.chart {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
}

.formRadioGroup {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  @media (min-width: 830px) {
    flex-direction: row;
    float: right;
    margin-top: 0px;
  }
  .btn-sm {
    font-size: 9px;
    @media (min-width: 830px) {
      font-size: 14px;
    }
  }
}
