#volumeHolder {
    height: 500px;
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.table {
    max-width: 100%;
    overflow: scroll;
}

.loadingGraphs {
    position: relative;
    top: 45%;
    z-index: 100;
}

.table-container {
  overflow: scroll;
  scrollbar-width: none;
  font-size: 13px;
  &::-webkit-scrollbar {
      display: none;
  }
  @media(min-width: 576px){
      font-size: 16px;
  }
  thead th{
    text-align: right;
    &:first-child {
      text-align: left;
    }
    &:nth-child(3) {
      display: none;
      @media(min-width: 1100px){
        display: table-cell;
      }
    }
  }
  tr {
    td {
      text-align: right;
      &:first-child {
        text-align: left;
      }
      &:nth-child(3) {
        display: none;
        @media(min-width: 1100px){
          display: table-cell;
        }
      }
    }
  }
}


.chart-container {
  height: 300px;
}

.big-fiat {
  color: #3bcc49;
  font-size: 26px;
}


  .card {
    background-color: #1d1f31;
    height: 100%;
  }

  .card-title {
    color: #4a68b9;
    font-size: 1rem;
  }

  .info-block {
    float: left;
    width: 350px;
    line-height: 25px;
  }

  .progress {
    display: inline-flex;
    width: 100%;
    background-color: #2d3348;
    height: 1.1rem;
  }

  .bg-warning {
    background-color: #b58800 !important;
  }

  .skeleton-loader {
    max-width: 100%;
    &.shorter {
      max-width: 150px;
    }
  }

  .more-padding {
    padding: 1.25rem 2rem 1.25rem 2rem;
  }

  .graph-card {
    height: 100%;
    @media (min-width: 992px) {
      height: 385px;
    }
  }
