.preview-wrapper {
  position: relative;
  display: block;
  margin: auto;
  max-width: 1200px;
  max-height: 600px;
  padding-top: 80px;

  header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    min-height: 80px;
    padding: 0rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #11131f;
    text-align: start;
    font-size: 1.8em;
  }

  .header-brand {
    width: 60%;
  }

  .network {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  ::ng-deep .preview-header {
    position: absolute;
    top: -80px;
    width: 100%;
    padding: 0 220px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 101;
    line-height: 80px;
  }
}
