<ng-container *ngIf="{ val: network$ | async } as network">
<div class="preview-wrapper">
  <header>
    <span class="header-brand" style="position: relative;">
      @if (enterpriseInfo) {
        <img [src]="enterpriseInfo.logoUrl" [alt]="enterpriseInfo.title" class="subdomain_logo" [style.height]="!enterpriseInfo?.dualLogo ? '60px' : null" [class.rounded]="enterpriseInfo.rounded_corner">
      }
      @if (!enterpriseInfo || enterpriseInfo.dualLogo) {
        <app-svg-images *ngIf="!officialMempoolSpace" name="mempoolSpace" viewBox="0 0 500 126" width="500" height="126" class="mempool-logo" style="width: 200px; height: 50px"></app-svg-images>
        <app-svg-images *ngIf="officialMempoolSpace" name="officialMempoolSpace" style="width: 200px; height: 50px" width="500" height="126" viewBox="0 0 500 126"></app-svg-images>
      }
    </span>

    <div [ngSwitch]="network.val">
      <span *ngSwitchCase="'signet'" class="network signet"><app-svg-images name="signet" width="35" height="35" viewBox="0 0 65 65" style="width: 40px; height: 48px;" class="mainnet me-1"></app-svg-images> Signet</span>
      <span *ngSwitchCase="'testnet'" class="network testnet"><app-svg-images name="testnet" width="35" height="35" viewBox="0 0 65 65" style="width: 40px; height: 48px;" class="mainnet me-1"></app-svg-images> Testnet3</span>
      <span *ngSwitchCase="'testnet4'" class="network testnet"><app-svg-images name="testnet4" width="35" height="35" viewBox="0 0 65 65" style="width: 40px; height: 48px;" class="mainnet me-1"></app-svg-images> Testnet4</span>
      <span *ngSwitchCase="'liquid'" class="network liquid"><app-svg-images name="liquid" width="35" height="35" viewBox="0 0 125 125" style="width: 40px; height: 48px;" class="mainnet me-1"></app-svg-images> Mainnet</span>
      <span *ngSwitchCase="'liquidtestnet'" class="network liquidtestnet"><app-svg-images name="liquidtestnet" width="35" height="35" viewBox="0 0 125 125" style="width: 40px; height: 48px;" class="mainnet me-1"></app-svg-images> Testnet</span>
      <span *ngSwitchDefault class="network mainnet"><app-svg-images name="bitcoin" width="35" height="35" viewBox="0 0 65 65" style="width: 40px; height: 48px;" class="mainnet me-1"></app-svg-images> Mainnet</span>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
</ng-container>
