.adjust-btn-padding {
	padding: 0.55rem;
}

.title-block {
	padding-top: 1px;
}

@media (max-width: 767.98px) {
	.mobile-bottomcol {
		margin-top: 15px;
	}
}

.td-width {
	width: 150px;
	@media (min-width: 768px) {
		width: 175px;
	}
}


h1 {
	margin-bottom: 0;
}

.badge {
	position: relative;
	top: -1px;
}

.btn-small-height {
	line-height: 1.1;
}

.arrow-green {
	color: #1a9436;
}

.arrow-red {
	color: #dc3545;
}

.btn-success {
	float: right;
	margin-bottom: 0px;
	margin-top: 5px;
}

.tx-link {
	display: block;
	width: auto;
	margin-bottom: 10px;
    margin-left: 2px;
	margin-top: 40px;
    position: absolute;
	@media (min-width: 700px) {
	  margin-top: 14px;
	  margin-left: 10px;
	  position: relative;	  
	  text-align: left;
	  width: 100%;
	  top: 14px;
	  left: 10px;
	}
  }

.container-xl {
	margin-bottom: 40px;
}

.row{
	flex-direction: column;
	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.scriptmessage {
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	max-width: 50px;
	@media (min-width: 576px) {
		max-width: 200px;
	}
}

.scriptmessage.longer {
	max-width: 500px;
}

@media (max-width: 767.98px) {
	.mobile-bottomcol {
		margin-top: 15px;
	}
	.scriptmessage.longer {
		max-width: 200px !important;
	}

	.details-table td:first-child {
		white-space: pre-wrap;
	}
}

.fiat {
	display: block;
	font-size: 13px;
	@media (min-width: 576px){
		display: inline-block;
		margin-left: 15px;
		font-size: 14px;
		text-align: left;
	}
}

h1{
	font-size: 1.75rem;
    margin-top: 2px;
	margin-bottom: 0;
	float: left;
    padding-bottom: 40px;
	@media (min-width: 375px){
		margin-top: 0px;
		font-size: 2rem;
	}
	@media (min-width: 768px){
		padding-bottom: 10px;
	}
}
.transaction-container {
	font-size: 14px;
	@media (min-width: 576px){
		font-size: 16px;
	}
	tr td {
		&:last-child{
			text-align: right;
			@media (min-width: 768px){
				text-align: left;
			}
		}
	}
}