.loadingGraphs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 99;

  .audit-in-progress-text {
    color: var(--transparent-fg);
    font-size: 14px;
    font-weight: 500;
  }
}