.latest-transactions {
  width: 100%;
  text-align: left;
  table-layout:fixed;
  tr, td, th {
    border: 0px;
    padding-top: 0.71rem !important;
    padding-bottom: 0.75rem !important;
  }
  td {
    overflow:hidden;
    width: 25%;
  }
  .table-cell-txid {
    display: none;
    @media (min-width: 1100px) {
      display: table-cell;
    }
  }
  .table-cell-satoshis {
    text-align: right;
    @media (max-width: 395px) {
      padding-right: 2.5rem ;
    }
    .satoshis-link {
      display: inline;
      @media (min-width: 1100px) {
        display: none;
      }
    }
    .satoshis-nolink {
      display: none;
      @media (min-width: 1100px) {
        display: inline;
      }
    }
  }
  .table-cell-fiat {
    display: none;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @media (min-width: 395px) {
      display: table-cell;
    }
  }
  .table-cell-date {
    text-align: right;
    @media (max-width: 395px) {
      padding-right: 2.5rem ;
    }
  }
}
.skeleton-loader-transactions {
  max-width: 250px;
  position: relative;
  top: 2px;
  margin-bottom: -3px;
  height: 18px;
}