<div class="mb-2 box-top">
  <div class="box-left">
    <h2 class="mb-0">{{ channel.alias || '?' }}</h2>
    <a [routerLink]="['/lightning/node' | relativeUrl, channel.public_key]" >
      {{ channel.public_key | shortenString : 12 }}
    </a>
    <app-clipboard [text]="channel.node1_public_key"></app-clipboard>
  </div>
  <div class="box-right">
    <div class="second-line">{{ channel.channels }} channels</div>
    <div class="second-line"><app-amount [satoshis]="channel.capacity" digitsInfo="1.2-2"></app-amount></div>
  </div>
</div>
<div class="box">

  <div class="col-md">
    <table class="table table-borderless table-striped">
      <tbody>
        <tr>
          <td i18n="address.total-sent">Fee rate</td>
          <td>
            {{ channel.fee_rate }} <span class="symbol">ppm ({{ channel.fee_rate / 10000 | number }}%)</span>
          </td>
        </tr>
        <tr>
          <td i18n="address.total-sent">Base fee</td>
          <td>
            <app-sats [satoshis]="channel.base_fee_mtokens / 1000"></app-sats>
          </td>
        </tr>
        <tr>
          <td i18n="address.total-sent">Min HTLC</td>
          <td>
            <app-sats [satoshis]="channel.min_htlc_mtokens / 1000"></app-sats>
          </td>
        </tr>
        <tr>
          <td i18n="address.total-sent">Max HTLC</td>
          <td>
            <app-sats [satoshis]="channel.max_htlc_mtokens / 1000"></app-sats>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>