.box-top {
  display: flex;
}

.box-left {
  width: 100%;
}

.box-right {
  text-align: right;
  margin: auto;
  white-space: nowrap;
}

.shared-block {
  color: var(--transparent-fg);
  font-size: 12px;
}

@media (max-width: 768px) {
  .box {
    margin-bottom: 20px;
  }
}

.base-fee {
  @media (max-width: 768px) {
    padding-right: 0px;
  }
}