<div class="mb-2 box-top">
  <div class="box-left text-truncate">
    <h3 class="mb-0 text-truncate">{{ channel.alias || '?' }}</h3>
    <a [routerLink]="['/lightning/node' | relativeUrl, channel.public_key]" >
      {{ channel.public_key | shortenString : 12 }}
    </a>
    <app-clipboard [text]="channel.public_key"></app-clipboard>
  </div>
  <div class="box-right">
    <div class="second-line">{{ channel.channels }} channels</div>
    <div class="second-line"><app-amount [satoshis]="channel.capacity" digitsInfo="1.2-2"></app-amount></div>
  </div>
</div>
<div class="box">

  <div class="col-md">
    <table class="table table-borderless table-striped">
      <tbody>
        <tr>
          <td i18n="address.total-sent">Fee rate</td>
          <td>
            {{ channel.fee_rate ?? '-' }} <span class="symbol">ppm ({{ channel.fee_rate / 10000 | number }}%)</span>
          </td>
        </tr>
        <tr>
          <td i18n="address.total-sent">Base fee</td>
          <td>
            <app-sats [valueOverride]="!channel.base_fee_mtokens ? '- ' : undefined" [satoshis]="channel.base_fee_mtokens / 1000" digitsInfo="1.0-2"></app-sats>
          </td>
        </tr>
        <tr>
          <td i18n="address.total-sent">Min HTLC</td>
          <td>
            <app-sats [valueOverride]="!channel.min_htlc_mtokens ? '- ' : undefined" [satoshis]="channel.min_htlc_mtokens / 1000"></app-sats>
          </td>
        </tr>
        <tr>
          <td i18n="address.total-sent">Max HTLC</td>
          <td>
            <app-sats [valueOverride]="!channel.max_htlc_mtokens ? '- ' : undefined" [satoshis]="channel.max_htlc_mtokens / 1000"></app-sats>
          </td>
        </tr>
        <tr>
          <td i18n="address.total-sent">Timelock delta</td>
          <td>
            <ng-container *ngTemplateOutlet="blocksPlural; context: {$implicit: channel.cltv_delta ?? '-' }"></ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #blocksPlural let-i i18n="shared.blocks">{{ i }} <span class="shared-block">blocks</span></ng-template>
