<div style="width: 100%">

  <table class="table table-borderless" style="width: 100%">
    <thead>
      <th class="" i18n="" style="width: 33%">Rank</th>
      <th class="" i18n="" style="width: 33%">Alias</th>
      <th class="" i18n="" style="width: 33%">Placeholder</th>
    </thead>
    <tbody>
    </tbody>
  </table>

  <ng-template #skeleton>
    <tbody>
      <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <td class="">
          <span class="skeleton-loader"></span>
        </td>
        <td class="">
          <span class="skeleton-loader"></span>
        </td>
        <td class="">
          <span class="skeleton-loader"></span>
        </td>
      </tr>
    </tbody>
  </ng-template>

</div>