.fee-card {
  padding: 15px;
  background-color: #1d1f31;

  .feerate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .rate {
      font-size: 0.9em;
      .symbol {
        color: white;
      }
    }
  }
}

.btn-border {
  border: solid 1px black;
  background-color: #0c4a87;
}

.feerate.active {
  background-color: #105fb0 !important;
  opacity: 1;
  border: 1px solid #007fff !important;
}
.feerate:focus {
  box-shadow: none !important;
}

.estimateDisabled {
  opacity: 0.5;
  pointer-events: none;
}

.table-toggle {
  width: 100%;
  margin-top: 0.5em;
}

.tab {
  &:first-child {
    margin-right: 1px;
  }
  border: solid 1px black;
  border-bottom: none;
  background-color: #323655;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.tab.active {
  background-color: #5d659d !important;
  opacity: 1;
}
.tab:focus {
  box-shadow: none !important;
}

.table-accelerator {
  tr {
    td {
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: baseline;
    }

    &.group-first {
      td {
        padding-top: 0.75rem;
      }
    }
    &.group-last {
      td {
        padding-bottom: 0.75rem;
      }
    }
  }
  td {
    &:first-child {
      width: 100vw;
    }
    &.info {
      color: #6c757d;
      white-space: initial;
    }
    &.amt {
      text-align: right;
      padding-right: 0.2em;
    }
    &.units {
      padding-left: 0.2em;
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.accelerate-cols {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 1em;
}

.item {
  white-space: initial;
}