.qr-wrapper {
  background-color: #fff;
  padding: 10px;
  padding-bottom: 5px;
  display: inline-block;
  margin-right: 25px;
}

@media (min-width: 576px) {
  .qrcode-col {
    text-align: right;
  }
}
@media (max-width: 575.98px) {
  .qrcode-col {
    text-align: center;
  }

  .qrcode-col > div {
    margin-top: 20px;
    margin-right: 0px;
  }
}

h1 {
  margin: 0px;
  padding: 0px;
  margin-right: 15px;
  @media (min-width: 576px) {
    float: left;
  }
}

.tx-link {
  display: block;
  height: 100%;
  top: 9px;
  position: relative;
	@media (min-width: 576px) {
    top: 11px;
	}
  @media (min-width: 768px) {
    top: 17px;
  }
}
.title-tx {
  h2 {
    line-height: 1;
    margin-bottom: 10px;
  }
}

.assetIcon {
  height: 150px;
  margin: 25px;
  @media (min-width: 768px) {
    height: 250px;
    margin: 0;
  }
}

.icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.defaultIcon {
  margin: 25px;
  height: 150px;
}

.defaultIcon.skeleton {
  opacity: 0.5;
}

.assetName {
  word-break: break-word;
  white-space: normal;
}
