.qr-wrapper {
  background-color: #FFF;
  padding: 10px;
  padding-bottom: 5px;
  display: inline-block;
  margin-right: 25px;
}

@media (min-width: 576px) {
  .qrcode-col {
    text-align: right;
  }
}
@media (max-width: 575.98px) {
  .qrcode-col {
    text-align: center;
  }

  .qrcode-col > div {
    margin-top: 20px;
    margin-right: 0px;
  }
}

h1 {
  margin: 0px;
  padding: 0px;
  margin-right: 15px;
  @media (min-width: 576px) {
    float: left;
  }
}

.tx-link {
  display: block;
  width: 100%;
  top: 14px;
  position: relative;
  @media (min-width: 768px) {
    top: 20px;
  }
}
