.fee-estimation-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  @media (min-width: 376px) {
    flex-direction: row;
  }  
  .item {
    max-width: 300px;
    margin: 0;
    width: -webkit-fill-available;
    @media (min-width: 376px) {
      margin: 0 auto 0px;
    }

    .card-title {
      margin: 0;
      color: var(--title-fg);
      font-size: 10px;
      font-size: 1rem;
      white-space: nowrap;
    }

    .card-text {
      font-size: 22px;
      span {
        font-size: 11px;
        position: relative;
        top: -2px;
      }
    }

    .card-text span {
      color: var(--transparent-fg);
      font-size: 12px;
      top: 0px;
    }
    .fee-text{
      border-bottom: 1px solid #ffffff1c;
      width: fit-content;
      margin: auto;
      line-height: 1.45;
      padding: 0px 2px;
    }
    .fiat {
      display: block;
      font-size: 14px !important;
    }
  }
}

.card-text {
  .skeleton-loader {
    width: 100%;
    display: block;
    &:first-child {
      max-width: 90px;
      margin: 15px auto 3px;
    }
    &:last-child {
      margin: 10px auto 3px;
      max-width: 55px;
    }
  }
}

.title-link, .title-link:hover, .title-link:focus, .title-link:active {
  display: block;
  margin-bottom: 4px;
  text-decoration: none;
  color: inherit;
}

.credit {
  color: var(--green);
}

.debit {
  color: var(--red);
}