<div class="full-container h-100">

  <div class="card-header">
    <span i18n="lightning.nodes-per-as">Nodes per AS</span>
    <button class="btn" style="margin: 0 0 4px 0px" (click)="onSaveChart()">
      <fa-icon [icon]="['fas', 'download']" [fixedWidth]="true"></fa-icon>
    </button>
  </div>

  <div class="container pb-lg-0 bottom-padding">
    <div class="pb-lg-5" *ngIf="nodesPerAsObservable$ | async">
      <div class="chart w-100" echarts [initOpts]="chartInitOptions" [options]="chartOptions"
        (chartInit)="onChartInit($event)">
      </div>
    </div>

    <div class="text-center loadingGraphs" *ngIf="isLoading">
      <div class="spinner-border text-light"></div>
    </div>

    <table class="table table-borderless text-center">
      <thead>
        <tr>
          <th *ngIf="!isMobile()" i18n="mining.rank">Rank</th>
          <th i18n="lightning.as-name">Name</th>
          <th *ngIf="!isMobile()" i18n="lightning.share">Share</th>
          <th i18n="lightning.nodes">Nodes</th>
          <th i18n="lightning.capacity">Capacity</th>
        </tr>
      </thead>
      <tbody [attr.data-cy]="'pools-table'" *ngIf="(nodesPerAsObservable$ | async) as asList">
        <tr *ngFor="let asEntry of asList">
          <td *ngIf="!isMobile()">{{ asEntry.rank }}</td>
          <td class="text-truncate" style="max-width: 100px">{{ asEntry.name }}</td>
          <td *ngIf="!isMobile()">{{ asEntry.share }}%</td>
          <td>{{ asEntry.count }}</td>
          <td><app-amount [satoshis]="asEntry.capacity" [digitsInfo]="'1.2-2'" [noFiat]="true"></app-amount></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>