<div *ngIf="(federationUtxos$ | async) as federationUtxos; else loadingData">
  <div *ngIf="(federationAddresses$ | async) as federationAddresses; else loadingData">
    <div class="fee-estimation-container">
      <div class="item">
        <a class="title-link" [routerLink]="['/audit/utxos' | relativeUrl]">
          <h5 class="card-title" i18n="dashboard.federation-utxos">Outputs <fa-icon [icon]="['fas', 'external-link-alt']" [fixedWidth]="true" style="font-size: 13px; color: #4a68b9"></fa-icon></h5>
        </a>
        <div class="card-text">
          <div class="fee-text">{{ federationUtxos.length }} <span>UTXOs</span></div>
          <span class="fiat" *ngIf="(federationUtxosOneMonthAgo$ | async) as federationUtxosOneMonthAgo" i18n-ngbTooltip="liquid.percentage-change-last-month" ngbTooltip="Percentage change past month" placement="bottom">
            <app-change [current]="federationUtxos.length" [previous]="federationUtxosOneMonthAgo.length"></app-change>
          </span>
        </div>
      </div>
      <div class="item">
        <h5 class="card-title" i18n="dashboard.federation-addresses">Addresses</h5>
        <div class="card-text">
          <div class="fee-text">{{ federationAddresses.length }} <span>addresses</span></div>
          <span class="fiat" *ngIf="(federationAddressesOneMonthAgo$ | async) as federationAddressesOneMonthAgo" i18n-ngbTooltip="liquid.percentage-change-last-month" ngbTooltip="Percentage change past month" placement="bottom">
            <app-change [current]="federationAddresses.length" [previous]="federationAddressesOneMonthAgo.length"></app-change>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingData>
  <div class="fee-estimation-container loading-container">
    <div class="item">
      <h5 class="card-title" i18n="dashboard.federation-utxos">Outputs</h5>
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
    <div class="item">
      <h5 class="card-title" i18n="dashboard.federation-addresses">Addresses</h5>
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
  </div>
</ng-template>

