.card-header {
  border-bottom: 0;
  font-size: 18px;
  @media (min-width: 465px) {
    font-size: 20px;
  }
  @media (min-width: 992px) {
    height: 40px;
  }
}

.main-title {
  position: relative;
  color: var(--fg);
  opacity: var(--opacity);
  margin-top: -13px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3px;
}

.full-container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  width: 100%;
  height: calc(100vh - 225px);
  min-height: 400px;
  @media (min-width: 992px) {
    height: calc(100vh - 150px);
  }
}

.chart {
  display: flex;
  flex: 1;
  width: 100%;
  padding-bottom: 20px;
  padding-right: 10px;
  @media (max-width: 992px) {
    padding-bottom: 25px;
  }
  @media (max-width: 829px) {
    padding-bottom: 50px;
  }
  @media (max-width: 767px) {
    padding-bottom: 50px;
  }
}
.chart-widget {
  width: 100%;
  height: 100%;
  max-height: 293px;
}

.loadingGraphs {
  position: absolute;
  top: 50%;
  left: calc(50% - 15px);
  z-index: 99;
}
.loadingGraphs.widget {
  top: 75%;
}
