<div class="container-xl">
  <h1 class="text-left" i18n="shared.broadcast-transaction|Broadcast Transaction">Broadcast Transaction</h1>

  <form [formGroup]="pushTxForm" (submit)="pushTxForm.valid && postTx()" novalidate>
    <div class="mb-3">
      <div formArrayName="txHash">
        <div *ngFor="let tx of getTxs().controls; index as i">
          <textarea [formControlName]="i" class="form-control mb-3" rows="5" i18n-placeholder="transaction.hex" placeholder="Transaction hex"></textarea>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-3">
      <button [disabled]="isLoading" type="submit" class="btn btn-primary mr-2" i18n="shared.broadcast-transaction|Broadcast Transaction">Broadcast Transaction</button>
      <button [disabled]="isLoading" class="btn btn-secondary" (click)="addTx()">Add Child Transaction</button>
    </div>
    <p class="red-color d-inline">{{ error }}</p> 
    <div *ngFor="let txId of txIds">
      <a [routerLink]="['/tx/' | relativeUrl, txId]">{{ txId }}</a>
    </div>
  </form>

</div>