.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1d1f31;
  box-shadow: 15px 15px 15px 15px #000;
}

.footer > .container {
  margin-top: 17px;
}

.txPerSecond {
  color: #4a9ff4;
}

.mempoolSize {
  color: #4a68b9;
}

.unconfirmedTx {
  color: #f14d80;
}

.info-block {
  float: left;
  width: 350px;
  line-height: 25px;
}

.progress {
  display: inline-flex;
  width: 160px;
  background-color: #2d3348;
  height: 1.1rem;
}

.progress-bar {
  padding: 4px;
}

.bg-warning {
  background-color: #b58800 !important;
}
