.blocks {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  &.wrap {
    flex-wrap: wrap;
  }

  .block-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    --block-width: 1080px;

    .info {
      position: absolute;
      left: 8%;
      top: 8%;
      right: 8%;
      bottom: 8%;
      height: 84%;
      width: 84%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: calc(var(--block-width) * 0.03);
      text-shadow: 0 0 calc(var(--block-width) * 0.05) black;

      h1 {
        font-size: 6em;
        line-height: 1;
        margin-bottom: calc(var(--block-width) * 0.03);
      }
      h2 {
        font-size: 1.8em;
        line-height: 1;
        margin-bottom: calc(var(--block-width) * 0.03);
      }

      .hash {
        font-family: monospace;
        word-wrap: break-word;
        font-size: 1.4em;
        line-height: 1;
        margin-bottom: calc(var(--block-width) * 0.03);
      }

      .mined-by {
        position: absolute;
        bottom: 0;
        margin: auto;
        text-align: center;
      }
    }
  }

  .block-container {
    overflow: hidden;
  }
}