.card-header {
  border-bottom: 0;
  font-size: 18px;

  @media (min-width: 465px) {
    font-size: 20px;
  }
}

.full-container {
  padding: 0px 15px;
  width: 100%;
  min-height: 500px;
  height: calc(100% - 150px);

  @media (max-width: 992px) {
    height: 100%;
    padding-bottom: 100px;
  }
}

.full-container.nodepage {
  margin-top: 25px;
  margin-bottom: 25px;
}

.full-container.widget {
  height: 250px;
  min-height: 250px;
}

.widget {
  width: 99vw;
  height: 250px;
  -webkit-mask: linear-gradient(0deg, #11131f00 5%, #11131fff 25%);
}

.widget > .chart {
  -webkit-mask: linear-gradient(180deg, #11131f00 0%, #11131fff 20%);
  min-height: 250px;
}

.chart {
  min-height: 500px;
  width: 100%;
  height: 100%;
  padding-right: 10px;
  @media (max-width: 992px) {
    padding-bottom: 25px;
  }
  @media (max-width: 829px) {
    padding-bottom: 50px;
  }
  @media (max-width: 767px) {
    padding-bottom: 25px;
  }
  @media (max-width: 629px) {
    padding-bottom: 55px;
  }
  @media (max-width: 567px) {
    padding-bottom: 55px;
  }
}