<div class="full-container" [class]="widget ? 'widget' : ''" [class.fit-container]="fitContainer">

  <div *ngIf="!widget" class="card-header">
    <div class="d-flex d-md-block align-items-baseline" style="margin-bottom: -5px">
      <span i18n="lightning.nodes-world-map">Lightning nodes world map</span>
    </div>
    <small style="color: #ffffff66" i18n="lightning.tor-nodes-excluded">(Tor nodes excluded)</small>
  </div>

  <div *ngIf="observable$ | async" class="chart" [class]="widget ? 'widget' : ''" echarts [initOpts]="chartInitOptions" [options]="chartOptions"
    (chartInit)="onChartInit($event)" (chartFinished)="onChartFinished($event)">
  </div>

</div>
