<ng-container *ngIf="rateUnits$ | async as units">
  <ng-container *ngIf="fee !== undefined; else noFee">
    @if (softDecimals) {
      <ng-container *ngIf="units !== 'wu'">{{ getIntegerPart(fee / (weight / 4)) }}<span class="soft-decimals">{{ getDecimalPart(fee / (weight / 4)) }}</span> <span *ngIf="showUnit" [class]="unitClass" [style]="unitStyle" i18n="shared.sat-vbyte|sat/vB">sat/vB</span></ng-container>
      <ng-container *ngIf="units === 'wu'">{{ getIntegerPart(fee / weight) }}<span class="soft-decimals">{{ getDecimalPart(fee / weight) }}</span> <span *ngIf="showUnit" [class]="unitClass" [style]="unitStyle" i18n="shared.sat-weight-units|sat/WU">sat/WU</span></ng-container>
    } @else {
      <ng-container *ngIf="units !== 'wu'">{{ fee / (weight / 4) | feeRounding:rounding:dp }} <span *ngIf="showUnit" [class]="unitClass" [style]="unitStyle" i18n="shared.sat-vbyte|sat/vB">sat/vB</span></ng-container>
      <ng-container *ngIf="units === 'wu'">{{ fee / weight | feeRounding:rounding:dp }} <span *ngIf="showUnit" [class]="unitClass" [style]="unitStyle" i18n="shared.sat-weight-units|sat/WU">sat/WU</span></ng-container>
    }
  </ng-container>
  <ng-template #noFee>
      <ng-container *ngIf="units !== 'wu'">- <span *ngIf="showUnit" [class]="unitClass" [style]="unitStyle" i18n="shared.sat-vbyte|sat/vB">sat/vB</span></ng-container>
      <ng-container *ngIf="units === 'wu'">- <span *ngIf="showUnit" [class]="unitClass" [style]="unitStyle" i18n="shared.sat-weight-units|sat/WU">sat/WU</span></ng-container>
  </ng-template>
</ng-container>