footer {
  background-color: #1d1f31;
  margin-top: 30px;
}

footer a {
  color: rgba(255, 255, 255, 0.4);
}

footer p {
  margin-bottom: 0.25rem;
}

footer .row.main {
  padding: 40px 0 24px 0;
  max-width: 1140px;
  margin: 0 auto;
}

footer .row.main .branding > p {
  margin-bottom: 45px;
}

footer .row.main .branding .btn {
  display: inline-block;
  color: #fff !important;
}

footer .row.main .branding button.account {
  background-color: #2d3348;
}

footer .row.main .branding .cta {
  margin: 25px auto 25px auto;
}

footer .link-tree .links:nth-child(1), footer .link-tree .links:nth-child(4) {
  padding-left: 0;
  padding-right: 0;
}

footer .link-tree .links p {
  padding-right: 5px;
}

footer .row.main .links > div:first-child {
  margin-bottom: 20px;
}

footer .links .category {
  color: #4a68b9;
  font-weight: 700;
}

footer .row.main .links .category:not(:first-child) {
  margin-top: 1rem;
}

footer .site-options {
  float: right;
  margin-top: -8px;
}

footer .selector {
  margin: 20px 5px;
  display: inline-block;
}

footer .row.link-tree {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

footer .row.social-links {
  text-align: center;
  margin: 24px 0;
}

footer .row.social-links a {
  margin: 0 14px;
}

footer .row.social-links svg {
  width: 20px;
}

footer .row.version {
  padding: 20px !important;
  background-color: #11131f;
}

footer .row.version p {
  margin-bottom: 0;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

footer .row.version p a {
  color: #09a3ba;
}

.main-logo {
  width: 220px;
  margin: 0;
  display: inline-block;
}

@media (max-width: 1200px) {

  .main-logo {
    width: 200px;
  }

  footer .row.main {
    max-width: 90%;
  }

  footer .row.link-tree {
    max-width: 90%;
    font-size: 13px;
    gap: 20px;
  }

  footer .row.social-links svg {
    width: 18px;
  }

}

@media (max-width: 900px) {

  .main-logo {
    width: 220px;
  }

  footer .row.link-tree {
    font-size: 16px;
  }

  footer .row.social-links svg {
    width: 20px;
  }

  footer .row.link-tree {
    display: block;
    text-align: center;
  }

  footer .link-tree .links {
    margin-bottom: 20px;
  }

  footer .row.main .branding {
    text-align: center;
  }

  .main-logo {
    display: block;
    margin: 0 auto;
  }

  footer .site-options {
    float: none;
    margin-top: 30px;
  }

  footer .row.social-links {
    margin: 48px 0 24px 0;
  }

  footer .selector {
    margin: 10px 0 0 0;
  }

  footer .selector:not(:last-child) {
    margin-right: 10px;
  }
}
