footer {
  text-align: center;
}

.terms-of-service {
  margin-top: 1rem;
}

.pref-selectors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .selector {
    margin-left: .5em;
    margin-bottom: .5em;
    &:first {
      margin-left: 0;
    }
  }
}
