
@keyframes squareDark {
  0% {
    height: 45%;
  }
  75% {
    height: 65%;
  }
  100% {
    height: 45%;
  }
}

@keyframes squareLight {
  0% {
    height: 55%;
  }
  75% {
    height: 35%;
  }
  100% {
    height: 55%;
  }
}

.logo-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text {
  display: flex;
  margin-left: 7px;
  flex-direction: column;
  text-align: left;
  line-height: 0.85;
  font-family: "Stem";
  font-size: 20px;
  position: relative;
  top: 1px;
  letter-spacing: 0.5px;
  font-weight: 500;
  span {
    font-weight: 400;
    color: #9856ff;
  }
}
.logo {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}

.square-dark {
  animation: squareDark infinite 3000ms cubic-bezier(0.47, 0.3, 0.74, 0.69);
  background-color: #2e3349;
  height: 50%;
}

.square-light {
  animation: squareLight infinite 3000ms cubic-bezier(0.47, 0.3, 0.74, 0.69);
  background-color: purple;
  background-image: linear-gradient(#8982f5,#7198f0, #51cee3);
  height: 50%;
}

.rectangle-light {
  background-color: #fff;
  border-radius: 2px;
  height: 50%;
  margin: 7px 0px 0px 23px;
  opacity: 0.25;
  position: absolute;
  width: 8px;
}
.big {
  .logo{
    width: 66px;
    height: 66px;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
  }
  .text{
    margin-left: 14px;
    line-height: 0.85;
    font-size: 36px;
  }
  .rectangle-light{
    border-radius: 3px;
    height: 5.5%;
    margin: 7px 0px 0px 47px;
    opacity: 0.25;
    width: 11px;
  }
}
