.image {
  width: 150px;
  float: left;
}

.main-title {
  float: left
}

.sub-title {
  color: grey;
}

.featuredBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 27px;
}

.card {
  background-color: var(--bg);
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: 767.98px) {
    width: 150px;
    height: 150px;
  }
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.sub-title {
  color: grey;
}

.assetIcon {
  width: 100px;
  height: 100px;
  @media (max-width: 767.98px) {
    width: 50px;
    height: 50px;
  }
}

.view-link {
  margin-top: 30px;
}

.ticker {
  color: grey;
}
