.progress {
  background-color: #2d3348;
}

@media (min-width: 768px) {
  .d-md-block {
      display: table-cell !important;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
      display: table-cell !important;
  }
}
