.logo-container {
  width: 250px;
  margin: auto;
}

.header {
  text-align: center;
}

.qr-wrapper {
  background-color: #FFF;
  padding: 10px;
  padding-bottom: 5px;
  display: inline-block;

  
  position: absolute;
  bottom: 50px;
  left: -175px;
  z-index: 100;
}

.dropdownLabel {
  min-width: 50px;
  display: inline-block;
}

#inputGroupFileAddon04 {
  position: relative;
}

.toggle-holder {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .text-truncate {
    width: 120px;
  }
  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}

.second-line {
  font-size: 12px;
}

