.table {
  font-size: 32px;
  margin-top: 0px;
}

.logo-wrapper {
  position: relative;
  width: 62px;
  height: 62px;
  margin-right: 1em;

  img {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.description-wrapper {
  width: 100%;
  margin: 16px 0 0;
  padding: 20px 12px;
  background: var(--stat-box-bg);
  font-size: 32px;
}

.description-text {
  width: 100%;
  line-height: 36px;
  height: 72px;
  max-height: 72px;
  min-height: 72px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.map-col {
  flex-grow: 0;
  flex-shrink: 0;
  width: 470px;
  height: 272px;
  min-width: 470px;
  min-height: 272px;
  max-height: 272px;
  padding: 0;
  background: var(--stat-box-bg);
  overflow: hidden;
  margin-top: 16px;
}

.row {
  margin-right: 0;
}

.full-width-row {
  padding-left: 15px;
  flex-wrap: nowrap;
}

::ng-deep .symbol {
  font-size: 24px;
}