<div class="fee-estimation-container">
  <div class="item">
    <ng-container *ngIf="(reserveBalance$ | async) as reserveBalance; else loadingSolvency">
      <h5 *ngIf="reserveBalance.amount >= 0; else insolventTitle" class="card-title" i18n="liquid.solvent">Solvent</h5>
      <ng-template #insolventTitle>
        <h5 class="card-title" i18n="liquid.insolvent">Insolvent</h5>
      </ng-template>
      <div class="card-text">
        <div *ngIf="reserveBalance.amount >= 0; else insolvent" class="fee-text" role="img" aria-label="Solvent" i18n-aria-label="liquid.solvent-status">✅</div>
        <ng-template #insolvent>
          <div class="fee-text" role="img" tabindex="0" aria-label="Insolvent" i18n-aria-label="liquid.insolvent-status" ngbTooltip="Federation reserves are below LBTC circulation." i18n-ngbTooltip="liquid.insolvent-tooltip">🚨</div>
        </ng-template>
      </div>
    </ng-container>
    <ng-template #loadingSolvency>
      <h5 class="card-title" i18n="liquid.solvency">Solvency</h5>
      <ng-container *ngTemplateOutlet="loadingData"></ng-container>
    </ng-template>
  </div>

  <div class="item">
    <ng-container *ngIf="(reserveBalance$ | async) as reserveBalance; else loadingBalance">
      <h5 *ngIf="reserveBalance.amount < 0; else surplusTitle" class="card-title" i18n="liquid.reserve-deficit">Reserve Deficit</h5>
      <ng-template #surplusTitle>
        <h5 class="card-title" i18n="liquid.reserve-surplus">Reserve Surplus</h5>
      </ng-template>
      <div class="card-text">
        <div class="fee-text">
          {{ reserveBalance.amount | number: '1.2-2' }} <span i18n="shared.btc|BTC">BTC</span>
        </div>
      </div>
    </ng-container>
    <ng-template #loadingBalance>
      <h5 class="card-title" i18n="liquid.reserve-deficit">Reserve Deficit</h5>
      <ng-container *ngTemplateOutlet="loadingData"></ng-container>
    </ng-template>
  </div>

  <div class="item emergency-keys">
    <!-- <a class="title-link" [routerLink]="['/audit/emergency-spends' | relativeUrl]">
      <h5 class="card-title"><ng-container i18n="liquid.forfeited-utxos">Forfeited UTXOs</ng-container>&nbsp;<fa-icon [icon]="['fas', 'external-link-alt']" [fixedWidth]="true" style="font-size: 13px; color: var(--title-fg)"></fa-icon></h5>
    </a> -->
    <h5 class="card-title" i18n="liquid.emergency-keys">Emergency Keys</h5>
    <div *ngIf="(emergencyUtxosStats$ | async) as emergencyUtxosStats; else loadingData" class="card-text">
      <div *ngIf="emergencyUtxosStats.utxo_count > 0; else noEmergencyKeyUsage" class="fee-text" role="img" tabindex="0" aria-label="Emergency key usage recorded" i18n-aria-label="liquid.emergency-keys-used" ngbTooltip="Emergency key usage has been recorded." i18n-ngbTooltip="liquid.emergency-keys-used-tooltip">🚨</div>
      <ng-template #noEmergencyKeyUsage>
        <div class="fee-text" role="img" tabindex="0" aria-label="No recorded emergency key usage" i18n-aria-label="liquid.emergency-keys-unused" ngbTooltip="No emergency key usage has been recorded." i18n-ngbTooltip="liquid.emergency-keys-unused-tooltip">🔒</div>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #loadingData>
  <div class="card-text">
    <div class="skeleton-loader"></div>
  </div>
</ng-template>
