.fee-estimation-container {
  display: flex;
  justify-content: space-between;
  @media (min-width: 376px) {
    flex-direction: row;
  }

  .avg-ratio {
    display: none;
    @media (min-width: 480px) and (max-width: 767px), (min-width: 915px) {
      display: block;
    }
  }
  
  .item {
    max-width: 300px;
    margin: 0;
    width: -webkit-fill-available;
    @media (min-width: 376px) {
      margin: 0 auto 0px;
    }

    .card-title {
      margin-bottom: 4px;
      color: #4a68b9;
      font-size: 10px;
      font-size: 1rem;
      white-space: nowrap;
    }

    .card-text {
      font-size: 22px;
      span {
        font-size: 11px;
        position: relative;
        top: -2px;
      }
      .danger {
        color: #D81B60;
      }
      .correct {
        color: #7CB342;
      }
    }

    .card-text span {
      color: #ffffff66;
      font-size: 12px;
      top: 0px;
    }
    .fee-text{
      width: fit-content;
      margin: auto;
      line-height: 1.45;
      padding: 0px 2px;
    }
  }
}

.loading-container{
  min-height: 76px;
}

.card-text {
  .skeleton-loader {
    width: 100%;
    display: block;
    max-width: 90px;
    margin: 15px auto 3px;
  }
}
