.accept-results {
  td, th {
    &.allowed {
      width: 10%;
      text-align: center;
    }
    &.txid {
      width: 50%;
    }
    &.rate {
      width: 20%;
      text-align: right;
      white-space: wrap;
    }
    &.reason {
      width: 20%;
      text-align: right;
      white-space: wrap;
    }
  }

  @media (max-width: 950px) {
    table-layout: auto;

    td, th {
      &.allowed {
        width: 100px;
      }
      &.txid {
        max-width: 200px;
      }
    }
  }
}