<app-indexing-progress></app-indexing-progress>

<div class="full-container">

  <div class="card-header mb-0 mb-md-4">
  <span i18n="mining.block-rewards">Block Rewards</span>
    <button class="btn" style="margin: 0 0 4px 0px" (click)="onSaveChart()">
      <fa-icon [icon]="['fas', 'download']" [fixedWidth]="true"></fa-icon>
    </button>
    <form [formGroup]="radioGroupForm" class="formRadioGroup" *ngIf="(statsObservable$ | async) as stats">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="dateSpan">
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount >= 144">
          <input ngbButton type="radio" [value]="'24h'" fragment="24h"> 24h
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount >= 432">
          <input ngbButton type="radio" [value]="'3d'" fragment="3d"> 3D
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount >= 1008">
          <input ngbButton type="radio" [value]="'1w'" fragment="1w"> 1W
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount >= 4320">
          <input ngbButton type="radio" [value]="'1m'" fragment="1m"> 1M
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount >= 12960">
          <input ngbButton type="radio" [value]="'3m'" fragment="3m"> 3M
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount >= 25920">
          <input ngbButton type="radio" [value]="'6m'" fragment="6m"> 6M
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount >= 52560">
          <input ngbButton type="radio" [value]="'1y'" fragment="1y"> 1Y
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount >= 105120">
          <input ngbButton type="radio" [value]="'2y'" fragment="2y"> 2Y
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount >= 157680">
          <input ngbButton type="radio" [value]="'3y'" fragment="3y"> 3Y
        </label>
        <label ngbButtonLabel class="btn-primary btn-sm" *ngIf="stats.blockCount > 157680">
          <input ngbButton type="radio" [value]="'all'" fragment="all"> ALL
        </label>
      </div>
    </form>
  </div>

  <div class="chart" echarts [initOpts]="chartInitOptions" [options]="chartOptions"
    (chartInit)="onChartInit($event)">
  </div>
  <div class="text-center loadingGraphs" *ngIf="isLoading">
    <div class="spinner-border text-light"></div>
  </div>

</div>