.dashboard-container {
  padding-bottom: 60px;
  @media (min-width: 992px) {
    padding-bottom: 0px;
  }
  .table {
    font-size: 0.9em;
    @media (min-width: 1200px) {
      font-size: 1em;
    }
    .fiat{
      color: #ffffff61;
      font-size: 10px;
    }
  }
}

.card {
  background-color: #1d1f31;
  height: 100%;
}

.card-title {
  color: #4a68b9;
  font-size: 1rem;
  @media (min-width: 376px) {
    font-size: 0.9rem;
  }
  @media (min-width: 768px) {
    font-size: 0.75rem;
  }
  @media (min-width: 992px) {
    font-size: 1.15rem;
  }
}

.info-block {
  float: left;
  width: 350px;
  line-height: 25px;
}

.progress {
  display: inline-flex;
  width: 100%;
  background-color: #2d3348;
  height: 1.1rem;
}

.bg-warning {
  background-color: #b58800 !important;
}

.skeleton-loader {
  max-width: 100%;
}

.more-padding {
  padding: 1.25rem 2rem 1.25rem 2rem;
}

.graph-card {
  height: 100%;
  @media (min-width: 992px) {
    height: 385px;
  }
}

.mempool-info-data {
  display: block;
  @media (min-width: 376px) {
    display: flex;
    flex-direction: row; 
  }
  h5 {
    margin-bottom: 10px;
  } 
  .item {
    width: 124px;
    margin: 0px auto 20px;
    display: inline-block;
    @media (min-width: 376px) {
      width: 100%;
      margin: 0px auto 0px;
    }
    &:last-child {
      margin: 0px auto 0px;
    }
    &:nth-child(2) {
      order: 2;
      @media (min-width: 376px) {
        order: 3
      }
    }
    &:nth-child(3) {
      order: 3;
      @media (min-width: 376px) {
        order: 2
      }
    }
    .card-text {
      font-size: 18px;
      span {
        color: #ffffff61;
        font-size: 12px;
      }
    }
  }
  .bar {
    width: 100%;
    margin: 0px auto 20px;
    @media (min-width: 376px) {
      margin: 0px auto 0px;
    }
  }
}

.latest-transactions {
  .table-cell-fee {
    min-width: 100px;
  }
  .table-cell-satoshis {
    display: none;
    text-align: right;
    width: 180px;
    @media (min-width: 576px) {
      display: table-cell;
    }
    @media (min-width: 768px) {
      display: none;
    }
    @media (min-width: 992px) {
      display: table-cell;
    }
  }
  .table-cell-fiat{
    display: none;
    text-align: right !important;
    width: 110px;
    @media (min-width: 376px) {
      display: block;
      width: 80%;
    }
    @media (min-width: 992px) {
      width: 100%;
    }
  }
}