.dashboard-container {
  padding-bottom: 60px;
  text-align: center;
  margin-top: 0.5rem;
  @media (min-width: 992px) {
    padding-bottom: 0px;
  }
  .col {
    margin-bottom: 1.5rem;
  }
}

.card {
  background-color: #1d1f31;
  height: 100%;
}

.card-title {
  color: #4a68b9;
  font-size: 1rem;
}

.info-block {
  float: left;
  width: 350px;
  line-height: 25px;
}

.progress {
  display: inline-flex;
  width: 100%;
  background-color: #2d3348;
  height: 1.1rem;
}

.bg-warning {
  background-color: #b58800 !important;
}

.skeleton-loader {
  max-width: 100%;
}

.more-padding {
  padding: 18px;
}

.graph-card {
  height: 100%;
  @media (min-width: 992px) {
    height: 385px;
  }
}

.mempool-info-data {
  display: block;
  @media (min-width: 485px) {
    display: flex;
    flex-direction: row; 
  }
  h5 {
    margin-bottom: 10px;
  } 
  .item {
    width: 50%;
    margin: 0px auto 20px;
    display: inline-block;
    @media (min-width: 485px) {
      margin: 0px auto 10px;
    }
    @media (min-width: 785px) {
      margin: 0px auto 0px;
    }
    &:last-child {
      margin: 0px auto 0px;
    }
    &:nth-child(2) {
      order: 2;
      @media (min-width: 485px) {
        order: 3;
      }
    }
    &:nth-child(3) {
      order: 3;
      @media (min-width: 485px) {
        order: 2;
        display: block;
      }
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 992px) {
        display: block;
      }
    }
    .card-text {
      font-size: 18px;
      span {
        color: #ffffff66;
        font-size: 12px;
      }
    }
    .progress {
      width: 90%;
      @media (min-width: 768px) {
        width: 100%;
      }
    }
  }
  .bar {
    width: 93%;
    margin: 0px 5px 20px;
    @media (min-width: 485px) {
      max-width: 200px;
      margin: 0px auto 0px;
    }
  }
}

.latest-transactions {
  width: 100%;
  text-align: left;
  table-layout:fixed; 
  tr, td, th {
    border: 0px;
  }
  td {
    overflow:hidden;
    width: 25%;
  }
  .table-cell-satoshis {
    display: none;
    text-align: right;
    @media (min-width: 576px) {
      display: table-cell;
    }
    @media (min-width: 768px) {
      display: none;
    }
    @media (min-width: 1100px) {
      display: table-cell;
    }
  }
  .table-cell-fiat {
    display: none;
    text-align: right;
    @media (min-width: 485px) {
      display: table-cell;
    }
    @media (min-width: 768px) {
      display: none;
    }
    @media (min-width: 992px) {
      display: table-cell;
    }
  }
  .table-cell-fees {
    text-align: right;
  }
}

.lastest-blocks-table {
  width: 100%;
  text-align: left;
  tr, td, th {
    border: 0px;
  }
  .table-cell-height {
    width: 15%;
  }
  .table-cell-mined {
    width: 35%;
    text-align: right;
    @media (min-width: 376px) {
      text-align: left;
    }
  }
  .table-cell-transaction-count {
    display: none;
    text-align: right;
    width: 20%;
    @media (min-width: 376px) {
      display: table-cell;
    }
  }
  .table-cell-size {
    display: none;
    text-align: center;
    width: 30%;
    @media (min-width: 485px) {
      display: table-cell;
    }
    @media (min-width: 768px) {
      display: none;
    }
    @media (min-width: 992px) {
      display: table-cell;
    }
  }
}

.mempool-graph {
  height: 250px;
}

.inc-tx-progress-bar {
  max-width: 250px;
  .progress-bar {
    padding: 4px;
  }
}

.terms-of-service {
  margin-top: 1rem;
}

.small-bar {
  height: 8px;
  top: -4px;
}

.difficulty-adjustment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 76px;
  .shared-block {
    color: #ffffff66;
    font-size: 12px;
  }
  .item {    
    max-width: 130px;
    padding: 0 5px;
    width: 100%;
    &:nth-child(1){
      display: none;
      @media (min-width: 485px) {
        display: table-cell;
      }
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 992px) {
        display: table-cell;
      }
    }
  }
  .card-text {
    font-size: 22px;
    margin-top: -9px;
    position: relative;
  }
}


.difficulty-skeleton {
  display: flex;
  justify-content: space-between;
  @media (min-width: 376px) {
    flex-direction: row;
  }  
  .item {
    max-width: 150px;
    margin: 0;
    width: -webkit-fill-available;
    @media (min-width: 376px) {
      margin: 0 auto 0px;
    }    
    &:first-child{
      display: none;
      @media (min-width: 485px) {
        display: block;
      }    
      @media (min-width: 768px) {
        display: none;
      }    
      @media (min-width: 992px) {
        display: block;
      }    
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.loading-container{
  min-height: 76px;
}

.card-text {
  .skeleton-loader {
    width: 100%;
    display: block;
    margin: 7px auto;
    &:first-child {
      max-width: 80px;
    }
    &:last-child {
      max-width: 110px;
    }
  }
}

.main-title {
  position: relative;
  color: #ffffff91;
  margin-top: -13px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3px;
}
.card-wrapper {
  .card {
    height: auto !important;
  }
  .card-body {
    display: flex;
    flex: inherit;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 22px 20px;
  }
}