<ng-container *ngIf="(viewFiat$ | async) && (conversions$ | async) as conversions; else viewFiatVin">
  <span>{{ conversions.USD * (satoshis / 100000000) | currency:'USD':'symbol':'1.2-2' }}</span>
</ng-container>
<ng-template #viewFiatVin>
  <ng-template [ngIf]="network === 'liquid' && !satoshis" [ngIfElse]="default">
    Confidential
  </ng-template>
  <ng-template #default>
    {{ satoshis / 100000000 | number : '1.8-8' }} <ng-template [ngIf]="network === 'liquid'">L-</ng-template>BTC
  </ng-template>
</ng-template>
